$('#device_serial-error').remove()
$('#device_limit-error').remove()
$('#serial').parent().removeClass('has-error has-feedback')
$('#refer-error').remove()
$('#refer_code').parent().removeClass('has-error has-feedback')
$('#payment-error').remove()
$('#payment_type').parent().removeClass('has-error has-feedback')
<% if @success == true %>
	$('#subscribe_modal').modal('hide')
	setTimeout(function(){
		$('#register-panel').html('<%= escape_javascript(render("sales_reps/partials/registration_success")).html_safe %>')
	}, 200)
<% else %>
	<% if @device_errors == true %>
		<% if @device.errors[:serial].present? %>
			$('#serial').parent().addClass('has-error has-feedback').append('<div class="text-danger" id="device_serial-error">Serial <%= @device.errors[:serial].join(", ") %></div>')
		<% end %>
		<% if @device.errors[:base].present? %>
			$('#serial').parent().addClass('has-error has-feedback').append('<div class="text-danger" id="device_limit-error"><%= @device.errors[:base] %></div>')
		<% end %>
	<% end %>
	<% if @referral_errors.present? %>
		$('#refer_code').parent().addClass('has-error has-feedback').append('<div class="text-danger" id="refer-error"><%= @referral_message %></div>')
	<% end %>
	<% if @payment_errors == true %>
		$('#payment_type').parent().addClass('has-error has-feedback').append('<div class="text-danger" id="payment-error"><%= @payment_message %></div>')
	<% end %>
<% end %>
