<div class='container'>
	<div class='row'>
		<div class='col-md-6 col-sm-8'>
			<%= form_tag update_sales_rep_address_path, remote: true do %>
			<div class='panel panel-default'>
				<div class='panel-heading' style='position: relative'>
					<h3 class='panel-title'>Mailing Address</h3>
					<div class='upload_image_heading'>
						<%= submit_tag 'Update Address', class: 'btn btn-primary btn-sm', data: {disable_with: 'Updating...'} %>
					</div>
				</div>
				<div class='panel-body'>
					<div class='row'>
						<div class='col-lg-6 form-group'>
							<label>Street Address</label>
							<%= text_field_tag :address_1, current_sales_representative.address_1, class: 'form-control' %>
						</div>
						<div class='col-lg-6 form-group'>
							<label>Address Line 2</label>
							<%= text_field_tag :address_2, current_sales_representative.address_2, class: 'form-control', placeholder: 'Optional' %>
						</div>
					</div>
					<div class='row'>
						<div class='col-lg-6 form-group'>
							<label>City</label>
							<%= text_field_tag :city, current_sales_representative.city, class: 'form-control' %>
						</div>
						<div class='col-lg-6 form-group'>
							<label>State</label>
							<%= text_field_tag :state, current_sales_representative.state, class: 'form-control' %>
						</div>
					</div>
					<div class='row'>
						<div class='col-lg-6 form-group'>
							<label>Country</label>
							<%= select_tag :country, options_for_select([['Country', nil], 'Canada', 'United States', ['This will be configurable', nil]], current_sales_representative.country), class: 'form-control' %>
						</div>
						<div class='col-lg-6 form-group'>
							<label>Zip/Postal Code</label>
							<%= text_field_tag :zip, current_sales_representative.zip, class: 'form-control' %>
						</div>
					</div>
				</div>
			</div>
			<% end %>
		</div>
		<div class='col-md-6 col-sm-4' id='transaction_area'>
			<div class='row'>
				<div class='col-md-6 col-sm-12'>
					<div class='panel panel-default' id='current_balance'>
						<div class='panel-heading'>
							<h3 class='panel-title'>Current Balance</h3>
						</div>
						<div class='panel-body text-center balance'>
							<i class='fa fa-refresh fa-spin'></i>
						</div>
					</div>
				</div>
				<div class='col-md-6 col-sm-12'>
					<div class='panel panel-default' id='pending_balance'>
						<div class='panel-heading'>
							<h3 class='panel-title'>Pending Balance</h3>
						</div>
						<div class='panel-body text-center balance'>
							<i class='fa fa-refresh fa-spin text-warning'></i>
						</div>
					</div>
				</div>
				<div class='col-md-6 col-sm-12'>
					<div class='panel panel-default' id='pending_withdrawals'>
						<div class='panel-heading'>
							<h3 class='panel-title'>Pending Withdrawals</h3>
						</div>
						<div class='panel-body text-center balance'>
							<i class='fa fa-refresh fa-spin text-primary'></i>
						</div>
					</div>
				</div>
				<div class='col-md-6 col-sm-12'>
					<div class='panel panel-default' id='total_payout'>
						<div class='panel-heading'>
							<h3 class='panel-title'>Total Payout</h3>
						</div>
						<div class='panel-body text-center balance'>
							<i class='fa fa-refresh fa-spin text-success'></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%= render 'sales_reps/partials/transactions_details_modal' %>
<script type="text/javascript">
	$('#transactions_link').addClass('active')
	$.ajax({
		url: '/rep_pending_balance'
	})
	$.ajax({
		url: '/rep_current_balance'
	})
	$.ajax({
		url: '/rep_pending_withdrawals'
	})
	$.ajax({
		url: '/rep_total_payout'
	})
	$.ajax({
		url: '/rep_meets_limit'
	})
	if($(window).width() > 991){
		var screen_size = 'large'
	}
	else {
		var screen_size = 'small'
	}

	$(window).resize(function(){

		if($('#transactions').width() <= 398 && screen_size == 'large') {
			waitForFinalEvent(function(){
				chart.redraw()
			},500,makeid())

			screen_size = 'small'
		}
		else if ($('#transactions').width() > 397 && screen_size == 'small') {
			waitForFinalEvent(function(){
				chart.redraw()
			},500,makeid())
			screen_size = 'large'
		}
	})
	var waitForFinalEvent = (function () {
		var timers = {};
		return function (callback, ms, uniqueId) {
			if (!uniqueId) {
				uniqueId = "Don't call this twice without a uniqueId";
			}
			if (timers[uniqueId]) {
				clearTimeout (timers[uniqueId]);
			}
			timers[uniqueId] = setTimeout(callback, ms);
		};
	})();
	function makeid() {
		var text = "";
		var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

		for( var i=0; i < 5; i++ )
			text += possible.charAt(Math.floor(Math.random() * possible.length));

		return text;
	}
	$('svg').css('overflow','visible')

	function updateChartDetails(){
		loadDetails($('#hidden_tag').val(), $('#start_month').val(), $('#start_day').val(), $('#start_year').val(), $('#end_month').val(), $('#end_day').val(), $('#end_year').val())
	}

	function loadDetails(detail, start_month, start_day, start_year, end_month, end_day, end_year) {
		$('#loading_chart').html('<i class="fa fa-refresh fa-spin"></i>')
		$('#loading_table').css('line-height','200px').html('<i class="fa fa-refresh fa-spin"></i>')
		$('#loading_chart').show()
		$('#loading_table').show()
		$('#transactions').html('')
		$('#transaction_table').html('')
		$('#details_pane').html('')

		$('#start_month').val(start_month)
		$('#start_day').val(start_day)
		$('#start_year').val(start_year)
		$('#end_month').val(end_month)
		$('#end_day').val(end_day)
		$('#end_year').val(end_year)
		$('#transactions_details_modal').modal('show');
		$.ajax({
			url: '/view_'+detail+'_details?start_month='+start_month+'&start_day='+start_day+'&start_year='+start_year+'&end_month='+end_month+'&end_day='+end_day+'&end_year='+end_year
		})
	}

</script>
