<div class='row'>
	<div class='col-sm-12'><h4 class='support_header'>Attachments</h4></div>
</div>
<div class='row support_attachments' id='ticket_attachments'>
	<div class='col-md-3 col-sm-4 col-xs-6 support_image_wrapper'>
		<%= image_tag 'logo.png' %>
	</div>
	<div class='col-md-3 col-sm-4 col-xs-6 support_image_wrapper'>
		<%= image_tag 'logo.png' %>
	</div>
	<div class='col-md-3 col-sm-4 col-xs-6 support_image_wrapper'>
		<%= image_tag 'logo.png' %>
	</div>
	<div class='col-md-3 col-sm-4 col-xs-6 support_image_wrapper'>
		<%= image_tag 'logo.png' %>
	</div>
	<div class='col-md-3 col-sm-4 col-xs-6 support_image_wrapper'>
		<%= image_tag 'logo.png' %>
	</div>
</div>