<div class='panel panel-default'>
	<div class='panel-heading'>
		<h3 class='panel-title' id='register_title'>Choose A Plan</h3>
	</div>
	<div class='panel-body' id='register_body'>
		<div class='row'>
			<% @plans.each do |plan| %>
			<div class='col-md-3 col-sm-6'>
				<div class='panel panel-info'>
					<div class='panel-heading'>
						<h3 class='panel-title'><%= plan.name %></h3>
					</div>
					<div class='panel-body'>
						<div class='plan_price'>
							<span class='total'>$<%= plan.price %></span><br/><span class="monthly">$<%= number_with_precision(plan.price.to_f/plan.months, precision: 2) %> / month</span>
						</div>
						<hr/>
						<div class='plan_features'>
							<% features = YAML.load(plan.features) %>
							<ul class='list-unstyled'>
							<% features.each do |feature| %>
								<li><%= feature %></li>
							<% end %>
							</ul>
						</div>
						<hr />
						<div class='text-center'>
							<%= link_to 'Select Plan', sales_rep_choose_plan_path(plan_id: plan.id), class: 'btn btn-lg btn-primary', style: 'width:100%;', disable_with: 'Loading...', remote: true %>
						</div>
					</div>
				</div>
			</div>
			<% end %>
		</div>
		<div class='row'>
			<div class='col-md-6 col-sm-12 col-centered'>
				<%= link_to 'Free Trial', sales_rep_choose_plan_path(plan_id: 0), class: 'btn btn-lg btn-primary', style: 'width:100%;', disable_with: 'Loading...', remote: true %>
			</div>
		</div>
	</div>
</div>

<%= form_tag sales_rep_add_subscription_path, remote: true do %>
<%= hidden_field_tag :plan_id %>
<%= hidden_field_tag :user_id, @user.id %>
<div class="modal fade" id="subscribe_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Subscribe Your Device</h4>
			</div>
			<div class="modal-body">
				<h4 style='margin-top:0;'>Roku Details</h4>
				<div class='row'>
					<div class='col-sm-6'>
						<div class='form-group'>
							<div class='form-group'>
								<%= text_field_tag :serial, '', class: 'form-control', placeholder: 'Serial Number (Optional)' %>
							</div>
						</div>
						<hr>
						<h4 style='margin-top:0;' id='payment-title'>Payment Details</h4>
						<div class='form-group' id='referal_code'>
							<%= text_field_tag :refer_code, '', class: 'form-control', placeholder: "Referral Code" %>
						</div>
						<div class='form-group' id='payment-body'>
							<%= select_tag :payment_type, options_for_select([['Payment Method', nil],
																	'Credit Card',
																	'Cheque',
																	'Money Order',
																	'Bank Transfer']), class: 'form-control' %>
						</div>

						<div class='row' style='display: none' id='credit_info'>
							<div class='col-sm-6 form-group'>
								<%= text_field_tag :card_first_name, '', class: 'form-control', placeholder: 'First Name' %>
							</div>
							<div class='col-sm-6 form-group'>
								<%= text_field_tag :card_last_name, '', class: 'form-control', placeholder: 'Last Name' %>
							</div>
							<div class='col-xs-12 form-group'>
								<%= text_field_tag :card, '', class: 'form-control', placeholder: 'Credit Card Number' %>
							</div>
							<div class='col-sm-6'>
								<div class='form-group'>
									<%= select_tag :card_month, options_for_select([['Expiry Month', nil],
																					['Jan (01)',1],
																					['Feb (02)',2],
																					['Mar (03)',3],
																					['Apr (04)',4],
																					['May (05)',5],
																					['Jun (06)',6],
																					['Jul (07)',7],
																					['Aug (08)',8],
																					['Sep (09)',9],
																					['Oct (10)',10],
																					['Nov (11)',11],
																					['Dec (12)',12]]), class: 'form-control' %>
								</div>
							</div>
							<div class='col-sm-6'>
								<div class='form-group'>
									<% years = [['Expiry Year', nil]] %>
									<% this_year = (Date.today.strftime('%Y')).to_i %>
									<% end_year = ((Date.today+15.years).strftime('%Y')).to_i %>
									<% for i in this_year..end_year %>
									<% years.push(i) %>
									<% end %>
									<%= select_tag :card_year, options_for_select(years), class: 'form-control' %>
								</div>
							</div>
							<div class='col-sm-6'>
								<div class=''>
									<%= text_field_tag :ccv, '', class: 'form-control', placeholder: 'CCV' %>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="list-group mb0">
							<div class="list-group-item">
								<table class="table table-noborder">
								<tbody>
								<tr>
									<td class="text-sans-semi">Plan</td>
									<td></td>
									<td></td>
									<td class="text-right text-blue text-sans-semi" id='plan-price'></td>
								</tr>
								<tr>
									<td class="text-sans-semi">Payment</td>
									<td colspan='3' id='payment_cycle' style='text-align:right'></td>
								</tr>
								<tr>
									<td>Renewal</td>
									<td colspan='3' style='text-align:right' id='renewal'></td>
								</tr>
								</tbody>
								</table>
							</div>
							<div class="list-group-item">
								<table class="table table-noborder">
									<tbody>
									<tr>
										<td class="text-sans-semi">Total</td>
										<td class="text-right text-blue text-sans-semi" id='total'></td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<%= submit_tag 'Subscribe', class: 'btn btn-primary', data: {disable_with: 'Adding Subscription...'} %>
			</div>
		</div>
	</div>
</div>
<% end %>
<script type="text/javascript">
	$('#payment_type').change(function(){
		if ($(this).val() == 'Credit Card') {
			$('#credit_info').show()
		}
		else {
			$('#credit_info').hide()
		}
	})
</script>
