<div class="panel panel-custom">
    <div class="panel-heading">
        <div class="icon-left"><span class="glyphicon glyphicon-heart"></span></div>
        <h3>Continue Watching</h3>
    </div>
    <div class="panel-body scroller" id='continue_watching'>
        <% current_user.continue_watching.each do |item| %>

        <div class="channel">
            <% if item.is_a? ShowProgress %>
                <% show = Show.where(id: item.show_id).first %>
                <% if show != nil %>
                    <a href="<%= item.watch_url %>">
                        <% if show.content_quality == 'HD' %><div class="ribbon"><%= image_tag "ribbon-hd.png" %></div><% end %>
                        <div class="channel-img" style="position: relative;">
                            <% episode = Episode.where(show_id: show.id, episode_number: item.episode_number).first %>

                            <% if episode.present? && episode.length.to_i > 0 %>
                                <% ep_progress = EpisodeProgress.where(show_progress_id: item.id, episode_id: episode.id).first %>

                                <% if ep_progress.present? %>
                                    <div class='watch_progress'>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: <%= ep_progress.time.to_i / episode.length.to_i %>%;"></div>
                                        </div>
                                    </div>
                                <% end %>
                            <% end %>
                            <div class="hover-play" style="top: calc((100%/2) - 36px);"><%= image_tag 'hover-play.png' %></div><%= image_tag show.image_url(:hd), class: "grayscale" %>
                        </div>
                        <h4><%= show.name %></h4>
                    </a>
                <% end %>
            <% elsif item.is_a? MovieProgress %>
                <% movie = Movie.where(id: item.movie_id).first %>
                <% if movie != nil %>
                    <a href="<%= item.watch_url %>">
                        <% if movie.content_quality == 'HD' %><div class="ribbon"><%= image_tag "ribbon-hd.png" %></div><% end %>
                        <div class="channel-img" style="position: relative;">
                            <% if movie.length.to_i > 0 && item.time.to_i > 0 %>
                                <div class='watch_progress'>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: <%= item.time.to_i / movie.length.to_i %>%;"></div>
                                    </div>
                                </div>
                            <% end %>
                            <div class="hover-play" style="top: calc((100%/2) - 36px);"><%= image_tag 'hover-play.png' %></div><%= image_tag movie.image_url(:hd), class: "grayscale" %>
                        </div>
                        <h4><%= movie.name %></h4>
                    </a>
                <% end %>
            <% end %>
        </div>
        <% end %>
    </div>
</div><!--pannel-->
<script>
    $(document).ready(function () {
        $("#continue_watching").slick({
            infinite: true,
            slidesToShow: 8,
            slidesToScroll: 6,
            responsive: [
                {
                  breakpoint: 1200,
                  settings: {
                    slidesToShow: 7,
                    slidesToScroll: 5,
                    infinite: true
                  }
                },
                {
                  breakpoint: 1080,
                  settings: {
                    slidesToShow: 6,
                    slidesToScroll: 4,
                    infinite: true
                  }
                },
                {
                  breakpoint: 900,
                  settings: {
                    slidesToShow: 5,
                    slidesToScroll: 3,
                    infinite: true
                  }
                },
                {
                  breakpoint: 800,
                  settings: {
                    slidesToShow: 4,
                    slidesToScroll: 2,
                    infinite: true
                  }
                },
                {
                  breakpoint: 768,
                  settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    infinite: true
                  }
                }
            ]
        });
    });
</script>
