<div class="panel panel-custom">
    <div class="panel-heading">
        <div class="icon-left"><span class="glyphicon glyphicon-heart"></span></div>
        <h3>Continue Watching</h3>
    </div>
    <div class="panel-body scroller" id='continue_watching'>
        <% current_user.continue_watching.each do |item| %>

        <div class="channel">
            <% if item.is_a? ShowProgress %>
                <% show = Show.where(id: item.show_id).first %>
                <% if show != nil %>
                    <a href="<%= item.watch_url %>">
                        <% if show.content_quality == 'HD' %><div class="ribbon"><%= image_tag "ribbon-hd.png" %></div><% end %>
                        <div class="channel-img"><div class="hover-play"><%= image_tag 'hover-play.png' %></div><%= image_tag show.image_url(:hd), class: "grayscale" %></div>
                        <h4><%= show.name %></h4>
                    </a>
                <% end %>
            <% elsif item.is_a? MovieProgress %>
                <% movie = Movie.where(id: item.movie_id).first %>
                <% if movie != nil %>
                    <a href="<%= item.watch_url %>">
                        <% if movie.content_quality == 'HD' %><div class="ribbon"><%= image_tag "ribbon-hd.png" %></div><% end %>
                        <div class="channel-img"><div class="hover-play"><%= image_tag 'hover-play.png' %></div><%= image_tag movie.image_url(:hd), class: "grayscale" %></div>
                        <h4><%= movie.name %></h4>
                    </a>
                <% end %>
            <% end %>
        </div>
        <% end %>
    </div>
</div><!--pannel-->
<script>
    $(document).ready(function () {
        $("#continue_watching").slick({
            infinite: true,
            slidesToShow: 6,
            slidesToScroll: 3,
            responsive: [
                {
                  breakpoint: 991,
                  settings: {
                    slidesToShow: 4,
                    slidesToScroll: 2,
                    infinite: true
                  }
                },
                {
                  breakpoint: 768,
                  settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1
                  }
                },
                {
                  breakpoint: 480,
                  settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1
                  }
                }
            ]
        });
    });
</script>
