


<div class="panel panel-custom">
    <div class="panel-heading">
        <div class="icon-left"><span class="glyphicon glyphicon-heart"></span></div>
        <h3>Similar to <%= @movie.name %></h3>
    </div>
    <div class="panel-body scroller">
        <%
        search = Array.new
        @movie.name.split(' ').each do |word|
            search.push(word)
        end
        if @movie.genres.present?
            @movie.genres.split(/\r\n/).each do |genre|
                search.push(genre)
            end
        end
        if @movie.actors.present?
            @movie.actors.split(/\r\n/).each do |actor|
                search.push(actor)
            end
        end

        show_results = Array.new
        movie_results = Array.new
        channel_results = Array.new
        %>





        <% search.each do |search_term| %>
            <% items = Movie.search(search_term ,where: {web: true}) %>
            <% items.each do |item| %>
                <% unless movie_results.include? item.id || item.id == @movie.id %>
                    <% if item.id != @movie.id %>
                        <% if item.adult == false || item.adult.nil? || (current_user.adult == true && item.adult == true) %>
                        <div class="channel">
                            <a href="<%= item.watch_url %>">
                                <% if item.content_quality == 'HD' %><div class="ribbon"><%= image_tag "ribbon-hd.png" %></div><% end %>
                                <div class="channel-img"><%= image_tag item.image_url(:hd), class: "grayscale" %></div>
                                <h4><%= item.name %></h4>
                            </a>
                        </div>
                        <% end %>
                        <% movie_results.push(item.id) %>
                    <% end %>
                <% end %>
            <% end %>
            <% items = Show.search(search_term ,where: {web: true}) %>
            <% items.each do |item| %>
                <% unless show_results.include? item.id %>

                    <% if item.adult == false || item.adult.nil? || (current_user.adult == true && item.adult == true) %>
                    <div class="channel">
                        <a href="<%= item.watch_url %>">
                            <% if item.content_quality == 'HD' %><div class="ribbon"><%= image_tag "ribbon-hd.png" %></div><% end %>
                            <div class="channel-img"><%= image_tag item.image_url(:hd), class: "grayscale" %></div>
                            <h4><%= item.name %></h4>
                        </a>
                    </div>
                    <% end %>
                    <% show_results.push(item.id) %>
                <% end %>
            <% end %>
            <% items = Channel.search(search_term ,where: {web: true}) %>
            <% items.each do |item| %>
                <% unless channel_results.include? item.id %>

                    <% if item.adult == false || item.adult.nil? || (current_user.adult == true && item.adult == true) %>
                    <div class="channel">
                        <a href="<%= item.watch_url %>">
                            <% if item.content_quality == 'HD' %><div class="ribbon"><%= image_tag "ribbon-hd.png" %></div><% end %>
                            <div class="channel-img"><%= image_tag item.image_url(:hd), class: "grayscale" %></div>
                            <h4><%= item.name %></h4>
                        </a>
                    </div>
                    <% end %>
                    <% channel_results.push(item.id) %>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div><!--pannel-->
<script>
    $(document).ready(function () {
        $(".scroller").smoothDivScroll({
            manualContinuousScrolling: true
        });
    });
</script>
