<div class="panel panel-custom">
    <div class="panel-heading">
        <div class="icon-left"><span class="glyphicon glyphicon-heart"></span></div>
        <h3>Other episodes from <%= @show.name %></h3>
    </div>
    <div class="panel-body scroller">
        <% @episodes_reordered.each do |episode| %>
            <div class="channel">
                <a href="<%= episode.watch_url %>">
                    <% if @show.content_quality == 'HD' %><div class="ribbon"><%= image_tag "ribbon-hd.png" %></div><% end %>
                    <div class="channel-img"><div class="hover-play"><%= image_tag 'hover-play.png' %></div><%= image_tag @show.image_url(:sd), class: "grayscale" %></div>
                    <h4 style="margin-bottom: 3px">Episode <%= episode.episode_number %></h4>
                    <div class='ep_date' style="margin-bottom: 3px"><%= episode.release_date.strftime('%B %-d %Y') %></div>
                </a>
            </div>
        <% end %>
    </div>
</div><!--pannel-->
<script>
    $(document).ready(function () {
        $(".scroller").slick({
            infinite: true,
            slidesToShow: 8,
            slidesToScroll: 6,
            responsive: [
                {
                  breakpoint: 1200,
                  settings: {
                    slidesToShow: 7,
                    slidesToScroll: 5,
                    infinite: true
                  }
                },
                {
                  breakpoint: 1080,
                  settings: {
                    slidesToShow: 6,
                    slidesToScroll: 4,
                    infinite: true
                  }
                },
                {
                  breakpoint: 900,
                  settings: {
                    slidesToShow: 5,
                    slidesToScroll: 3,
                    infinite: true
                  }
                },
                {
                  breakpoint: 800,
                  settings: {
                    slidesToShow: 4,
                    slidesToScroll: 2,
                    infinite: true
                  }
                },
                {
                  breakpoint: 768,
                  settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    infinite: true
                  }
                }
            ]
        });
    });
</script>
