<% content_for :top_level, 'Clients' %>
<% content_for :low_levels, YAML.dump(['All Clients']) %>
<div id="left-scroll" class="nano">
    <div class="nano-content">
        <%= render 'admins/nav/user_nav' %>
        <div class="panel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        Client List
                    </div>
                </div>
            </div>
            <div class="panel-body plr20">
                <table class='table table-list fz11-5 table-hover table-striped' id='user_table'>
                    <thead><tr>
                        <td>Account #
                            <span class="sort">
                                <span class="fa fa-angle-up"></span>
                                <span class="fa fa-angle-down"></span>
                            </span>
                        </td>
                        <td>Last Name
                            <span class="sort">
                                <span class="fa fa-angle-up"></span>
                                <span class="fa fa-angle-down"></span>
                            </span>
                        </td>
                        <td>First Name
                            <span class="sort">
                                <span class="fa fa-angle-up"></span>
                                <span class="fa fa-angle-down"></span>
                            </span>
                        </td>
                        <td>Email
                            <span class="sort">
                                <span class="fa fa-angle-up"></span>
                                <span class="fa fa-angle-down"></span>
                            </span>
                        </td>
                        <td>City
                            <span class="sort">
                                <span class="fa fa-angle-up"></span>
                                <span class="fa fa-angle-down"></span>
                            </span>
                        </td>
                        <td>State
                            <span class="sort">
                                <span class="fa fa-angle-up"></span>
                                <span class="fa fa-angle-down"></span>
                            </span>
                        </td>
                        <td>Country
                            <span class="sort">
                                <span class="fa fa-angle-up"></span>
                                <span class="fa fa-angle-down"></span>
                            </span>
                        </td>
                        <td>Zip Code
                            <span class="sort">
                                <span class="fa fa-angle-up"></span>
                                <span class="fa fa-angle-down"></span>
                            </span>
                        </td>
                        <td>Phone 1
                            <span class="sort">
                                <span class="fa fa-angle-up"></span>
                                <span class="fa fa-angle-down"></span>
                            </span>
                        </td>
                        <td>Phone 2
                            <span class="sort">
                                <span class="fa fa-angle-up"></span>
                                <span class="fa fa-angle-down"></span>
                            </span>
                        </td>
                        <td>Phone 3
                            <span class="sort">
                                <span class="fa fa-angle-up"></span>
                                <span class="fa fa-angle-down"></span>
                            </span>
                        </td>
                        <td>Mobile
                            <span class="sort">
                                <span class="fa fa-angle-up"></span>
                                <span class="fa fa-angle-down"></span>
                            </span>
                        </td>
                    </tr></thead>
                    <tbody>
                    <% @users.each do |user| %>
                        <tr style='cursor:pointer' onclick='window.location = "<%= view_user_path(id: user.id) %>"'>
                            <td><%= user.id %></td>
                            <td><%= user.last_name %></td>
                            <td><%= user.first_name %></td>
                            <td><%= user.email %></td>
                            <td><%= user.city %></td>
                            <td><%= user.state %></td>
                            <td><%= user.country %></td>
                            <td><%= user.zip %></td>
                            <td><%= user.phone_1 %></td>
                            <td><%= user.phone_2 %></td>
                            <td><%= user.phone_3 %></td>
                            <td><%= user.mobile_phone %></td>
                        </tr>
                    <% end %>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<script>
    $('#user_table').dataTable({
        "aaSorting": [[0,'desc']]
    })
    $('#all_users').addClass('active')
</script>
