$('#first_name-error').remove()
$('#first_name').removeClass('has-error')
$('#last_name-error').remove()
$('#last_name').removeClass('has-error')
$('#email-error').remove()
$('#email').removeClass('has-error')
$('#phone-error').remove()
$('#phone').removeClass('has-error')
$('#address_1-error').remove()
$('#address_1').removeClass('has-error')
$('#address_2-error').remove()
$('#address_2').removeClass('has-error')
$('#country-error').remove()
$('#country').removeClass('has-error')
$('#state-error').remove()
$('#state').removeClass('has-error')
$('#city-error').remove()
$('#city').removeClass('has-error')
$('#zip-error').remove()
$('#zip').removeClass('has-error')
$('#password-error').remove()
$('#password').removeClass('has-error')
$('#refer-error').remove()
$('#refer_code').removeClass('has-error')

$('#device-error').remove()

<% unless @user.id.nil? %>
	$('#user_id').val(<%= @user.id %>)
<% end %>
<% if @user_errors == true || @device_errors == true || @note_errors == true || @tx_errors == true || @referral_errors == true %>
	<% if @user.errors[:first_name].present? %>
		$('#first_name').addClass('has-error').after('<span class="text-danger" id="first_name-error">First name <%= @user.errors[:first_name].join(", ") %>')
	<% end %>
	<% if @user.errors[:last_name].present? %>
		$('#last_name').addClass('has-error').after('<span class="text-danger" id="last_name-error">Last name <%= @user.errors[:last_name].join(", ") %>')
	<% end %>
	<% if @user.errors[:email].present? %>
		$('#email').addClass('has-error').after('<span class="text-danger" id="email-error">Email address <%= @user.errors[:email].join(", ") %>')
	<% end %>
	<% if @user.errors[:phone].present? %>
		$('#phone').addClass('has-error').after('<span class="text-danger" id="phone-error">Phone number <%= @user.errors[:phone].join(", ") %>')
	<% end %>
	<% if @user.errors[:address_1].present? %>
		$('#address_1').addClass('has-error').after('<span class="text-danger" id="address_1-error">Street address <%= @user.errors[:address_1].join(", ") %>')
	<% end %>
	<% if @user.errors[:address_2].present? %>
		$('#address_2').addClass('has-error').after('<span class="text-danger" id="address_2-error">Street address 2 <%= @user.errors[:address_2].join(", ") %>')
	<% end %>
	<% if @user.errors[:country].present? %>
		$('#country').addClass('has-error').after('<span class="text-danger" id="country-error">Country <%= @user.errors[:country].join(", ") %>')
	<% end %>
	<% if @user.errors[:state].present? %>
		$('#state').addClass('has-error').after('<span class="text-danger" id="state-error">State <%= @user.errors[:state].join(", ") %>')
	<% end %>
	<% if @user.errors[:city].present? %>
		$('#city').addClass('has-error').after('<span class="text-danger" id="city-error">City <%= @user.errors[:city].join(", ") %>')
	<% end %>
	<% if @user.errors[:zip].present? %>
		$('#zip').addClass('has-error').after('<span class="text-danger" id="zip-error">Zip code <%= @user.errors[:zip].join(", ") %>')
	<% end %>
	<% if @user.errors[:password].present? %>
		$('#password').addClass('has-error').after('<span class="text-danger" id="password-error">Password <%= @user.errors[:password].join(", ") %>')
	<% end %>


		<% unless @device.nil? %>
			$('#device_id').val(<%= @device.id %>)
		<% end %>


	<% if @device_errors == true %>
		$('#device_title').after('<div class="text-danger" id="device-error"><%= @device_error %></div>')
	<% end %>

	<% if @referral_errors == true %>
		$('#refer_code').after('<div class="text-danger" id="refer-error"><%= @referral_message %></div>')
	<% end %>

	<% if @note != nil %>
		<% unless @note.id.nil? %>
			$('#note_id').val(<%= @note.id %>)
		<% end %>
		<% if @note.errors[:serial].present? %>
			$('#note_title').addClass('has-error').after('<span class="text-danger" id="note_title-error">Note title <%= @note.errors[:title].join(", ") %>')
		<% end %>
		<% if @note.errors[:serial].present? %>
			$('#note').addClass('has-error').after('<span class="text-danger" id="serial-error">Note <%= @note.errors[:note].join(", ") %>')
		<% end %>
	<% end %>

	<% if @tx_error != nil %>
		$('#plan_id').addClass('has-error').after('<span class="text-danger" id="serial-error"><%= @tx_error %>')
	<% end %>

<% else %>
	window.location = '<%= view_user_path(id: @user.id) %>'
<% end %>
