<% content_for :top_level, 'Dashboard' %>
<% content_for :low_levels, YAML.dump([]) %>
<div class="left-side clearfix">
	<div class="pull-left w100">
    	<div id="left-scroll" class="nano">
        	<div class="nano-content">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
						<div class="col-sm-6 col-md-3">
							<div class="stat-number">
								<div class="number"><%= @data.new_sign_ups %></div>
								New Registrations
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
							<div class="stat-number">
								<div class="number"><%= @data.renewals %></div>
								Account Renewals
							</div>
						</div>
                        <div class="col-sm-6 col-md-3">
                            <div class="stat-number">
                                <div class="number"><%= @data.transactions_paid %></div>
                                Orders Today
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="stat-number">
                                <div class="number">$<%= number_with_precision(@data.transactions_paid_value, precision: 2) %></div>
                                Income Today
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading ptb5">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="mt5"><span class="icon-graph mr7"></span> Reports <a href="#" class="sign"><span class="fa fa-question-circle"></span></a></div>
                        </div>
                        <div class="col-md-9 text-right">
							<%= link_to 'Client Registration', admin_view_client_reg_report_path, class: "btn btn-default btn-sm btn-w170 active", remote: true, id: 'view_reg', data: {disable_with: 'Loading...'} %>
							<%= link_to 'Orders & Sales', admin_view_orders_report_path, class: "btn btn-default btn-sm btn-w170", remote: true, id: 'view_orders', data: {disable_with: 'Loading...'} %>
							<%= link_to 'Support Tickets', admin_view_support_report_path, class: "btn btn-default btn-sm btn-w170", remote: true, id: 'view_support', data: {disable_with: 'Loading...'} %>
                        </div>
                    </div>
                </div>
                <div class="panel-body" id='reports' style='height:300px;'>
                    <%= render 'admins/reports/registrations' %>
                </div>
            </div>
            <div class="row row5">
                <div class="col-sm-6">
                    <div class="panel">
                        <div class="panel-heading">
                            <span class="icon-ticket mr7"></span> Support Updates
                        </div>
                        <div class="panel-body">
                            <div class="nano" style="height:310px;">
                                <div class="nano-content">
                                    <table class="table fz12-5 table-nb1 table-hover">
                                        <tbody>
                                        	<% current_admin.all_ticket_notifications.each do |notif| %>
											<tr onclick='window.location="<%= admin_view_notification_path(id: notif.id) %>"' style='cursor:pointer'>
												<td><span class="text-semi"><%= notif.message %></span></td>
												<td class="text-grey text-right"><%= notif.created_at.strftime('%Y/%m/%d at %H:%M') %></td>
											</tr>
											<% end %>
                                        </tbody>
                                    </table>
                            	</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                	<div class="panel">
                        <div class="panel-heading">
                            <span class="icon-bell mr7"></span> Notifications
                        </div>
                        <div class="panel-body">
                            <div class="nano" style="height:310px;">
                                <div class="nano-content">
									<div>Today</div>
                                    <table class="table fz12-5 table-nb1 table-hover">
                                        <tbody>
                                        <% current_admin.all_system_notifications.each do |notif| %>
										<tr onclick='window.location="<%= admin_view_notification_path(id: notif.id) %>"' style='cursor:pointer'>
											<td><span class="text-semi"><%= notif.message %></span></td>
											<td class="text-grey text-right"><%= notif.created_at.strftime('%Y/%m/%d at %H:%M') %></td>
										</tr>
										<% end %>
                                        </tbody>
                                    </table>
                            	</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    	</div>
    </div>
</div>
<script type="text/javascript">
	$.ajax({
		url: '/load_activity_feed'
	})
	function load_updates(timestamp){
		$('#loading').html()
		$.ajax({
			url: '/load_activity_feed?before='+timestamp
		})
	}
	$(window).resize(function(){
		waitForFinalEvent(function(){
			chart.redraw()
		},500,makeid())
	})
	var waitForFinalEvent = (function () {
		var timers = {};
		return function (callback, ms, uniqueId) {
			if (!uniqueId) {
				uniqueId = "Don't call this twice without a uniqueId";
			}
			if (timers[uniqueId]) {
				clearTimeout (timers[uniqueId]);
			}
			timers[uniqueId] = setTimeout(callback, ms);
		};
	})();
	function makeid() {
		var text = "";
		var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

		for( var i=0; i < 5; i++ )
			text += possible.charAt(Math.floor(Math.random() * possible.length));

		return text;
	}
</script>
