<% content_for :title, 'Home' %>
<div class='container'>
	<div class='col-md-7 col-sm-6'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				<h3 class='panel-title'>Admin Section</h3>
			</div>
			<div class='panel-body'>
				<div class='row'>
					<div class='col-sm-6'>
						<p><strong>New Sign Ups</strong><br><%= @data.new_sign_ups %></p>
						<p><strong>Renewals</strong><br><%= @data.renewals %></p>
						<p><strong>Updated:</strong><br><%= @data.user_updated %></p>
						<hr>
						<p><strong>Transactions Completed</strong><br><%= @data.transactions_completed %> | $<%= number_with_precision(@data.transactions_completed_value, precision: 2) %></p>
						<p><strong>Transactions Paid</strong><br><%= @data.transactions_paid %> | $<%= number_with_precision(@data.transactions_paid_value, precision: 2) %></p>
						<p><strong>Updated:</strong><br><%= @data.tx_updated %></p>
					</div>
					<div class='col-sm-6'>
						<p><strong>Withdrawals Requested</strong><br><%= @data.withdrawal_requests_created %> | $<%= number_with_precision(@data.withdrawal_requests_created_value, precision: 2) %></p>
						<p><strong>Withdrawals Approved</strong><br><%= @data.withdrawal_requests_approved %> | $<%= number_with_precision(@data.withdrawal_requests_approved_value, precision: 2) %></p>
						<p><strong>Withdrawals Denied</strong><br><%= @data.withdrawal_requests_denied %> | $<%= number_with_precision(@data.withdrawal_requests_denied_value, precision: 2) %></p>
						<p><strong>Updated:</strong><br><%= @data.wd_updated %></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='col-md-5 col-sm-6'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				<h3 class='panel-title'>Activity Feed</h3>
			</div>
			<div class='panel-body' style='padding:0' id='feed_wrapper'>
				<div id='feed'>

				</div>
				<div class='text-center feed_message' style='' id='loading'>
					<i class='fa fa-refresh fa-spin'></i>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$.ajax({
		url: '/load_activity_feed'
	})
	function load_updates(timestamp){
		$('#loading').html()
		$.ajax({
			url: '/load_activity_feed?before='+timestamp
		})
	}
</script>
