<% content_for :top_level, 'Sales Representatives' %>
<% content_for :low_levels, YAML.dump(['Withdrawal Requests']) %>
<div id="left-scroll" class="nano">
    <div class="nano-content">

        <div class="panel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        Order List
                    </div>
                </div>
            </div>
            <div class="panel-body plr20">
                <div class="table-responsive">
                <table class="table table-list fz11-5 table-hover table-striped" id='tx_table'>
                    <thead>
                    <tr>
                        <td>Withdrawal #
                            <span class="sort">
                                <span class="fa fa-angle-up"></span>
                                <span class="fa fa-angle-down"></span>
                            </span>
                        </td>
                        <td>Rep Name
                            <span class="sort">
                                <span class="fa fa-angle-up"></span>
                                <span class="fa fa-angle-down"></span>
                            </span>
                        </td>
                        <td>Email
                            <span class="sort">
                                <span class="fa fa-angle-up"></span>
                                <span class="fa fa-angle-down"></span>
                            </span>
                        </td>
                        <td>Amount
                            <span class="sort">
                                <span class="fa fa-angle-up"></span>
                                <span class="fa fa-angle-down"></span>
                            </span>
                        </td>
                        <td>Date Created
                            <span class="sort">
                                <span class="fa fa-angle-up"></span>
                                <span class="fa fa-angle-down"></span>
                            </span>
                        </td>
                        <td>Status
                            <span class="sort">
                                <span class="fa fa-angle-up"></span>
                                <span class="fa fa-angle-down"></span>
                            </span>
                        </td>
                        <td>Action Date
                            <span class="sort">
                                <span class="fa fa-angle-up"></span>
                                <span class="fa fa-angle-down"></span>
                            </span>
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <% @withdrawals.each do |withdrawal| %>
                    <tr onclick='window.location = "<%= view_request_path(id: withdrawal.id) %>"' style='cursor:pointer'>
                        <td class="text-bold">#<%= withdrawal.id %></td>
                        <% rep = SalesRepresentative.where(id: withdrawal.sales_rep_id).first %>
                        <% if rep.nil? %>
                            <td>Rep not found</td>
                        <% else %>
                            <td><%= rep.name %></td>
                        <% end %>
                        <td><%= rep.email %></td>
                        <td><%= number_with_precision(withdrawal.amount, precision: 2) %></td>
                        <td><%= rep.created_at.strftime('%Y/%m/%-d') %></td>
                        <td><%= withdrawal.status %></td>
                        <% if withdrawal.approved.present? %>
                            <td><%= withdrawal.approved.strftime('%Y/%m/%-d')  %></td>
                        <% else %>
                            <td>N/A</td>
                        <% end %>
                    </tr>
                    <% end %>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
    $('#tx_table').dataTable();
    $('#tx_table_filter').html('<label>Filter Results:<input type="search" class="form-control input-sm" aria-controls="tx_table"></label>')
    $('#withdrawals').addClass('active')
})
</script>
