$('#type-error').remove()
$('#type').removeClass('has-error')
$('#serial-error').remove()
$('#serial').removeClass('has-error')
<% if @device.errors.any? %>
	<% if @device.errors[:serial].present? %>
		$('#serial').addClass('has-error').after('<span class="text-danger" id="serial-error">Serial <%= @device.errors[:serial].join(", ") %>')
	<% end %>
	<% if @device.errors[:type].present? %>
		$('#type').addClass('has-error').after('<span class="text-danger" id="type-error">Device <%= @device.errors[:type].join(", ") %>')
	<% end %>
<% else %>
	$('#device-list').prepend('<%= escape_javascript(render "admins/partials/device") %>')
	$('#serial').val('')
	$('#type').val('')
	$('#adult').val(false)

	<% rokus = Roku.where(user_id: @device.user_id) %>
	<%
		options = []
		rokus.each do |roku|
			if roku.name.present?
				options.push(["#{roku.nickname(false)} - #{roku.serial}", roku.id])
			else
				options.push(["Roku - #{roku.serial}", roku.id])
			end
		end
	%>
	$('#sub_serial_wrapper').html('<%= raw(escape_javascript("<label>Choose a Roku</label>" + select_tag(:sub_serial, options_for_select(options), class: 'form-control', placeholder: 'Serial Number (Optional)'))) %>')
	$('#tx_serial_wrapper').html('<%= raw(escape_javascript("<label>Choose a Roku</label>" + select_tag(:tx_serial, options_for_select(options), class: 'form-control', placeholder: 'Serial Number (Optional)'))) %>')
<% end %>
$('#device_count').html('<%= Device.where(user_id: @device.user_id).count %>')
