$('#type-error').remove()
$('#type').removeClass('has-error')
$('#serial-error').remove()
$('#serial').removeClass('has-error')
<% if @device.errors.any? %>
	<% if @device.errors[:serial].present? %>
		$('#serial').addClass('has-error').after('<span class="text-danger" id="serial-error">Serial <%= @device.errors[:serial].join(", ") %>')
	<% end %>
	<% if @device.errors[:type].present? %>
		$('#type').addClass('has-error').after('<span class="text-danger" id="type-error">Device <%= @device.errors[:type].join(", ") %>')
	<% end %>
<% else %>
	$('#device-list').prepend('<div class="device" onclick="viewDevice(<%= @device.id %>)" id="device_<%= @device.id %>"><div class="image_wrapper"><%= image_tag "roku.png" %></div><p class="type">Roku</p><p class="serial"><%= @device.serial %></p></div>')
	$('#serial').val('')
	$('#type').val('')
<% end %>
