<% content_for :top_level, 'Sales Representatives' %>
<% content_for :low_levels, YAML.dump([]) %>
<div id="left-scroll" class="nano">
	<div class="nano-content">
		<div class='row'>
			<div class='col-xs-12'>
				<div class='panel panel-default'>
					<div class='panel-heading'>
						<h3 class='panel-title'>Search Sales Representatives</h3>
					</div>
					<div class='panel-body'>
						<table class='table table-list fz11-5 table-hover table-striped' id='sales_rep_table'>
							<thead><tr>
								<td>ID
									<span class="sort">
										<span class="fa fa-angle-up"></span>
										<span class="fa fa-angle-down"></span>
									</span>
								</td>
								<td>Last Name
									<span class="sort">
										<span class="fa fa-angle-up"></span>
										<span class="fa fa-angle-down"></span>
									</span>
								</td>
								<td>First Name
									<span class="sort">
										<span class="fa fa-angle-up"></span>
										<span class="fa fa-angle-down"></span>
									</span>
								</td>
								<td>Email
									<span class="sort">
										<span class="fa fa-angle-up"></span>
										<span class="fa fa-angle-down"></span>
									</span>
								</td>
								<td>Country
									<span class="sort">
										<span class="fa fa-angle-up"></span>
										<span class="fa fa-angle-down"></span>
									</span>
								</td>
								<td>Current Balance
									<span class="sort">
										<span class="fa fa-angle-up"></span>
										<span class="fa fa-angle-down"></span>
									</span>
								</td>
								<td>Pending Balance
									<span class="sort">
										<span class="fa fa-angle-up"></span>
										<span class="fa fa-angle-down"></span>
									</span>
								</td>
								<td>Pending Withdrawals
									<span class="sort">
										<span class="fa fa-angle-up"></span>
										<span class="fa fa-angle-down"></span>
									</span>
								</td>
							</tr></thead>
							<% @reps.each do |rep| %>
								<tr onclick='window.location = "<%= view_rep_path(id: rep.id) %>"' style='cursor:pointer'>
									<td><%= rep.id %></td>
									<td><%= rep.last_name %></td>
									<td><%= rep.first_name %></td>
									<td><%= rep.email %></td>
									<td><%= rep.country %></td>
									<td>$<%= number_with_precision(rep.current_balance, precision: 2) %></td>
									<td>$<%= number_with_precision(rep.pending_balance, precision: 2) %></td>
									<td>$<%= number_with_precision(rep.pending_withdrawals, precision: 2) %></td>
								</tr>
							<% end %>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function(){
	$('#sales_rep_table').dataTable()
	$('#all_reps').addClass('active')
})
</script>
