<div class='col-xs-12 ticket_nav'>
	<%= link_to 'My Tickets', admin_support_path, class: 'active' %>
	<%= link_to 'New Tickets', admin_new_tickets_path, class: '' %>
	<%= link_to 'Archive', admin_archived_tickets_path, class: '' %>
</div>
<div class='container' style='margin-top: 60px;'>
	<div class='row'>
		<div class='col-md-6'>
			<div class='panel panel-info'>
				<div class='panel-heading'>
					<h3 class='panel-title'>Open Tickets</h3>
				</div>
				<div class='panel-body' style='padding:0'>
					<div class='tickets' id='open_tickets'>
						<% @open_cases.each do |ticket| %>
						<div id='ticket_<%= ticket.id %>' class='ticket' onclick='viewTicket(<%= ticket.id %>)'>
							<p class='title'><%= ticket.title %></p>
							<p class='timestamp'><%= custom_time_ago(ticket.created_at) %></p>
							<p><%= ticket.issue_description.truncate(80) %></p>
							<div class='row' style='margin:0'>
								<div class='col-sm-6' style='padding-left:0'>
									<p class='detail'>
										<strong>Priority:</strong><br>
										High
									</p>
								</div>
								<div class='col-sm-6' style='padding-right:0'>
									<p class='detail'>
										<strong>Category:</strong><br>
										Billing
									</p>
								</div>
							</div>
						</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div class='col-md-6'>
			<div class='panel panel-success'>
				<div class='panel-heading'>
					<h3 class='panel-title'>Closed Tickets</h3>
				</div>
				<div class='panel-body' style='padding:0'>
					<div class='tickets' id='closed_tickets'>
						<% @closed_cases.each do |ticket| %>
						<div id='ticket_<%= ticket.id %>' class='ticket' onclick='viewTicket(<%= ticket.id %>)'>
							<p class='title'><%= ticket.title %></p>
							<p class='timestamp'><%= custom_time_ago(ticket.created_at) %></p>
							<p><%= ticket.issue_description.truncate(80) %></p>
							<div class='row' style='margin:0'>
								<div class='col-sm-6' style='padding-left:0'>
									<p class='detail'>
										<strong>Priority:</strong><br>
										High
									</p>
								</div>
								<div class='col-sm-6' style='padding-right:0'>
									<p class='detail'>
										<strong>Category:</strong><br>
										Billing
									</p>
								</div>
							</div>
						</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<%= render('support/partials/support_modal_admin') %>

<script type="text/javascript">
function testAddMessage(){
	$('#messages').prepend("<div class='message animated bounceIn'><div class='admin_message'><p class='title'>Josh Tate said:</p><p class='timestamp'><em>Just now</em></p><p>"+ $('#message').val() +"</p></div></div>")
}
function viewTicket(id) {
	$.ajax({
		url: '<%= admin_view_ticket_path %>?id='+id
	})
}
<% if params[:id].present? %>
$('#ticket_<%= params[:id] %>').click()
<% end %>
</script>