$('#serial_message').remove()
<% if @device.errors.any? %>
    $('#device_serial').after('<span class="text-danger" id="serial_message">Serial <%= @device.errors[:serial].join(", ") %></span>')
<% else %>
    <% @devices = Device.where(user_id: @device.user_id) %>
    $('#device_serial').after('<span class="text-success" id="serial_message">Serial updated!</span>')
    <% @user = User.where(id: @device.user_id).first %>
    $('#device-list').html('<%= escape_javascript(render("admins/partials/device_list")) %>')
    $('#device_<%= @device.id %>').children('.serial').html('<%= @device.serial %>')
    <% rokus = Roku.where(user_id: @device.user_id) %>
    <%
        options = [['Web/Tablet/Mobile',0]]
        rokus.each do |roku|
            if roku.name.present?
                options.push(["#{roku.nickname(false)} - #{roku.serial}", roku.id])
            else
                options.push(["Roku - #{roku.serial}", roku.id])
            end
        end
    %>
    $('#sub_serial_wrapper').html('<%= raw(escape_javascript("<label>Choose a Roku</label>" + select_tag(:sub_serial, options_for_select(options), class: 'form-control', placeholder: 'Serial Number (Optional)'))) %>')
    $('#tx_serial_wrapper').html('<%= raw(escape_javascript("<label>Choose a Roku</label>" + select_tag(:tx_serial, options_for_select(options), class: 'form-control', placeholder: 'Serial Number (Optional)'))) %>')
<% end %>
