$('#first_name-error').remove()
$('#last_name-error').remove()
$('#email-error').remove()
$('#refer_code-error').remove()
$('#phone_1-error').remove()
$('#address_1-error').remove()
$('#address_2-error').remove()
$('#city-error').remove()
$('#state-error').remove()
$('#country-error').remove()
$('#zip-error').remove()


<% if @user.errors.any? %>
    <% if @user.errors[:first_name].present? %>
        $('#first_name').after('<div class="text-danger" id="first_name-error">First name <%= @user.errors[:first_name].join(", ") %></div>')
    <% end %>
    <% if @user.errors[:last_name].present? %>
        $('#last_name').after('<div class="text-danger" id="last_name-error">Last name <%= @user.errors[:last_name].join(", ") %></div>')
    <% end %>
    <% if @user.errors[:email].present? %>
        $('#email').after('<div class="text-danger" id="email-error">Email address <%= @user.errors[:email].join(", ") %></div>')
    <% end %>
    <% if @user.errors[:refer_code].present? %>
        $('#refer_code').after('<div class="text-danger" id="refer_code-error">Referral code <%= @user.errors[:refer_code].join(", ") %></div>')
    <% end %>

    <% if @user.errors[:phone_1].present? %>
        $('#phone_1').after('<div class="text-danger" id="phone_1-error">Phone <%= @user.errors[:phone_1].join(", ") %></div>')
    <% end %>
    <% if @user.errors[:address_1].present? %>
        $('#address_1').after('<div class="text-danger" id="address_1-error">Address <%= @user.errors[:address_1].join(", ") %></div>')
    <% end %>
    <% if @user.errors[:address_2].present? %>
        $('#address_2').after('<div class="text-danger" id="address_2-error">Address <%= @user.errors[:address_2].join(", ") %></div>')
    <% end %>
    <% if @user.errors[:city].present? %>
        $('#city').after('<div class="text-danger" id="city-error">City <%= @user.errors[:city].join(", ") %></div>')
    <% end %>
    <% if @user.errors[:state].present? %>
        $('#state').after('<div class="text-danger" id="state-error">State <%= @user.errors[:state].join(", ") %></div>')
    <% end %>
    <% if @user.errors[:country].present? %>
        $('#country').after('<div class="text-danger" id="country-error">Country <%= @user.errors[:country].join(", ") %></div>')
    <% end %>
    <% if @user.errors[:zip].present? %>
        $('#zip').after('<div class="text-danger" id="zip-error">Zip/Postal code <%= @user.errors[:zip].join(", ") %></div>')
    <% end %>

    addNotification('error', 'The account could not be updated, please see form for further information', 'Error', 'exclamation-circle')
<% else %>
    addNotification('success', 'The account has been updated', 'Success', 'check-circle')
<% end %>
