<%= content_for :title, 'Pending Payments Queue' %>
<div class='container'>
    <div class='row'>
        <div class='col-xs-12'>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <h3 class='panel-title'>Pending Payments</h3>
                </div>
                <div class='panel-body'>
                    <table id='payments_table' class='table table-hover table-striped table-bordered'>
                        <thead><tr>
                            <th>ID</th>
                            <th>Last Name</th>
                            <th>First Name</th>
                            <th>Email</th>
                            <th>Amount</th>
                            <th>Ordered</th>
                            <th>Actions</th>
                        </tr></thead>
                        <% @transactions.each do |transaction| %>
                            <% user = User.find(transaction.user_id) %>
                            <% details = YAML.load(transaction.product_details) %>
                            <tr id='tx_<%= transaction.id %>'>
                                <th><%= transaction.id %></th>
                                <td><%= user.last_name %></td>
                                <td><%= user.first_name %></td>
                                <td><%= user.email %></td>
                                <td>$<%= number_with_precision(details[:price], precision: 2) %></td>
                                <td style='white-space:nowrap'><%= transaction.created_at.strftime('%B %-d, %Y') %></td>
                                <td style='white-space:nowrap'>
                                    <%= link_to 'Accept', accept_payment_path(id: transaction.id, admin_action: 'queue'), class: 'btn btn-sm btn-success', remote: true %>
                                    <%= link_to 'Cancel', cancel_payment_path(id: transaction.id, admin_action: 'queue'), class: 'btn btn-sm btn-danger', remote: true %>
                                </td>
                            </tr>
                        <% end %>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){$('#payments_table').dataTable()})
</script>
