<% content_for :top_level, 'Clients' %>
<% content_for :low_levels, YAML.dump([]) %>
<div id="left-scroll" class="nano">
    <div class="nano-content">

        <div class="panel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        Client List
                    </div>
                </div>
            </div>
            <div class="panel-body plr20">
                <table class='table table-hover table-bordered' id='user_table'>
                    <thead><tr>
                        <th>Account #</th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Email</th>
                        <th>Membership</th>
                        <th>Member Since</th>
                        <th>Registered Devices</th>
                    </tr></thead>
                    <% @users.each do |user| %>
                        <tr style='cursor:pointer' onclick='window.location = "<%= view_user_path(id: user.id) %>"'>
                            <th><%= user.id %></th>
                            <td><%= user.last_name %></td>
                            <td><%= user.first_name %></td>
                            <td><%= user.email %></td>
                            <% if user.expiry.nil? || user.expiry < Date.today %>
                                <td>Free</td>
                            <% else %>
                                <td>Premium</td>
                            <% end %>
                            <td><%= user.created_at.strftime('%Y/%m/%d') %></td>
                            <td><%= Device.where(user_id: user.id).count %></td>
                        </tr>
                    <% end %>
                </table>
            </div>
        </div>

	</div>
</div>

<script>
    $('#user_table').dataTable()
    $('#all_users').addClass('active')
</script>
