<div class='col-lg-9 col-md-8 col-sm-7 col-xs-12' id='movie-list'>
	<% @movies.each do |movie| %>
		<div class='video' id='video_<%= movie.id %>'>
			<div class='image-wrapper'>
				<% unless movie.image.blank? %>
					<%= image_tag movie.image_url(:preview).to_s %>
				<% else %>
					<i class='fa fa-camera'></i>
				<% end %>
				<%= form_tag add_image_to_video_path, remote: true do %>
					<%= hidden_field_tag :movie_id, movie.id %>
					<%= file_field_tag :image, style: 'display:none' %>
				<% end %>
			</div>
			<div class='upload'>
				<a onclick='$(this).parent().parent().children(".image-wrapper").children("form").children("input:file").click()'>Upload File</a>
			</div>
			<p class='name'>
				<%= movie.name %>
			</p>
		</div>
	<% end %>
</div>

<div class='col-lg-3 col-md-4 col-sm-5 col-xs-12'>
	<%= form_tag add_video_path, remote: true do %>
	<div class='panel panel-info'>
		<div class='panel-heading'>
			<h3 class='panel-title'>Note</h3>
		</div>
		<div class='panel-body'>
			<p>This page is to demo uploading *stand alone* videos (not series/episodes) into the system. Use the form below to upload an entry with link, genre, name, and preview image to begin.</p>
		</div>
	</div>
	<div class='panel panel-default'>
		<div class='panel-heading'>
			<h3 class='panel-title'>Upload Video</h3>
		</div>
		<div class='panel-body'>
			<div class='form-group'>
				<%= text_field_tag :name, '', class: 'form-control', placeholder: 'Movie Name' %>
			</div>
			<div class='form-group'>
				<% genres = Array.new %>
				<% genres.push(['Select Genre', nil]) %>
				<% @genres.each do |genre| %>
					<% genres.push([genre.name, genre.id]) %>
				<% end %>
				<%= select_tag :genre_id, options_for_select(genres), class: 'form-control' %>
			</div>
			<div class='form-group'>
				<%= text_field_tag :url, '', class: 'form-control', placeholder: 'CDN Link' %>
			</div>
		</div>
		<div class='panel-footer'>
			<%= submit_tag 'Add Video', class: 'btn btn-primary pull-right' %>
			<div class='clearfix'></div>
		</div>
	</div>
	<% end %>
	<div class='panel panel-default'>
		<div class='panel-body' id='file-upload'>
			
		</div>
	</div>
</div>
<script>
	$('input:file').fileupload({
		dataType: "script",
        add: function(e, data) {
            data.context = $(tmpl("template-upload", data.files[0]));
            $('#progress').remove()
            $('#file-upload').append(data.context);
            return data.submit();
        },
        progress: function(e, data) {
            var progress;
            if (data.context) {
                progress = parseInt(data.loaded / data.total * 100, 10);
                return data.context.find('.progress-bar').attr('aria-valuenow', progress).css('width', progress+'%');
            }
        },
        fail: function(e,data) {
            if (data.context) {
                $
                return data.context.find('.progress-bar').css('width','100%').removeClass('progress-bar-info').addClass('progress-bar-danger')
            }
        },
        done: function(e,data) {
            if (data.context) {
                return data.context.find('.progress-bar').css('width','100%').removeClass('progress-bar-info').addClass('progress-bar-success')
            }
        }
    }); 
</script>