<% content_for :top_level, 'Sales Representatives' %>
<% content_for :low_levels, YAML.dump([@rep.name]) %>
<div id="left-scroll" class="nano">
    <div class="nano-content">
        <div class='row'>
            <div class='col-xs-12'>
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="stat-number" id='current_balance'>
                                    <div class="number"><i class='fa fa-refresh fa-spin'></i></div>
                                    Current Balance
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="stat-number" id='pending_balance'>
                                    <div class="number"><i class='fa fa-refresh fa-spin'></i></div>
                                    Pending Balance
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="stat-number" id='pending_withdrawals'>
                                    <div class="number"><i class='fa fa-refresh fa-spin'></i></div>
                                    Pending Withdrawals
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="stat-number" id='total_payout'>
                                    <div class="number"><i class='fa fa-refresh fa-spin'></i></div>
                                    Total Payout
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-6'>
                        <div class='panel panel-default'>
                            <div class='panel-body'>
                                <%= link_to 'Delete This Representative', delete_rep_path(id: @rep.id), class: 'btn btn-block btn-danger', data: {confirm: 'Are you sure you want to delete this account?'} %>
                            </div>
                        </div>
                        <%= form_tag admin_update_rep_profile_path, remote: true do %>
                        <%= hidden_field_tag :id, @rep.id %>
                        <div class='panel panel-default'>
                            <div class='panel-heading' style='position: relative'>
                                <h3 class='panel-title'>Profile</h3>
                                <div class='upload_image_heading'>
                                    <%= submit_tag 'Update Profile', class: 'btn btn-primary btn-sm', data: {disable_with: 'Updating...'} %>
                                </div>
                            </div>
                            <div class='panel-body'>
                                <div class='row'>
                                    <div class='col-lg-6 form-group'>
                                        <label>First Name</label>
                                        <%= text_field_tag :first_name, @rep.first_name, class: 'form-control' %>
                                    </div>
                                    <div class='col-lg-6 form-group'>
                                        <label>Last Name</label>
                                        <%= text_field_tag :last_name, @rep.last_name, class: 'form-control' %>
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='col-lg-12 form-group'>
                                        <label>Email Address</label>
                                        <%= text_field_tag :email, @rep.email, class: 'form-control' %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% end %>

                        <%= form_tag admin_update_rep_mailing_path, remote: true do %>
                        <%= hidden_field_tag :id, @rep.id %>
                        <div class='panel panel-default'>
                            <div class='panel-heading' style='position: relative'>
                                <h3 class='panel-title'>Mailing Address</h3>
                                <div class='upload_image_heading'>
                                    <%= submit_tag 'Update Address', class: 'btn btn-primary btn-sm', data: {disable_with: 'Updating...'} %>
                                </div>
                            </div>
                            <div class='panel-body'>
                                <div class='row'>
                                    <div class='col-lg-6 form-group'>
                                        <label>Street Address</label>
                                        <%= text_field_tag :address_1, @rep.address_1, class: 'form-control' %>
                                    </div>
                                    <div class='col-lg-6 form-group'>
                                        <label>Address Line 2</label>
                                        <%= text_field_tag :address_2, @rep.address_2, class: 'form-control', placeholder: 'Optional' %>
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='col-lg-6 form-group'>
                                        <label>City</label>
                                        <%= text_field_tag :city, @rep.city, class: 'form-control' %>
                                    </div>
                                    <div class='col-lg-6 form-group'>
                                        <label>State</label>
                                        <%= text_field_tag :state, @rep.state, class: 'form-control' %>
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='col-lg-6 form-group'>
                                        <label>Zip/Postal Code</label>
                                        <%= text_field_tag :zip, @rep.zip, class: 'form-control' %>
                                    </div>
                                    <div class='col-lg-6 form-group'>
                                        <label>Country</label>
                                        <%= select_tag :country, options_for_select([['Country', nil], 'Canada', 'United States', ['This will be configurable', nil]], @rep.country), class: 'form-control' %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% end %>

                        <div class='row'>
                            <div class='col-xs-6'>
                                <div class='panel panel-default'>
                                    <div class='panel-heading'>
                                        <h3 class='panel-title'>Send Password Reset</h3>
                                    </div>
                                    <div class='panel-body'>
                                        <%= text_field_tag :reset_email, @rep.email, class: 'form-control', disabled: 'disabled', style: 'background-color: #fff' %>
                                    </div>
                                    <div class='panel-footer'>
                                        <%= link_to 'Send Reset Email', reset_rep_password_path(id: @rep.id), class: 'btn btn-primary', style: 'width: 100%', data: {disable_with: 'Sending...'}, remote: true %>
                                    </div>
                                </div>
                            </div>
                            <div class='col-xs-6'>
                                <%= form_tag manual_reset_rep_password_path(id: @rep.id), remote: true do %>
                                <div class='panel panel-default'>
                                    <div class='panel-heading'>
                                        <h3 class='panel-title'>Manual Password Reset</h3>
                                    </div>
                                    <div class='panel-body'>
                                        <div>
                                            <%= text_field_tag :password, '', class: 'form-control' %>
                                        </div>
                                    </div>
                                    <div class='panel-footer'>
                                        <%= submit_tag 'Reset Password', class: 'btn btn-primary', style: 'width: 100%', data: {disable_with: 'Updating...'} %>
                                    </div>
                                </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-6' id='transaction_area'>
                        <%= form_tag admin_update_rep_commission_path, remote: true do %>
                        <%= hidden_field_tag :id, @rep.id %>
                        <div class='panel panel-default' id=''>
                            <div class='panel-heading' style='position: relative'>
                                <h3 class='panel-title'>Commission Rate: <span id='rep_rate'><%= @rep.commission_rate %>%</span></h3>
                                <div class='upload_image_heading'>
                                    <%= submit_tag 'Update Rate', class: 'btn btn-primary btn-sm', data: {disable_with: 'Updating...'} %>
                                </div>
                            </div>
                            <div class='panel-body'>
                                <div class='form-group'>
                                    <label>New Rate</label>
                                    <%= text_field_tag :new_rate, '', class: 'form-control', style: 'margin:0' %>
                                </div>
                            </div>
                        </div>
                        <% end %>
                        <div class='row'>
                            <div class='col-xs-12'>
                                <div class='panel panel-default' id=''>
                                    <div class='panel-heading' style='position: relative'>
                                        <h3 class='panel-title'>Withdrawals</h3>
                                    </div>
                                    <div class='panel-body'>
                                        <table class='table table-list fz11-5 table-hover table-striped' id='wd_table'>
                                            <thead><tr>
                                                <td>Date
                                                    <span class="sort">
                                                        <span class="fa fa-angle-up"></span>
                                                        <span class="fa fa-angle-down"></span>
                                                    </span>
                                                </td>
                                                <td>Amount
                                                    <span class="sort">
                                                        <span class="fa fa-angle-up"></span>
                                                        <span class="fa fa-angle-down"></span>
                                                    </span>
                                                </td>
                                                <td>Status
                                                    <span class="sort">
                                                        <span class="fa fa-angle-up"></span>
                                                        <span class="fa fa-angle-down"></span>
                                                    </span>
                                                </td>
                                            </tr></thead>
                                            <tbody>
                                                <% @withdrawals.each do |wd| %>
                                                    <tr onclick='window.location = "<%= view_request_path(id: wd.id) %>"' style='cursor: pointer'>
                                                        <td><%= wd.created_at.strftime('%B %-d, %Y') %></td>
                                                        <td>$<%= number_with_precision(wd.amount, precision: 2) %></td>
                                                        <td>
                                                            <% if wd.status == 'Pending' %>
                                                                <span class='text-warning'><%= wd.status %></span>
                                                            <% elsif wd.status == 'Approved' %>
                                                                <span class='text-success'><%= wd.status %></span>
                                                            <% elsif wd.status == 'Denied' %>
                                                                <span class='text-danger'><%= wd.status %></span>
                                                            <% else %>
                                                                <span class='text-primary'><%= wd.status %></span>
                                                            <% end %>
                                                        </td>
                                                    </tr>
                                                <% end %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class='col-xs-12'>
                                <div class='panel panel-default' id=''>
                                    <div class='panel-heading' style='position: relative'>
                                        <h3 class='panel-title'>Activated Users</h3>
                                    </div>
                                    <div class='panel-body'>
                                        <table class='table table-list fz11-5 table-hover table-striped' id='user_table'>
                                            <thead><tr>
                                                <td>ID</
                                                    <span class="sort">
                                                        <span class="fa fa-angle-up"></span>
                                                        <span class="fa fa-angle-down"></span>
                                                    </span>
                                                td>
                                                <td>Name
                                                    <span class="sort">
                                                        <span class="fa fa-angle-up"></span>
                                                        <span class="fa fa-angle-down"></span>
                                                    </span>
                                                </td>
                                                <td>Email
                                                    <span class="sort">
                                                        <span class="fa fa-angle-up"></span>
                                                        <span class="fa fa-angle-down"></span>
                                                    </span>
                                                </td>
                                                <td>Membership
                                                    <span class="sort">
                                                        <span class="fa fa-angle-up"></span>
                                                        <span class="fa fa-angle-down"></span>
                                                    </span>
                                                </td>
                                            </tr></thead>
                                            <tbody>
                                                <% @users.each do |user| %>
                                                    <tr onclick='window.location = "<%= view_user_path(id: user.id) %>"' style='cursor: pointer'>
                                                        <td><%= user.id %></td>
                                                        <td><%= user.name %></td>
                                                        <td><%= user.email %></td>
                                                        <td>
                                                            <% if user.premium? %>
                                                                Premium
                                                            <% else %>
                                                                Free
                                                            <% end %>
                                                        </td>
                                                    </tr>
                                                <% end %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%= render 'admins/partials/transactions_details_modal' %>
            <script type="text/javascript">
            $(document).on('page:load', function(){
                $('#transactions_link').addClass('active')
                $.ajax({
                    url: '<%= admin_rep_pending_balance_path(rep_id: @rep.id) %>'
                })
                $.ajax({
                    url: '<%= admin_rep_current_balance_path(rep_id: @rep.id) %>'
                })
                $.ajax({
                    url: '<%= admin_rep_pending_withdrawals_path(rep_id: @rep.id) %>'
                })
                $.ajax({
                    url: '<%= admin_rep_total_payout_path(rep_id: @rep.id) %>'
                })
                $.ajax({
                    url: '/rep_meets_limit'
                })
                if($(window).width() > 991){
                    var screen_size = 'large'
                }
                else {
                    var screen_size = 'small'
                }

                $(window).resize(function(){

                    if($('#transactions').width() <= 398 && screen_size == 'large') {
                        waitForFinalEvent(function(){
                            chart.redraw()
                        },500,makeid())

                        screen_size = 'small'
                    }
                    else if ($('#transactions').width() > 397 && screen_size == 'small') {
                        waitForFinalEvent(function(){
                            chart.redraw()
                        },500,makeid())
                        screen_size = 'large'
                    }
                })
                var waitForFinalEvent = (function () {
                    var timers = {};
                    return function (callback, ms, uniqueId) {
                        if (!uniqueId) {
                            uniqueId = "Don't call this twice without a uniqueId";
                        }
                        if (timers[uniqueId]) {
                            clearTimeout (timers[uniqueId]);
                        }
                        timers[uniqueId] = setTimeout(callback, ms);
                    };
                })();
                function makeid() {
                    var text = "";
                    var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

                    for( var i=0; i < 5; i++ )
                        text += possible.charAt(Math.floor(Math.random() * possible.length));

                    return text;
                }
                $('svg').css('overflow','visible')

                function updateChartDetails(){
                    loadDetails($('#hidden_tag').val(), $('#start_month').val(), $('#start_day').val(), $('#start_year').val(), $('#end_month').val(), $('#end_day').val(), $('#end_year').val())
                }

                function loadDetails(detail, start_month, start_day, start_year, end_month, end_day, end_year) {
                    $('#loading_chart').html('<i class="fa fa-refresh fa-spin"></i>')
                    $('#loading_table').css('line-height','200px').html('<i class="fa fa-refresh fa-spin"></i>')
                    $('#loading_chart').show()
                    $('#loading_table').show()
                    $('#transactions').html('')
                    $('#transaction_table').html('')
                    $('#details_pane').html('')

                    $('#start_month').val(start_month)
                    $('#start_day').val(start_day)
                    $('#start_year').val(start_year)
                    $('#end_month').val(end_month)
                    $('#end_day').val(end_day)
                    $('#end_year').val(end_year)
                    $('#transactions_details_modal').modal('show');
                    $.ajax({
                        url: '/admin_view_'+detail+'_details?start_month='+start_month+'&start_day='+start_day+'&start_year='+start_year+'&end_month='+end_month+'&end_day='+end_day+'&end_year='+end_year+'&id=<%= @rep.id %>'
                    })
                }
                $("#new_rate").keydown(function (e) {
                    // Allow: backspace, delete, tab, escape, enter and .
                    if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                         // Allow: Ctrl+A
                        (e.keyCode == 65 && e.ctrlKey === true) ||
                         // Allow: home, end, left, right
                        (e.keyCode >= 35 && e.keyCode <= 39)) {
                             // let it happen, don't do anything
                             return;
                    }
                    // Ensure that it is a number and stop the keypress
                    if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                        e.preventDefault();
                    }
                });
                $('#wd_table').dataTable();
                $('#user_table').dataTable();
            })
            </script>
        </div>
    </div>
</div>
