<% content_for :top_level, 'Clients' %>
<% content_for :low_levels, YAML.dump([@user.name, 'Balance Adjustment']) %>
<div id="left-scroll" class="nano">
    <div class="nano-content">
        <div class='row'>
            <div class='col-xs-12'>
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="stat-number">
                                    <div class="number" id='user_balance'>$<%= number_with_precision(@user.balance, precision: 2) %></div>
                                    Account Balance
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="stat-number">
                                    <div class="number" id='pending_tx'>$<%= number_with_precision(@pending, precision: 2) %></div>
                                    Pending Payments
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="stat-number">
                                    <div class="number"><%= @devices.count %></div>
                                    Devices
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="stat-number">
                                    <div class="number" id='membership_1'><% if @user.expiry.nil? || @user.expiry < Date.today %>Free<% else %>Premium<% end %></div>
                                    Membership
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-4 col-sm-6 '>
                <%= form_tag update_user_balance_path, remote: true do %>
                <div class='panel panel-default'>
                    <div class='panel-heading' style='position: relative'>
                        <h3 class='panel-title'>Balance</h3>
                    </div>
                    <div class='panel-body'>
                        <div class='stat-number'><div class="number" id='balance_2'>$<%= number_with_precision(@user.balance, precision: 2) %></div>USD</div>
                        <hr>
                        <div class='form-group'>
                            <label>Add Money</label>
                            <%= hidden_field_tag :user_id, @user.id %>
                            <%= text_field_tag :add_balance, '', class: 'form-control' %>
                        </div>
                    </div>
                    <div class='panel-footer'>
                        <%= submit_tag 'Update Balance', class: 'btn btn-primary', style: 'width: 100%', data: {disable_with: 'Updating...'} %>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<%= render 'admins/partials/view_device_modal' %>
<script>
$('#user_bal').addClass('active')
var current_uploaded_image = 0
function viewDevice(id) {
    $.ajax({
        url: '/admin_view_device/'+id
    })
}
function deleteImage(id){
    $.ajax({
        url: '/delete_note_file?id='+id
    })
}
$(window).bind('beforeunload', function(){
    $.ajax({
        url: '/delete_unsaved_note?id='+$('#new_note_id').val()
    })
});
$('#color-picker a').click(function(){
    $('#color-picker a').removeClass('selected')
    $(this).addClass('selected')
    $('#note_form').removeClass('bgcolor-8 bgcolor-7 bgcolor-6 bgcolor-5 bgcolor-4 bgcolor-3 bgcolor-2 bgcolor-1')
    $('#note_form').addClass($(this).attr('id'))
    $('#color').val($(this).attr('id'))
})
</script>
