<div class="navbar yamm navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to image_tag('logo.png'), root_path, class: 'navbar-brand' %>
        </div>
        <div class="sep hidden-xs"></div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown yamm-fw">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">START <span class="caret"></span></a>
                    <div class="dropdown-menu keep-open ptb0">
                        <div class="yamm-content">
                            <%= render 'layouts/nav/options' %>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="sep hidden-xs hidden-sm"></div>
            <div class="navbar-form navbar-left hidden-sm" role="search" style='position:relative'>
                <div class="form-group">
                    <span class="glyphicon glyphicon-search"></span>
                    <%= text_field_tag :video_search, '', class: 'form-control', placeholder: 'What are you looking to watch?', autocomplete: 'off' %>
                </div>
                <div class='navbar_search_results animated_quick zoomIn' id='search_results'>
                    <div class='search_placeholder' id='search_placeholder'>
                        Enter your search
                    </div>
                    <div class='search_result_list' id='search_result_list'>

                    </div>
                </div>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><div class="sep hidden-xs"></div></li>
                <li><%= link_to 'REGISTER', new_user_registration_path %></li>
                <li><div class="sep hidden-xs"></div></li>
                <li><%= link_to 'SIGN IN', new_user_session_path %></li>
                <li><div class="sep hidden-xs"></div></li>
            </ul>
        </div>
    </div>
</div><!--navbar-->
<script>
$('#video_search').focus(function(){
    $('#search_results').show()
})
$('#video_search').blur(function(){
    if ($('#search_results').is(":hover")) {
        // do nothing
    }
    else {
        $('#search_results').hide()
    }
})
$('#search_results').mouseout(function(){
    if ($('#video_search').is(':focus')){
        // do nothing
    }
    else {
        $('#search_results').hide()
    }
})
$('#video_search').keyup(function(){
    if ($(this).val() == '') {
        $('#search_placeholder').html('Enter your search')
        $('#search_result_list').hide().html('')
    }
    else {
        $('#search_placeholder').html('<i class="fa fa-spinner fa-spin"></i> Loading results...')
        $.ajax({
            url: '/video_search?search='+$('#video_search').val()
        })
    }
})
</script>
