<div class="splash">
	<div class="container">
    	<div class="figure hidden-xs hidden-sm"><%= image_tag "figure-04.png" %></div>
    	<h3 class="name">My Account</h3>
    </div>
</div><!--splash-->

<div class="content">
	<div class="container">
    	<div class="mlr90">
            <div class='row'>
                <div class='col-md-6'>
                    <div class="box-white account-box">
                        <h4 class="name">My Profile - <a onclick='$("#edit_profile_modal").modal("show")' style='cursor:pointer'>Edit</a></h4>
						<div class='panel-scroll tickets'>
							<div class='row' style='margin:0' id='user_profile'>
								<%= render 'users/partials/user_profile' %>
							</div>
						</div>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class="box-white account-box">
                        <h4 class="name">My Subscription – <%= link_to 'Add Subscription', subscribe_path %></h4>
                        <% if current_user.expiry.nil? || current_user.expiry < Date.today %>
                            <h5 class='member-level'>Free Member</h5>
                            <p class='expiry'>Expires: N/A</p>
                        <% else %>
                            <h5 class='member-level'>Premium Member</h5>
                            <p class='expiry'>Expires: <%= current_user.expiry.strftime('%d/%m/%Y') %> – <strong><%= distance_of_time_in_words_to_now(current_user.expiry) %></strong></p>
                        <% end %>
                        <div class='panel-scroll transactions'>
                            <% @transactions.each do |transaction| %>
                            <% details = YAML.load(transaction.product_details) %>
                                <div class='transaction'>
                                    <p class='plan'>#<%= transaction.id %>: <%= details[:name] %> – <%= pluralize(details[:duration], 'month') %></p>
                                    <p class='timestamp'><%= transaction.created_at.strftime('%d/%m/%Y') %></p>
                                    <p class='status'><%= transaction.status %></p>
                                    <p class='amount'>$<%= number_with_precision(details[:price], precision: 2) %></p>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row'>
				<div class='col-md-6'>
					<div class="box-white account-box">
						<h4 class="name">My Support – <%= link_to 'Create Ticket', user_new_ticket_path %></h4>
						<div class='panel-scroll tickets'>
							<% priorities = ['Low',     'Medium',  'High'] %>
							<% classes =    ['success', 'warning', 'danger'] %>
							<% @tickets.each do |ticket| %>
							<div class='ticket' id='ticket_<%= ticket.id %>'>
								<p class='title'><a style='cursor:pointer' onclick='viewTicket(<%= ticket.id %>)'><%= ticket.title %></a></p>
								<p class='updated_at'><%= distance_of_time_in_words_to_now(ticket.updated_at) %> ago</p>
								<p class='description'><%= ticket.issue_description %></p>
								<p class='priority'><span class='text-<%= classes[ticket.priority] %>'><%= priorities[ticket.priority] %></span></p>
							</div>
							<% end %>
						</div>
					</div>
				</div>
				<div class='col-md-6'>
					<div class="box-white account-box">
						<h4 class="name">My Devices - <a onclick='newDevice()' style='cursor:pointer'>Register New Device</a></h4>
						<div class='panel-scroll devices' id='devices'>
							<% @devices.each do |device| %>
								<% case device.type %>
								<% when 'Roku' %>
									<div class='device' onclick='viewDevice(<%= device.id %>)' id='device_<%= device.id %>'>
										<div class='image_wrapper'>
											<%= image_tag 'roku.png' %>
										</div>
										<p class='type'>Roku</p>
										<p class='serial'><%= device.serial %></p>
									</div>
								<% when 'Playstation3' %>
									<div class='device' onclick='viewDevice(<%= device.id %>)' id='device_<%= device.id %>'>
										<div class='image_wrapper'>
											<%= image_tag 'ps3.png' %>
										</div>
										<p class='type'>Playstation 3</p>
										<p class='serial'><%= device.serial %></p>
									</div>
								<% else %>
									<div class='device' onclick='viewDevice(<%= device.id %>)' id='device_<%= device.id %>'>
										<div class='image_wrapper'>
											<i class='fa fa-question-circle'></i>
										</div>
										<p class='type'>Unrecognized (<%= device.type %>)</p>
										<p class='serial'><%= device.serial %></p>
									</div>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
</div><!--content-->

<%= render('support/partials/support_modal_user') %>

<%= render('users/partials/view_device_modal') %>
<%= render('users/partials/new_device_modal') %>
<%= render('users/partials/edit_profile_modal') %>

<script type="text/javascript">
var chatListener = ''
function testAddMessage(){
    $('#messages').prepend("<div class='message animated bounceIn'><div class='admin_message'><p class='title'>Josh Tate said:</p><p class='timestamp'><em>Just now</em></p><p>"+ $('#message').val() +"</p></div></div>")
}
function viewTicket(id) {
    $.ajax({
        url: '<%= user_view_ticket_path %>?id='+id

    })
    .done(function(){
        if (chatListener != ''){
            chatListener.close()
        }
        chatListener = new EventSource('/events/user/'+id)
        chatListener.addEventListener ('message', function(e) {
            var message = $.parseJSON(e.data)
            if (message.kind == 'message') {
                $('#ticket_messages').prepend("<div class='message animated fadeIn'><div class='recv_message'><p class='title'>"+message.name+" said:</p><p class='timestamp'><em class='timeago' title='"+message.timestamp+"'></em></p><p>"+Autolinker.link(message.message)+"</p></div></div>")
                $('.timeago').timeago()
            }
            else if (message.kind == 'file') {
                $('#ticket_messages').prepend("<div class='message animated fadeIn'><div class='recv_message'><p class='title'>"+message.name+" said:</p><p class='timestamp'><em class='timeago' title='"+message.timestamp+"'></em></p><p>"+Autolinker.link(message.message)+"</p></div></div>")
                $('.timeago').timeago()
                $('#ticket_attachments').prepend('<div class="col-md-3 col-sm-4 col-xs-6 support_image_wrapper"><a href="'+message.file_url+'" target="new"><img src="'+message.file_url+'" /></a></div>')
            }
        })
    })
}
function viewDevice(id) {
	$.ajax({
		url: '/view_device/'+id
	})
}
function newDevice() {
	$('#new_device_serial').val('')
	$('#new_device_success').hide()
	$('#new_submit').show()
	$('#new_device_form').show()
	$('#new_serial_error').remove()
	$('#new_device_modal').modal('show')
}
$('#support_modal').on('hidden.bs.modal', function () {
    if (chatListener != ''){
        chatListener.close()
    }
})
<% if params[:id].present? %>
$('#ticket_<%= params[:id] %>').click()
<% end %>
</script>
