<div class="splash">
	<div class="container">
		<div class='pull-right profile_nav hidden-xs'>
			<%= render 'users/partials/subnav' %>
		</div>
		<h3 class="name">My Account</h3>
		<div class='text-center profile_nav_xs visible-xs'>
			<%= render 'users/partials/subnav' %>
		</div>
    </div>
</div><!--splash-->


<div class="content">
	<div class="container">
    	<div class="mlr90">
            <div class='row'>
                <div class='col-md-12'>
					<%= form_tag update_profile_path, remote: true, id: 'update_profile_form' do %>
                    <div class="panel-default panel">
						<div class='panel-heading'>
                        	<h4 class="panel-title name">My Profile Info</h4>
						</div>
						<div class='panel-body'>
							<div class='row' style='margin:0' id='user_profile'>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<%= text_field_tag :first_name, current_user.first_name, class: 'form-control', placeholder: 'First Name' %>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<%= text_field_tag :last_name, current_user.last_name, class: 'form-control', placeholder: 'Last Name' %>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<%= text_field_tag :email, current_user.email, class: 'form-control', placeholder: 'Email Address' %>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<%= text_field_tag :phone, current_user.phone, class: 'form-control', placeholder: 'Phone' %>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<%= text_field_tag :address_1, current_user.address_1, class: 'form-control', placeholder: 'Street Address' %>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<%= text_field_tag :address_2, current_user.address_2, class: 'form-control', placeholder: 'Street Address 2 (Optional)' %>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group">
													<%= text_field_tag :city, current_user.city, class: 'form-control', placeholder: 'City' %>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<%= text_field_tag :state, current_user.state, class: 'form-control', placeholder: 'State' %>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group">
													<%= text_field_tag :zip, current_user.zip, class: 'form-control', placeholder: 'Zip Code' %>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<%= select_tag :country, options_for_select([['Select One', nil], 'Canada', 'United States', ['This will be configurable', nil]], current_user.country), class: 'form-control' %>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class='form-group'>
											<% map = ActiveSupport::TimeZone.all %>
											<% array = Array.new %>
											<% map.each do |tz| %>
												<% array.push(tz.to_s) %>
											<% end %>

											<% tz_options = [['Select A Timezone',nil]] %>

											<% array.each do |tz_s| %>
												<% tz_s.slice!(0..11) %>
												<% tz_options.push(tz_s) unless tz_s.nil? %>
											<% end %>
											<%= select_tag :timezone, options_for_select(tz_options, current_user.timezone), class: 'form-control' %>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class='panel-footer text-right'>
							<%= submit_tag 'Update Account', class: 'btn btn-primary', data: {disable_with: 'Updating...'} %>
						</div>
                    </div>
					<% end %>
                </div>
            </div>
		</div>
	</div>
</div>
