<div class="content" style='margin-top: 10px'>
    <div class="container">
        <div class="mlr90">
            <div class='row'>
                <div class='col-sm-4'>
                    <div class="box-white">
                        <div class="row">
                        	<div class="col-sm-12">
                                <% if current_user.premium? %>
                                    <h3 class="mt0 mb0">Premium Membership</h3>
                                    <div>
                                        <span class="fz12 text-success glyphicon glyphicon-ok"></span> Status
                                        <span class="text-success text-sans-semi fz12-5">Active</span>
                                    </div>
                                <% elsif current_user.expiry.nil? %>
                                    <h3 class="mt0 mb0">Free Membership</h3>
                                    <div>
                                        <span class="fz12 text-success glyphicon glyphicon-ok"></span> Status
                                        <span class="text-success text-sans-semi fz12-5">Active</span>
                                    </div>
                                <% else %>
                                    <h3 class="mt0 mb0">Premium Membership</h3>
                                    <div>
                                        <span class="fz12 text-danger fa fa-exclamation-triangle"></span> Status
                                        <span class="text-danger text-sans-semi fz12-5">Expired</span>
                                    </div>
                                <% end %>
                                <% if current_user.balance.nil? %>
                                    Balance: $0.00
                                <% else %>
                                    Balance: $<%= number_with_precision(current_user.balance, precision: 2) %>
                                <% end %>
                                <% devices = Roku.where(user_id: current_user.id) %>
                                <div  style='max-height: 250px; overflow-y:scroll'>
                                <% devices.each do |device| %>
                                    <hr>
                                    <table class="table table-noborder">
                                        <tbody>
                                        <tr>
                                            <td class="text-sans-semi">Device</td>
                                            <td colspan='3'>
                                                <% if device.name.present? %>
                                                    <%= device.nickname(false) %> - <%= device.serial %>
                                                <% else %>
                                                    Roku - <%= device.serial %>
                                                <% end %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan='4'>
                                            <% if Transaction.where(roku_id: device.id).any? %>
                                                <% unless device.nil? && device.expiry <= Date.today %>
                                                    <div>
                                                        <span class="fz12 text-success glyphicon glyphicon-ok"></span> Status
                                                        <span class="text-success text-sans-semi fz12-5">Active</span> (Premium)
                                                    </div>
                                                <% else %>
                                                    <div>
                                                        <span class="fz12 text-danger fa fa-exclamation-triangle"></span> Status
                                                        <span class="text-danger text-sans-semi fz12-5">Expired</span> (Premium)
                                                    </div>
                                                <% end %>
                                            <% else %>
                                                <div>
                                                    <span class="fz12 text-success glyphicon glyphicon-ok"></span> Status
                                                    <span class="text-success text-sans-semi fz12-5">Active</span> (Free)
                                                </div>
                                            <% end %>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-sm-8'>
                    <div class="box-white">
                        <div class="row">
                            <div class="col-md-8 col-sm-7">
                                <h3 class="mt0 mb0">All Subscriptions</h3>
                                <p class="fz12">* Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
                            </div>
                            <div class="col-md-4 col-sm-5 text-right">
                                <a href='/subscribe' class="btn btn-primary btn-w180">Add Subscription</a>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <div class='panel-scroll transactions'>
                                <% @transactions.each do |transaction| %>
                                <%
                                if transaction.roku_id.present?
                                    device = Roku.where(id: transaction.roku_id).first
                                    if device.nil?
                                        roku = 'Web, Tablets, Mobile'
                                    else
                                        if device.name.present?
                                            roku = "#{device.nickname(false)} - #{device.serial}"
                                        else
                                            roku = "Roku - #{device.serial}"
                                        end
                                    end
                                else
                                    roku = 'Web, Tablets, Mobile'
                                end %>
                                <% details = YAML.load(transaction.product_details) %>
                                <% name = details[:name].gsub('REFUNDED: ','').gsub('PAID: ','').gsub('CANCELLED: ','') %>
                                    <div class='transaction' onclick='window.open("<%= view_invoice_path(id: transaction.id) %>")'>
                                        <% if name == 'Free Trial' %>
                                            <p class='plan'>#<%= transaction.id %>: <%= name %> – <%= pluralize(details[:duration], 'day') %></p>
                                        <% else %>
                                            <p class='plan'>#<%= transaction.id %>: <%= name %> – <%= pluralize(details[:duration], 'month') %></p>
                                        <% end %>
                                        <p class='timestamp'><%= transaction.created_at.strftime('%d/%m/%Y') %></p>
                                        <p class='status'><%= transaction.status %></p>
                                        <p class='amount'>$<%= number_with_precision(details[:price], precision: 2) %> - <%= roku %></p>
                                    </div>
                                <% end %>
                            </div>
                            <div class='row' style='margin-top:10px'>
                                <div class='col-sm-6 text-left'>
                                    <% if params[:page].blank? || params[:page].to_i > 1 %>
                                        <% new_params = params.clone %>
                                        <% new_params[:page] = (params[:page].to_i - 1).to_s %>
                                        <%= link_to 'Previous', my_billing_path(new_params), class: 'btn btn-primary', style: 'width: 100px' %>
                                    <% end %>
                                </div>
                                <div class='col-sm-6 text-right'>
                                    <% unless params[:page].present? && params[:page].to_i == @transactions.total_pages %>
                                        <% new_params = params.clone %>
                                        <% if params[:page].blank? %>
                                            <% new_params[:page] = '2' %>
                                            <%= link_to 'Next', my_billing_path(new_params), class: 'btn btn-primary', style: 'width: 100px' %>
                                        <% else %>
                                            <% new_params[:page] = (params[:page].to_i + 1).to_s %>
                                            <%= link_to 'Next', my_billing_path(new_params), class: 'btn btn-primary', style: 'width: 100px' %>
                                        <% end %>
                                    <% end %>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div><!--content-->

<script>

    $('#billing').addClass('active')
</script>
