$('#new_serial_error').remove()
$('#limit_error').remove()
<% if @device.errors.any? %>
    <% if @device.errors[:serial].any? %>
        $('#new_device_serial').after('<div class="text-danger" id="new_serial_error">Serial <%= @device.errors[:serial].join(", ") %></div>')
    <% end %>
    <% if @device.errors[:base].any? %>
        $('#new_device_serial').after('<div class="text-danger" id="limit_error"><%= @device.errors[:base].join(", ") %></div>')
    <% end %>
<% else %>
    $('#new_device_success').show()
    $('#new_submit').hide()
    $('#new_device_form').hide()
    $('#devices').prepend('<div class="device" onclick="viewDevice(<%= @device.id %>)" id="device_<%= @device.id %>"><div class="image_wrapper"><%= image_tag "roku.png" %></div><p class="type">Roku</p><p class="serial"><%= @device.serial %></p</div>')
<% end %>
