<% if resource.is_a? User %>
<div class="splash">
    <div class="container">
        <h3 class="name">Forgot your password?</h3>
    </div>
</div><!--splash-->
<div class="content">
    <div class="container">
        <div class='col-md-3 col-sm-2 col-xs-1'></div>
        <div class='col-md-6 col-sm-8 col-xs-10'>
            <div class="mlr90">
                <div class="box-white">

                <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                    <%= f.hidden_field :reset_password_token %>
                    <div class='form-group'>
                        <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
                    </div>
                    <div class='form-group'>
                        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirm Password' %>
                        <div class='text-danger'><%= devise_error_messages! %></div>
                    </div>

                    <div class='form-group'>
                        <%= f.submit "Send Reset Instructions", class: 'btn btn-primary form-control' %>
                    </div>
                    <%= render "devise/shared/links" %>
                <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<% else %>
    <div class="container">
        <div class='col-md-6 col-sm-8 col-xs-10 col-centered'>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <% if resource.is_a? SalesRepresentative %>
                        <h3 class='panel-title'>Sales Representative Password Recovery</h3>
                    <% else %>
                        <h3 class='panel-title'>Administrator Password Recovery</h3>
                    <% end %>
                </div>
                <div class='panel-body'>
                    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                        <%= f.hidden_field :reset_password_token %>
                        <div class='form-group'>
                            <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
                        </div>
                        <div class='form-group'>
                            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirm Password' %>
                            <div class='text-danger'><%= devise_error_messages! %></div>
                        </div>

                        <div class='form-group'>
                            <%= f.submit "Send Reset Instructions", class: 'btn btn-primary form-control' %>
                        </div>
                        <% if resource.is_a? SalesRepresentative %>
                            <%= link_to 'Sign in', '/sales_representatives/sign_in' %>
                        <% else %>
                            <%= link_to 'Sign in', '/admins/sign_in' %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>
