<% if resource.is_a? User %>
<div class="splash">
    <div class="container">
        <h3 class="name">Forgot your password?</h3>
    </div>
</div><!--splash-->
<% status = Setting.where(name: 'Active Registration').first.data %>
<% unless status == 'true' %>
    <% flash[:notice] = 'Registration and sign in is not active' %>
    <script>window.location = '/'</script>
<% end %>
<div class="content">
    <div class="container">
        <div class='col-md-3 col-sm-2 col-xs-1'></div>
        <div class='col-md-6 col-sm-8 col-xs-10'>
            <div class="mlr90">
                <div class="box-white">

                <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                    <div class='form-group'>
                        <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email Address' %>
                        <div class='text-danger'><%= devise_error_messages! %></div>
                    </div>

                    <div class='form-group'>
                        <%= f.submit "Send Reset Instructions", class: 'btn btn-primary form-control' %>
                    </div>
                    <%= render "devise/shared/links" %>
                <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<% else %>
    <div class="login-left" style="margin: auto; float: none; width: 100%; min-height: 0">
        <div class="text-center">
            <h3>Reset Your Password</h3>
            <p>Reset instructions will be sent to your email address</p>
        </div>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <div class='form-group'>
                <div class="input-group">
                    <div class="input-group-addon"><span class="icon-circle-user"></span></div>
                    <%= f.email_field :email, autofocus: true, placeholder: 'Email Address', class: 'form-control' %>
                </div>
            </div>
            <div class="form-group">
                <% if resource.is_a? Admin %>
                    <p><a href="/admins/sign_in" class="blue">Sign In</a></p>
                <% elsif resource.is_a? SalesRepresentative %>
                    <p><a href="/admins/sign_in" class="blue">Sign In</a></p>
                <% end %>
            </div>
            <div class="text-center">
                <%= f.submit "Reset", class: ' btn btn-lblue mw-170' %>
            </div>
        <% end %>
    </div>
<% end %>
