$('#new_name-error').remove()
$('#new_stream_url-error').remove()
$('#new_content_type-error').remove()
$('#new_free-error').remove()
$('#new_content_quality-error').remove()
$('#new_bitrate-error').remove()
$('#new_synopsis-error').remove()
$('#new_stream_name-error').remove()
<% if @channel.errors.any? %>
    <% if @channel.errors[:name].present? %>
        $('#new_name').after('<div class="text-danger" id="new_name-error">Name <%= @channel.errors[:name].join(", ") %>.</div>')
    <% end %>
    <% if @channel.errors[:stream_url].present? %>
        $('#new_stream_url').after('<div class="text-danger" id="new_stream_url-error">Stream URL <%= @channel.errors[:stream_url].join(", ") %>.</div>')
    <% end %>
    <% if @channel.errors[:content_type].present? %>
        $('#new_content_type').after('<div class="text-danger" id="new_content_type-error">Content type <%= @channel.errors[:content_type].join(", ") %>.</div>')
    <% end %>
    <% if @channel.errors[:free].present? %>
        $('#new_free').after('<div class="text-danger" id="new_free-error">Membership <%= @channel.errors[:free].join(", ") %>.</div>')
    <% end %>
    <% if @channel.errors[:content_quality].present? %>
        $('#new_content_quality').after('<div class="text-danger" id="new_content_quality-error">Content quality <%= @channel.errors[:content_quality].join(", ") %>.</div>')
    <% end %>
    <% if @channel.errors[:bitrate].present? %>
        $('#new_bitrate').after('<div class="text-danger" id="new_bitrate-error">Bitrate <%= @channel.errors[:bitrate].join(", ") %>.</div>')
    <% end %>
    <% if @channel.errors[:synopsis].present? %>
        $('#new_synopsis').after('<div class="text-danger" id="new_synopsis-error">Synopsis <%= @channel.errors[:synopsis].join(", ") %>.</div>')
    <% end %>
    <% if @channel.errors[:stream_name].present? %>
        $('#new_stream_name').after('<div class="text-danger" id="new_stream_name-error">Stream name <%= @channel.errors[:stream_name].join(", ") %>.</div>')
    <% end %>
<% else %>
    $('#new_channel_modal').modal('hide')
    $('#channel_list').prepend('<div class="channel_list_item" id="channel_<%= @channel.id %>" onclick="viewChannel(<%= @channel.id %>)"><%= escape_javascript(render("admins/cms_partials/channel_list_item")) %></div>')
    $('#new_name').val('')
    $('#new_live').val('')
    $('#new_free').val('')
    $('#new_content_type').val('')
    $('#new_bitrate').val('')
    $('#new_content_quality').val('')
    $('#new_actors').val('')
    $('#new_genres').val('')
    $('#new_synopsis').val('')
    $('#new_roku').removeAttr('checked')
    $('#new_web').removeAttr('checked')
    $('#new_ios').removeAttr('checked')
    $('#new_android').removeAttr('checked')
    $('#channel_<%= @channel.id %>').click()
<% end %>
