<div class="content">
	<div class="container">
    	<div class="row">
        	<div class="col-sm-4 col-md-3">
            	<div class="panel panel-custom">
                	<div class="panel-heading">
                    	<h3 class="fz14"><%= @show.name %></h3>
                    </div>
                    <div class="panel-body b0">
                        <%= image_tag @show.image_url, class: 'img-responsive', style: 'width: 100%' %>
                    </div>
                </div>
                <!--<div class="socials">
                	<a href="#"><span class="fb"></span></a>
                	<a href="#"><span class="tw"></span></a>
                	<a href="#"><span class="rss"></span></a>
                </div>-->
            </div>
            <div class="col-sm-8 col-md-9">
           		<div class="box-white">
                	<div class="data-bb clearfix">
                    	<div class="pull-left">
                            <div class="fz12-5">
								<% if Episode.where(show_id: @show.id).any? %>
									Latest episode: <%= @show.latest_episode %></div>
								<% end %>
                        </div>
                        <div class="pull-right">
                        	<div class="fz12-5"><%= pluralize(@show.episode_count, 'Episode') %></div>
                        </div>
                    </div>
                    <div class="data-bb">
                	       <%= simple_format(@show.synopsis) %>
                    </div>
                    <% @episodes.each do |episode| %>
                    <div class="box-episode clearfix">
                    	<a href="/watch/shows/<%= @show.slug %>/<%= episode.episode_number %>">
                    		<span class="fz12-5"><%= episode.release_date %></span> - Episode <%= episode.episode_number %> - <%= episode.title %>
                            <i class='fa fa-play-circle-o play-icon'></i>
                        </a>
                    </div>
                    <% end %>
					<% unless params[:method].present? && params[:method] == 'all' %>
						<div class='row'>
							<div class='col-sm-4 text-left'>
								<% if params[:page].blank? || params[:page].to_i > 1 %>
									<% new_params = params.clone %>
									<% new_params[:page] = (params[:page].to_i - 1).to_s %>
									<%= link_to 'Previous', browse_episodes_path(new_params), class: 'btn btn-primary', style: 'width: 100px' %>
								<% end %>
							</div>
							<div class='col-sm-4 text-center'>
								<%= link_to 'All Episodes', browse_episodes_path(show_id: @show.id, method: 'all'), class: 'btn btn-primary', style: 'width: 100px' %>
							</div>
							<div class='col-sm-4 text-right'>
								<% unless params[:page].present? && params[:page].to_i == @episodes.total_pages %>
									<% new_params = params.clone %>
									<% if params[:page].blank? %>
										<% new_params[:page] = '2' %>
										<%= link_to 'Next', browse_episodes_path(new_params), class: 'btn btn-primary', style: 'width: 100px' %>
									<% else %>
										<% new_params[:page] = (params[:page].to_i + 1).to_s %>
										<%= link_to 'Next', browse_episodes_path(new_params), class: 'btn btn-primary', style: 'width: 100px' %>
									<% end %>
								<% end %>
							</div>

						</div>
					<% end %>

                </div>
            </div>
        </div>
    </div>
</div><!--content-->
<% if (user_signed_in? && current_user.web_premium?) || admin_signed_in? || @show.free?  %>
	<!--Nothing-->
<% elsif user_signed_in? && current_user.web_premium? == false && @channel.free == false %>
	<%= render('videos/partials/no_plan') %>
	<script>
		$('#modal-no-plan').modal({show: true, keyboard: false, backdrop: 'static'})
		$('#modal-no-plan').on('hidden.bs.modal', function () {
			window.location = '/'
		})
	</script>

<% elsif user_signed_in? %>
<% else %>
	<%= render('videos/partials/sign_in_modal_show') %>
	<script>
		$('#modal-login').modal({show: true, keyboard: false, backdrop: 'static'})
		$('#modal-login').on('hidden.bs.modal', function () {
			window.location = '/'
		})
	</script>
<% end %>
