<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  	<div class="carousel-inner">
        <% @front_page_array.shuffle %>
        <% i = 0 %>
        <% @front_page_array.each do |item| %>
            <% if i == 0 %><div class="item active"><% else %><div class='item'> %><% end %>
                  <%= image_tag item.banner_url(:front_page) %>
                  <div class="carousel-caption">
                    <div class="container">
                        <h2><%= item.name %></h2>
                        <div class="row">
                            <div class="col-md-10 col-sm-9">
                                <div class="media">
                                    <a href="#" class="pull-left"><%= image_tag item.image_url(:preview), class: "media-object",style: 'max-width: 50px; max-height: 50px' %></a>
                                    <div class="media-body"><%= item.synopsis %></div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-3">
                                <a href="<%= item.watch_url %>" class="btn btn-primary btn-block btn-bold">Watch Now</a>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
            <% i += 1 %>
        <% end %>
  	</div>
</div><!--carousel-->

<div class="splash">
	<div class="container">
    	<div class="figure hidden-xs hidden-sm"><%= image_tag "figure-04.png" %></div>
    	<h3>Works on Xbox 360®,  Playstation 3®, HDTV/Blue-ray™ player, Android™ Devices, Roku®, Ipad® or computer</h3>
        <div class="fz12">* Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</div>
    </div>
</div><!--splash-->

<div class="content">
	<div class="container">
        <% @categories.each do |category| %>
            <%
            filter_params = {web: true}
            unless category.content_type.blank?
                filter_params[:content_type] = category.content_type
            end

            unless category.content_quality.blank?
                filter_params[:content_quality] = category.content_quality
            end

            filter_params[:free] = category.free

            if category.item_type == 'shows'
                if category.sort.nil? || category.sort == 'Alphabetical'
                    all_items = Show.where(filter_params).order(name: :asc)
                elsif category.sort == 'New Arrivals/Episodes'
                    unsorted_items = Show.where(filter_params)
                    hashed_items = Hash.new
                    unsorted_items.each do |item|
                        hashed_items[item.id] = item.newest_episode
                    end
                    hashed_items.sort_by {|_key, value| value}

                    all_items = Array.new
                    hashed_items.each do |k,v|
                        all_items.push(Show.find(k))
                    end
                elsif category.sort == 'Random'
                    all_items = Show.where(filter_params).order('rand()')
                end
                all_items.reverse!
                filtered_items = Array.new

                unless category.genre.blank?
                    all_items.each do |item|
                        filtered_items.push(item) if item.matches_genre?(category.genre)
                    end
                else
                    filtered_items = all_items
                end
            elsif category.item_type == 'movies'
                if category.sort.nil? || category.sort == 'Alphabetical'
                    all_items = Movie.where(filter_params.except(:content_type)).order(name: :asc)
                elsif category.sort == 'New Arrivals/Episodes'
                    all_items = Movie.where(filter_params.except(:content_type)).order(release_date: :desc)
                elsif category.sort == 'Random'
                    all_items = Movie.where(filter_params.except(:content_type)).order('rand()')
                end
                filtered_items = Array.new

                unless category.genre.blank?
                    all_items.each do |item|
                        filtered_items.push(item) if item.matches_genre?(category.genre)
                    end
                else
                    filtered_items = all_items
                end
            else
                if category.sort.nil? || category.sort == 'Alphabetical'
                    all_items = Channel.where(filter_params).order(name: :asc)
                elsif category.sort == 'New Arrivals/Episodes'
                    all_items = Channel.where(filter_params).order(created_at: :desc)
                elsif category.sort == 'Random'
                    all_items = Channel.where(filter_params).order('rand()')
                end
                filtered_items = Array.new

                unless category.genre.blank?
                    all_items.each do |item|
                        filtered_items.push(item) if item.matches_genre?(category.genre)
                    end
                else
                    filtered_items = all_items
                end
            end
            %>
            <% if filtered_items.any? %>
            	<div class="panel panel-custom">
                  	<div class="panel-heading">
                    	<div class="icon-left"><span class="glyphicon glyphicon-heart"></span></div>
                    	<h3><%= category.name %></h3>
                        <%= link_to raw('<span class="glyphicon glyphicon-th-large"></span> See All'), full_grid_path(category_id: category.id), class: 'pull-right' %>
                    </div>
                  	<div class="panel-body scroller">
                        <% if user_signed_in? && current_user.adult == true %>
                            <% filtered_items.each do |item| %>
                                <div class="channel">
                                    <a href="<%= item.watch_url %>">
                                        <% if item.content_quality == 'HD' %><div class="ribbon"><%= image_tag "ribbon-hd.png" %></div><% end %>
                                        <div class="channel-img"><%= image_tag item.image_url(:front_page), class: "grayscale" %></div>
                                        <h4><%= item.name %></h4>
                                    </a>
                                </div>
                            <% end %>
                        <% else %>
                            <% filtered_items.each do |item| %>
                                <% unless item.adult == true %>
                                <div class="channel">
                                    <a href="<%= item.watch_url %>">
                                        <% if item.content_quality == 'HD' %><div class="ribbon"><%= image_tag "ribbon-hd.png" %></div><% end %>
                                        <div class="channel-img"><%= image_tag item.image_url(:front_page), class: "grayscale" %></div>
                                        <h4><%= item.name %></h4>
                                    </a>
                                </div>
                                <% end %>
                            <% end %>
                        <% end %>
                  	</div>
                </div><!--pannel-->
            <% end %>
        <% end %>

        <div class="row row0 mb30">
        	<div class="col-sm-4">
            	<div class="bg-blue text-right">
                	<div class="figure-left hidden-xs hidden-sm"><%= image_tag "figure-01.png" %></div>
                	<h3>Configure your Roku Device</h3>
                    Lorem ipsum dolor sit amet, <br>consectetuer adipiscing elit, sed <br>diam nonummy nibh.
                </div>
            </div>
        	<div class="col-sm-4">
            	<div class="bg-blue text-center bl0">
                	<div class="figure-left hidden-xs hidden-sm"><%= image_tag "figure-02.png" %></div>
                	<h3>How Malimar.tv Works?</h3>
                    The latest releases without <br>subscription. Watch on your computer, <br>TV, tablet or games console.
                </div>
            </div>
        	<div class="col-sm-4">
            	<div class="bg-blue text-left bl0">
                	<div class="figure-right hidden-xs hidden-sm"><%= image_tag "figure-03.png" %></div>
                	<h3>Support Desk</h3>
                    Lorem ipsum dolor sit amet, <br>consectetuer adipiscing elit, sed <br>diam nonummy nibh.
                </div>
            </div>
        </div>
    </div>
</div><!--content-->
<script>
    $(document).ready(function () {
		$(".scroller").smoothDivScroll({
			manualContinuousScrolling: true
		});
	});
</script>
