<div id="carousel-landing" class="carousel slide">
    <div class="carousel-inner">
        <% @front_page_array.shuffle! %>
        <% @front_page_array.each do |item| %>
            <div class="item">
                <%= image_tag item.banner_url(:front_page) %>
                <div class="carousel-caption">
                    <div class="container">
                        <h2><%= item.name %></h2>
                        <div class="row">
                            <div class="col-md-10 col-sm-9">
                                <div class="media">
                                    <a href="#" class="pull-left"><%= image_tag item.image_url(:preview), class: "media-object",style: 'max-width: 50px; max-height: 50px' %></a>
                                    <div class="media-body"><%= item.synopsis %></div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-3">
                                <a href="<%= item.watch_url %>" class="btn btn-primary btn-block btn-bold">Watch Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div><!--carousel-->

<div class="content">
	<div class="container">
        <% if user_signed_in? && current_user.has_in_progress? %>
            <%= render 'videos/partials/similar/continue_watching' %>
        <% end %>
        <% @grids.each do |grid| %>
                <div class="panel panel-custom">
                    <div class="panel-heading">
                        <div class="icon-left"><span class="glyphicon glyphicon-heart"></span></div>
                        <h3><%= link_to grid.name, full_grid_path(category_id: grid.id) %></h3>
                        <%= link_to raw('<span class="glyphicon glyphicon-th-large"></span> See All'), full_grid_path(category_id: grid.id), class: 'pull-right' %>
                    </div>
                    <div class="panel-body scroller" id='grid_<%= grid.id %>'>
                        <div class='grid_loading text-center'>
                            <i class='fa fa-spin fa-spinner'></i>
                            <script>
                            </script>
                        </div>
                    </div>
                </div>
        <% end %>
    </div>
</div><!--content-->
<script>
    $('.carousel-inner').slick({
        autoplay: true,
        autoplaySpeed: 5000
    })

    var ajaxManager = (function() {
        var requests = [];

        return {
            addReq:  function(opt) {
                requests.push(opt);
            },
            removeReq:  function(opt) {
                if( $.inArray(opt, requests) > -1 )
                    requests.splice($.inArray(opt, requests), 1);
            },
            run: function() {
                var self = this,
                    oriSuc;

                if( requests.length ) {
                    oriSuc = requests[0].complete;

                    requests[0].complete = function() {
                        if( typeof(oriSuc) === 'function' ) oriSuc();
                        requests.shift();
                        self.run.apply(self, []);
                    };   

                    $.ajax(requests[0]);
                } 
                else {
                    self.tid = setTimeout(function() {
                        self.run.apply(self, []);
                    }, 1000);
                }
            },
            stop:  function() {
                requests = [];
                clearTimeout(this.tid);
            }
        };
    }());

    ajaxManager.run();


    $(window).load(function(){
    <% @grids.each do |grid| %>
            ajaxManager.addReq({
                type: 'GET',
                url: '/grid_view',
                data: {id: <%= grid.id %>}
            })
    <% end %>
    })
</script>