<div id="carousel-landing" class="carousel slide" data-ride="carousel">
  	<div class="carousel-inner">
        <% @front_page_array.shuffle %>
        <% i = 0 %>
        <% @front_page_array.each do |item| %>
            <% if i == 0 %><div class="item active"><% else %><div class='item'> %><% end %>
                  <%= image_tag item.banner_url(:front_page) %>
                  <div class="carousel-caption">
                    <div class="container">
                        <h2><%= item.name %></h2>
                        <div class="row">
                            <div class="col-md-10 col-sm-9">
                                <div class="media">
                                    <a href="#" class="pull-left"><%= image_tag item.image_url(:preview), class: "media-object",style: 'max-width: 50px; max-height: 50px' %></a>
                                    <div class="media-body"><%= item.synopsis %></div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-3">
                                <a href="<%= item.watch_url %>" class="btn btn-primary btn-block btn-bold">Watch Now</a>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
            <% i += 1 %>
        <% end %>
    </div>
    <a class="left carousel-control" href="#carousel-landing" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-landing" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div><!--carousel-->

<div class="content">
	<div class="container">
        <% if user_signed_in? && current_user.has_in_progress? %>
            <%= render 'videos/partials/similar/continue_watching' %>
        <% end %>
        <% @grids.each do |grid| %>
            <% if (grid.adult.nil? || grid.adult == false) %>
                <%
                @parent_grid = grid.clone
                @child_grids = Grid.where(grid_id: @parent_grid.id).order(weight: :desc)
                if @parent_grid.class_type == 'Show'
                    if @parent_grid.sort == 'Alphabetical'
                        items = Show.where(grid_id: @parent_grid.id).order(name: :asc)
                    elsif @parent_grid.sort == 'Random'
                        items = Show.where(grid_id: @parent_grid.id).shuffle
                    else
                        unsorted_items = Show.where(grid_id: @parent_grid.id)
                        sort_hash = Hash.new
                        unsorted_items.each do |item|
                            sort_hash[item.id] = item.newest_episode
                        end
                        sort_hash.sort_by {|_key, value| value}

                        items = Array.new
                        sort_hash.each do |k,v|
                            items.push(Show.find(k))
                        end

                    end
                elsif @parent_grid.class_type == 'Channel'
                    if @parent_grid.sort == 'Alphabetical'
                        items = Channel.where(grid_id: @parent_grid.id, web: true).order(name: :asc)
                    elsif @parent_grid.sort == 'Random'
                        items = Channel.where(grid_id: @parent_grid.id, web: true).shuffle
                    elsif @parent_grid.sort == 'New Arrivals/Episodes'
                        items = Channel.where(grid_id: @parent_grid.id, web: true).order(created_at: :desc)
                    end
                elsif @parent_grid.class_type == 'Movie'
                    if @parent_grid.sort == 'Alphabetical'
                        items = Movie.where(grid_id: @parent_grid.id, web: true).order(name: :asc)
                    elsif @parent_grid.sort == 'Random'
                        items = Movie.where(grid_id: @parent_grid.id, web: true).shuffle
                    elsif @parent_grid.sort == 'New Arrivals/Episodes'
                        items = Movie.where(grid_id: @parent_grid.id, web: true).order(created_at: :desc)
                    end
                end
                %>
            	<div class="panel panel-custom">
                  	<div class="panel-heading">
                    	<div class="icon-left"><span class="glyphicon glyphicon-heart"></span></div>
                    	<h3><%= grid.name %></h3>
                        <%= link_to raw('<span class="glyphicon glyphicon-th-large"></span> See All'), full_grid_path(category_id: grid.id), class: 'pull-right' %>
                    </div>
                  	<div class="panel-body scroller">
                        <% @child_grids.each do |item| %>
                            <% unless item.adult == true %>
                            <div class="channel">
                                <a href="<%= item.watch_url %>">
                                    <div class="channel-img">
                                        <div class="hover-play"><%= image_tag 'hover-play.png' %></div>
                                        <%= image_tag item.image_url(:hd), class: "grayscale" %>
                                    </div>
                                    <h4><%= item.name %></h4>
                                </a>
                            </div>
                            <% end %>
                        <% end %>
                        <% items.each do |item| %>
                            <% unless item.adult == true %>
                            <div class="channel">
                                <a href="<%= item.watch_url %>">
                                    <% if item.content_quality == 'HD' %><div class="ribbon"><%= image_tag "ribbon-hd.png" %></div><% end %>
                                    <div class="channel-img">
                                        <div class="hover-play"><%= image_tag 'hover-play.png' %></div>
                                        <%= image_tag item.image_url(:hd), class: "grayscale" %>
                                    </div>
                                    <h4><%= item.name %></h4>
                                </a>
                            </div>
                            <% end %>
                        <% end %>
                  	</div>
                </div><!--pannel-->
            <% end %>
        <% end %>
    </div>
</div><!--content-->
<script>
    $(document).ready(function () {
        $(".scroller").slick({
            infinite: true,
            slidesToShow: 6,
            slidesToScroll: 4,
            responsive: [
                {
                  breakpoint: 991,
                  settings: {
                    slidesToShow: 4,
                    slidesToScroll: 2,
                    infinite: true
                  }
                },
                {
                  breakpoint: 768,
                  settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1
                  }
                },
                {
                  breakpoint: 480,
                  settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2
                  }
                }
            ]
        });
    });
</script>
