<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  	<div class="carousel-inner">
    	<div class="item active">
      		<%= image_tag "banner.jpg" %>
      		<div class="carousel-caption">
            	<div class="container">
            		<h2>The Voice Thailand Season 2</h2>
                    <div class="row">
                    	<div class="col-md-10 col-sm-9">
                            <div class="media">
                                <a href="#" class="pull-left"><%= image_tag "tv-01-sm.png", class: "media-object" %></a>
                                <div class="media-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et.</div>
                            </div>
                    	</div>
                        <div class="col-md-2 col-sm-3">
                        	<a href="#" class="btn btn-primary btn-block btn-bold">Watch Now</a>
                        </div>
                    </div>
                </div>
      		</div>
    	</div>
    	<div class="item">
      		<%= image_tag "banner.jpg" %>
      		<div class="carousel-caption">
            	<div class="container">
            		<h2>The Voice Thailand Season 2</h2>
                    <div class="row">
                    	<div class="col-md-10 col-sm-9">
                            <div class="media">
                                <a href="#" class="pull-left"><%= image_tag "tv-01-sm.png", class: "media-object" %></a>
                                <div class="media-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et.</div>
                            </div>
                    	</div>
                        <div class="col-md-2 col-sm-3">
                        	<a href="#" class="btn btn-primary btn-block btn-bold">Watch Now</a>
                        </div>
                    </div>
                </div>
      		</div>
    	</div>
  	</div>
</div><!--carousel-->

<div class="splash">
	<div class="container">
    	<div class="figure hidden-xs hidden-sm"><%= image_tag "figure-04.png" %></div>
    	<h3>Works on Xbox 360®,  Playstation 3®, HDTV/Blue-ray™ player, Android™ Devices, Roku®, Ipad® or computer</h3>
        <div class="fz12">* Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</div>
    </div>
</div><!--splash-->

<div class="content">
	<div class="container">
    	<div class="panel panel-custom">
          	<div class="panel-heading">
            	<div class="icon-left"><span class="glyphicon glyphicon-heart"></span></div>
            	<h3>FREE Live TV Channels</h3>
            	<a href="#" class="pull-right"><span class="glyphicon glyphicon-th-large"></span> See All </a>
            </div>
          	<div class="panel-body">
            	<div class="row row0">
                	<div class="col-sm-4 col-md-2">
                    	<div class="channel">
                        	<a href="#">
                            	<div class="ribbon"><%= image_tag "ribbon-top.png" %></div>
                        		<div class="channel-img"><%= image_tag "tv-01.png", class: "grayscale" %></div>
                                <h4>Thai TV3</h4>
                            </a>
                        </div>
                    </div>
                	<div class="col-sm-4 col-md-2">
                    	<div class="channel">
                        	<a href="#">
                        		<div class="channel-img"><%= image_tag "tv-02.png", class: "grayscale" %></div>
                                <h4>TV5 Cambodia</h4>
                            </a>
                        </div>
                    </div>
                	<div class="col-sm-4 col-md-2">
                    	<div class="channel">
                        	<a href="#">
                            	<div class="ribbon"><%= image_tag "ribbon-top.png" %></div>
                        		<div class="channel-img"><%= image_tag "tv-03.png", class: "grayscale" %></div>
                                <h4>Thai Channel 8</h4>
                            </a>
                        </div>
                    </div>
                	<div class="col-sm-4 col-md-2">
                    	<div class="channel">
                        	<a href="#">
                        		<div class="channel-img"><%= image_tag "tv-04.png", class: "grayscale" %></div>
                                <h4>TV 3 Malaysia</h4>
                            </a>
                        </div>
                    </div>
                	<div class="col-sm-4 col-md-2">
                    	<div class="channel">
                        	<a href="#">
                            	<div class="ribbon"><%= image_tag "ribbon-new.png" %></div>
                        		<div class="channel-img"><%= image_tag "tv-05.png", class: "grayscale" %></div>
                                <h4>Malaysia TV 8</h4>
                            </a>
                        </div>
                    </div>
                	<div class="col-sm-4 col-md-2">
                    	<div class="channel">
                        	<a href="#">
                        		<div class="channel-img"><%= image_tag "tv-06.png", class: "grayscale" %></div>
                                <h4>CTV9 Cambodia</h4>
                            </a>
                        </div>
                    </div>
                </div>
          	</div>
        </div><!--pannel-->
        <div class="panel panel-custom">
          	<div class="panel-heading">
            	<div class="icon-left"><span class="glyphicon glyphicon-heart"></span></div>
            	<h3>PREMIUM Live TV Channels</h3>
            	<a href="#" class="pull-right"><span class="glyphicon glyphicon-th-large"></span> See All </a>
            </div>
          	<div class="panel-body">
            	<div class="row row0">
                	<div class="col-sm-4 col-md-2">
                    	<div class="channel">
                        	<a href="#">
                        		<div class="channel-img"><%= image_tag "tv-07.png", class: "grayscale" %></div>
                                <h4>TV Lao</h4>
                            </a>
                        </div>
                    </div>
                	<div class="col-sm-4 col-md-2">
                    	<div class="channel">
                        	<a href="#">
                            	<div class="ribbon"><%= image_tag "ribbon-hd.png" %></div>
                        		<div class="channel-img"><%= image_tag "tv-08.png", class: "grayscale" %></div>
                                <h4>LaoNational TV</h4>
                            </a>
                        </div>
                    </div>
                	<div class="col-sm-4 col-md-2">
                    	<div class="channel">
                        	<a href="#">
                            	<div class="ribbon"><%= image_tag "ribbon-top.png" %></div>
                        		<div class="channel-img"><%= image_tag "tv-09.png", class: "grayscale" %></div>
                                <h4>Thai TV 7</h4>
                            </a>
                        </div>
                    </div>
                	<div class="col-sm-4 col-md-2">
                    	<div class="channel">
                        	<a href="#">
                        		<div class="channel-img"><%= image_tag "tv-10.png", class: "grayscale" %></div>
                                <h4>Lao Star TV</h4>
                            </a>
                        </div>
                    </div>
                	<div class="col-sm-4 col-md-2">
                    	<div class="channel">
                        	<a href="#">
                        		<div class="channel-img"><%= image_tag "tv-11.png", class: "grayscale" %></div>
                                <h4>Thai TV 5</h4>
                            </a>
                        </div>
                    </div>
                	<div class="col-sm-4 col-md-2">
                    	<div class="channel">
                        	<a href="#">
                            	<div class="ribbon"><%= image_tag "ribbon-hd.png" %></div>
                        		<div class="channel-img"><%= image_tag "tv-12.png", class: "grayscale" %></div>
                                <h4>MV Lao Television</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    	</div>

        <div class="row row0 mb30">
        	<div class="col-sm-4">
            	<div class="bg-blue text-right">
                	<div class="figure-left hidden-xs hidden-sm"><%= image_tag "figure-01.png" %></div>
                	<h3>Configure your Roku Device</h3>
                    Lorem ipsum dolor sit amet, <br>consectetuer adipiscing elit, sed <br>diam nonummy nibh.
                </div>
            </div>
        	<div class="col-sm-4">
            	<div class="bg-blue text-center bl0">
                	<div class="figure-left hidden-xs hidden-sm"><%= image_tag "figure-02.png" %></div>
                	<h3>How Malimar.tv Works?</h3>
                    The latest releases without <br>subscription. Watch on your computer, <br>TV, tablet or games console.
                </div>
            </div>
        	<div class="col-sm-4">
            	<div class="bg-blue text-left bl0">
                	<div class="figure-right hidden-xs hidden-sm"><%= image_tag "figure-03.png" %></div>
                	<h3>Support Desk</h3>
                    Lorem ipsum dolor sit amet, <br>consectetuer adipiscing elit, sed <br>diam nonummy nibh.
                </div>
            </div>
        </div>
    </div>
</div><!--content-->
