$('#name-error').remove()
$('#stream_url-error').remove()
$('#content_type-error').remove()
$('#free-error').remove()
$('#content_quality-error').remove()
$('#bitrate-error').remove()
$('#synopsis-error').remove()
$('#stream_name-error').remove()
<% if @channel.errors.any? %>
    <% if @channel.errors[:name].present? %>
        $('#name').after('<div class="text-danger" id="name-error">Name <%= @channel.errors[:name].join(", ") %>.</div>')
    <% end %>
    <% if @channel.errors[:stream_url].present? %>
        $('#stream_url').after('<div class="text-danger" id="stream_url-error">Stream URL <%= @channel.errors[:stream_url].join(", ") %>.</div>')
    <% end %>
    <% if @channel.errors[:content_type].present? %>
        $('#content_type').after('<div class="text-danger" id="content_type-error">Content type <%= @channel.errors[:content_type].join(", ") %>.</div>')
    <% end %>
    <% if @channel.errors[:free].present? %>
        $('#free').after('<div class="text-danger" id="free-error">Membership <%= @channel.errors[:free].join(", ") %>.</div>')
    <% end %>
    <% if @channel.errors[:content_quality].present? %>
        $('#content_quality').after('<div class="text-danger" id="content_quality-error">Content quality <%= @channel.errors[:content_quality].join(", ") %>.</div>')
    <% end %>
    <% if @channel.errors[:bitrate].present? %>
        $('#bitrate').after('<div class="text-danger" id="bitrate-error">Bitrate <%= @channel.errors[:bitrate].join(", ") %>.</div>')
    <% end %>
    <% if @channel.errors[:synopsis].present? %>
        $('#synopsis').after('<div class="text-danger" id="synopsis-error">Synopsis <%= @channel.errors[:synopsis].join(", ") %>.</div>')
    <% end %>
    <% if @channel.errors[:stream_name].present? %>
        $('#stream_name').after('<div class="text-danger" id="stream_name-error">Stream name <%= @channel.errors[:stream_name].join(", ") %>.</div>')
    <% end %>
    $('#details-title').html('Channel Details - <span class="text-danger">Not Updated</span>')
<% else %>
    var labels = jQuery.makeArray($('label.edited'))
    $.each(labels, function(index,element){
        $(element).html($(element).html().replace(' - <span class="edited-tag">Edited</span>',''))
        $(element).addClass('unedited')
    })
    $('#details-title').html('Channel Details - <span class="text-success">Updated</span>')
    $('#channel_<%= @channel.id %>').html('<%= escape_javascript(render("admins/cms_partials/channel_list_item")) %>')
    $('#edited_by').html("<%= @channel.edited_by_admin %><br/><small><%= @channel.updated_at.strftime('%B %-d, %Y at %H:%M') %></small>")
<% end %>
