$('#edit_ep_title-error').remove()
$('#edit_ep_episode_number-error').remove()
$('#edit_ep_stream_url-error').remove()
$('#edit_ep_release_date-error').remove()
$('#edit_ep_content_type-error').remove()
$('#edit_ep_content_quality-error').remove()
$('#edit_ep_bitrate-error').remove()
$('#edit_ep_length-error').remove()

<% if @episode.errors.any? %>
    <% if @episode.errors[:title].present? %>
        $('#edit_ep_title').after('<div class="text-danger" id="edit_ep_title-error">Title <%= @episode.errors[:title].join(", ") %>.</div>')
    <% end %>
    <% if @episode.errors[:episode_number].present? %>
        $('#edit_ep_episode_number').after('<div class="text-danger" id="edit_ep_episode_number-error">Episode number <%= @episode.errors[:episode_number].join(", ") %>.</div>')
    <% end %>
    <% if @episode.errors[:stream_url].present? %>
        $('#edit_ep_stream_url').after('<div class="text-danger" id="edit_ep_stream_url-error">Streaming URL <%= @episode.errors[:stream_url].join(", ") %>.</div>')
    <% end %>
    <% if @episode.errors[:release_date].present? %>
        $('#edit_ep_release_date').after('<div class="text-danger" id="edit_ep_release_date-error">Release date <%= @episode.errors[:release_date].join(", ") %>.</div>')
    <% end %>
    <% if @episode.errors[:content_type].present? %>
        $('#edit_ep_content_type').after('<div class="text-danger" id="edit_ep_content_type-error">Content type <%= @episode.errors[:content_type].join(", ") %>.</div>')
    <% end %>
    <% if @episode.errors[:content_quality].present? %>
        $('#edit_ep_content_quality').after('<div class="text-danger" id="edit_ep_content_quality-error">Content quality <%= @episode.errors[:content_quality].join(", ") %>.</div>')
    <% end %>
    <% if @episode.errors[:bitrate].present? %>
        $('#edit_ep_bitrate').after('<div class="text-danger" id="edit_ep_bitrate-error">Bitrate <%= @episode.errors[:bitrate].join(", ") %>.</div>')
    <% end %>
    <% if @episode.errors[:length].present? %>
        $('#edit_ep_length').after('<div class="text-danger" id="edit_ep_length-error">Length <%= @episode.errors[:length].join(", ") %>.</div>')
    <% end %>
<% else %>
    $('#show_<%= @show.id %>').html('<%= escape_javascript(render("admins/cms_partials/show_list_item")).html_safe %>')
    $('#search_show_<%= @show.id %>').html('<%= escape_javascript(render("admins/cms_partials/show_list_item")).html_safe %>')
    $('#episode_wrapper').html('<%= escape_javascript(render("admins/cms_partials/episode_list")).html_safe %>')
    $('#edit_episode_modal').modal('hide')
    $('#edit_ep_title').val('')
    $('#edit_ep_stream_url').val('')
    $('#edit_ep_release_date').val('')
    $('#edit_ep_content_type').val('')
    $('#edit_ep_content_quality').val('')
    $('#edit_ep_bitrate').val('')
    $('#edit_ep_episode_number').val('')
    $('#edit_ep_genres').val('')
    $('#edit_ep_actors').val('')
    $('#edit_ep_synopsis').val('')
<% end %>
