<div class="splash mb30">
	<div class="container">
    	<div class="row">
        	<div class="col-sm-6">
            	<div class="media">
                	<div class="pull-left mr30"><%= image_tag @channel.image_url(:preview), class: "media-object", style: 'height: 50px' %></div>
                    <div class="media-body">
                    	<h3 class="name"><%= @channel.name %></h3>
                    </div>
                </div>
            </div>
        	<div class="col-sm-6">
            	<div class="channel-meta mt10">
                    <% if @channel.grid_id.present? %>
                        <%= link_to 'Full List', full_grid_path(category_id: @channel.grid_id), class: 'btn btn-primary btn-bold btn-w180' %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div><!--splash-->
<div class="content">
	<div class="container">
    	<div class="w960">
        	<div class="video-container" id='video_wrapper'>

            </div>
        </div>

        <%= render 'videos/partials/similar_links' %>
    </div>
</div><!--content-->
<% if (user_signed_in? && current_user.premium?) || admin_signed_in?  %>
	<!-- Nothing -->
<% elsif user_signed_in? && current_user.expired? %>
	<% if @channel.free? %>
		<%= render('videos/partials/expired_account_modal') %>
		<script>$('#modal-expired').modal({show: true})</script>
	<% else %>
		<%= render('videos/partials/expired_account_modal') %>
		<script>
			$('#modal-expired').modal({show: true, keyboard: false, backdrop: 'static'})
			$('#modal-expired').on('hidden.bs.modal', function () {
				window.location = '/'
			})
		</script>
	<% end %>
<% elsif user_signed_in? && user.premium == false && @channel.free == false %>
	<%= render('videos/partials/no_plan') %>
	<script>
		$('#modal-no-plan').modal({show: true, keyboard: false, backdrop: 'static'})
		$('#modal-no-plan').on('hidden.bs.modal', function () {
			window.location = '/'
		})
	</script>
<% else %>
	<%= render('videos/partials/sign_in_modal_channel') %>
	<script>
		$('#modal-login').modal({show: true, keyboard: false, backdrop: 'static'})
		$('#modal-login').on('hidden.bs.modal', function () {
			window.location = '/'
		})
	</script>
<% end %>

<script>
<% if @channel.rtmp_url.present? %>
jwplayer("video_wrapper").setup({
	sources: [
		{file: "<%= @channel.rtmp_url %>?token=<%= @token %>"},
		<% if @channel.stream_url.include?('/playlist.m3u8') %>
		{file: "<%= @channel.stream_url %>?token=<%= @token %>"}
		<% else %>
		{file: "<%= @channel.stream_url %>/playlist.m3u8?token=<%= @token %>"}
		<% end %>
	],
	image: "<%= @channel.image_url %>",
	title:"<%= @channel.name %>",
	width: '100%',
	height: 550,
	primary: 'flash'
});
<% else %>
jwplayer("video_wrapper").setup({
	sources: [
		<% if @channel.stream_url.include?('/playlist.m3u8') %>
		{file: "<%= @channel.stream_url %>?token=<%= @token %>"}
		<% else %>
		{file: "<%= @channel.stream_url %>/playlist.m3u8?token=<%= @token %>"}
		<% end %>
	],
	image: "<%= @channel.image_url %>",
	title:"<%= @channel.name %>",
	width: '100%',
	height: 550,
	primary: 'flash'
});
<% end %>
</script>
