<div class="splash mb30">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="media">
                    <div class="pull-left mr30"><%= image_tag @show.image_url(:preview), class: "media-object", style: 'height: 50px' %></div>
                    <div class="media-body">
                        <h3 class="name"><%= @show.name %></h3>
                        Episode <%= @episode.episode_number %><% if @episode.final? %> - FINAL<% end %>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="channel-meta mt10">
                    <% if @show.grid_id.present? %>
                        <%= link_to 'Full List', full_grid_path(category_id: @show.grid_id), class: 'btn btn-primary btn-bold btn-w180' %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div><!--splash-->
<div class="content">
    <div class="container">
        <div class="w960">
            <div class="video-container" id='video_wrapper'>

            </div>
        </div>
        <div class="w960 text-right">
            <% if user_signed_in? && BrokenLink.already_submitted?(@show.id, 'Channel', current_user.id, @episode.episode_number) == false %>
                <%= link_to 'Broken Video?', submit_broken_link_path(video_id: @show.id, video_type: 'Show', user_id: current_user.id, episode_number: @episode.episode_number), class: 'btn btn-primary btn-bold btn-w180', remote: true, id: 'report_link', data: {disable_with: 'Submitting...'} %>
            <% else %>
                <%= link_to 'Broken Video?', '#', class: 'btn btn-primary btn-bold btn-w180', remote: true, id: 'report_link', disabled: 'disabled' %>
            <% end %>
        </div>
        <% @item = @channel %>
        <%= render 'videos/partials/similar/shows' %>
    </div>
</div><!--content-->


<div class="modal fade" id="report_modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body p0">
                <div class='row row0' id='report_modal_body' style='padding: 15px;'>

                </div>
            </div>
            <div class='modal-footer'>
                <a href='#' class='btn btn-primary btn-block' data-dismiss="modal">OK</a>
            </div>
        </div>
    </div>
</div><!--modal-->



<script>
$('#episode_<%= @episode.id %>').addClass('active')
jwplayer("video_wrapper").setup({
    sources: [
        {file: "<%= @episode.hls_stream %>"},
        {file: "<%= @episode.rtmp_stream %>"}
    ],
    image: "<%= @show.image_url %>",
    title:"<%= @episode.title %>",
    width: '100%',
    height: 550,
    primary: 'flash'
});
</script>
<% if (user_signed_in? && current_user.web_premium?) || admin_signed_in?  %>
    <script>
        <% if @episode_update.present? && params[:resume] != 'false' && user_signed_in? %>
            jwplayer().onSeek(function(){
                jwplayer().play(true);
            });
                jwplayer().seek(<%= @episode_update.time %>)

        <% else %>
            jwplayer().play()
        <% end %>
        <% unless @episode.last_episode? %>
            jwplayer().onComplete(function(){
                $.ajax({
                    url: '/mark_episode_complete?show_id=<%= @show.id %>&episode_id=<%= @episode.id %>&episode_number=<%= @episode.episode_number %>'
                }).complete(function(){
                    window.location = '<%= watch_episode_path(show_slug: @show.slug, episode_number: @episode.next_episode, resume: false) %>'
                })
            })
        <% else %>
            jwplayer().onComplete(function(){
                $.ajax({
                    url: '/mark_show_complete?show_id=<%= @show.id %>'
                }).complete(function(){
                    window.location = '<%= browse_episodes_path(show_slug: @show.slug) %>'
                })
            })
        <% end %>
        jwplayer().onTime(function(){
            if (Math.round(jwplayer().getPosition() * 10) % 50 == 0){
                $.ajax({
                    url: '/update_show_time?show_id=<%= @show.id %>&episode_id=<%= @episode.id %>&episode_number=<%= @episode.episode_number %>&time='+jwplayer().getPosition()
                })
            }
        })
    </script>
<% elsif user_signed_in? && current_user.web_premium? == false && @channel.free == false %>
    <%= render('videos/partials/no_plan') %>
    <script>
        $('#modal-no-plan').modal({show: true, keyboard: false, backdrop: 'static'})
        $('#modal-no-plan').on('hidden.bs.modal', function () {
            window.location = '/'
        })
    </script>

<% elsif user_signed_in? %>
<% else %>
    <%= render('videos/partials/sign_in_modal_show') %>
    <script>
        $('#modal-login').modal({show: true, keyboard: false, backdrop: 'static'})
        $('#modal-login').on('hidden.bs.modal', function () {
            window.location = '/'
        })
    </script>
<% end %>
