<div class="splash mb30">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="media">
                    <div class="pull-left mr30"><%= image_tag @movie.image_url(:preview), class: "media-object", style: 'height: 50px' %></div>
                    <div class="media-body">
                        <h3 class="name"><%= @movie.name %></h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="channel-meta mt10">
                    <% if @movie.grid_id.present? %>
                        <%= link_to 'Full List', full_grid_path(category_id: @movie.grid_id), class: 'btn btn-primary btn-bold btn-w180' %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div><!--splash-->
<div class="content">
    <div class="container">
        <div class="w960">
            <div class="video-container" id='video_wrapper'>

            </div>
        </div>

        <% @item = @movie %>
        <%= render 'videos/partials/similar_links' %>
    </div>
</div><!--content-->


<script>
$('#episode_<%= @movie.id %>').addClass('active')
<% if @movie.rtmp_url.present? %>
jwplayer("video_wrapper").setup({
    sources: [
        {file: "<%= @movie.rtmp_url %>"},
        <% if @channel.stream_url.include?('/playlist.m3u8') %>
        {file: "<%= @movie.stream_url %>"}
        <% else %>
        {file: "<%= @movie.stream_url %>/playlist.m3u8"}
        <% end %>
    ],
    image: "<%= @movie.image_url %>",
    title:"<%= @movie.name %>",
    width: '100%',
    height: 550,
    primary: 'flash'
});
<% else %>
jwplayer("video_wrapper").setup({
    sources: [
        <% if @movie.stream_url.include?('/playlist.m3u8') %>
        {file: "<%= @movie.stream_url %>"}
        <% else %>
        {file: "<%= @movie.stream_url %>/playlist.m3u8"}
        <% end %>
    ],
    image: "<%= @movie.image_url %>",
    title:"<%= @movie.name %>",
    width: '100%',
    height: 550,
    primary: 'flash'
});
<% end %>
</script>
<% if (user_signed_in? && current_user.web_premium?) || admin_signed_in?  %>
    <script>
        jwplayer().onSeek(function(){
            jwplayer().play(true);
        });
        % if @movie_update.present? && params[:resume] != 'false' %>
            jwplayer().seek(<%= @movie_update.time %>)
        <% else %>
            jwplayer().play()
        <% end %>
        jwplayer().onComplete(function(){
            $.ajax({
                url: '/mark_movie_complete?movie_id=<%= @movie.id %>'
            })
        })

        jwplayer().onTime(function(){
            if (Math.round(jwplayer().getPosition() * 10) % 50 == 0){
                $.ajax({
                    url: '/update_movie_time?movie_id=<%= @movie.id %>&time='+jwplayer().getPosition()
                })
            }
        })
    </script>
<% elsif user_signed_in? && current_user.web_premium? == false && @channel.free == false %>
    <%= render('videos/partials/no_plan') %>
    <script>
        $('#modal-no-plan').modal({show: true, keyboard: false, backdrop: 'static'})
        $('#modal-no-plan').on('hidden.bs.modal', function () {
            window.location = '/'
        })
    </script>

<% elsif user_signed_in? %>
<% else %>
    <%= render('videos/partials/sign_in_modal_channel') %>
    <script>
        $('#modal-login').modal({show: true, keyboard: false, backdrop: 'static'})
        $('#modal-login').on('hidden.bs.modal', function () {
            window.location = '/'
        })
    </script>
<% end %>
