<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-3">
                <div class="panel panel-custom">
                    <div class="panel-heading">
                        <h3 class="fz14"><%= @show.name %></h3>
                    </div>
                    <div class="panel-body b0" style='text-align:center'>
                        <%= image_tag @show.image_url, class: 'img-responsive' %>
                    </div>
                </div>
                <div class="socials">
                    <div class='episode_list_title'>
                        Episode List
                    </div>
                    <div class='episode_list'>
                        <% @episodes.each do |episode| %>
                            <div class='episode' id='episode_<%= episode.id %>' onclick='window.location="/watch/shows/<%= @show.id %>/<%= episode.episode_number %>"'>
                                <div class='title'>
                                    <%= episode.title %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-md-9">
                <div class="box-white">
                    <div class="data-bb clearfix">
                        <div class="pull-left">
                            <strong><%= @episode.title %></strong>
                            <div class="fz12-5"><%= @episode.release_date.strftime('%B %-d, %Y') %></div>
                        </div>
                        <div class="pull-right">
                            <div class="fz12-5"><%= pluralize(@episodes.count, 'Episode') %></div>
                        </div>
                    </div>
                    <div class="data-bb">
                        <%= simple_format(@episode.synopsis) %>
                    </div>
                    <div class='video_wrapper' id='video_wrapper'>

                    </div>
                </div>
                <%= render 'videos/partials/similar_links' %>
            </div>
        </div>
    </div>
</div><!--content-->


<% if (user_signed_in? && current_user.premium?) || admin_signed_in?  %>
    <!-- Nothing -->
<% elsif user_signed_in? && current_user.expired? %>
    <% if @show.free? %>
        <%= render('videos/partials/expired_account_modal') %>
        <script>$('#modal-expired').modal({show: true})</script>
    <% else %>
        <%= render('videos/partials/expired_account_modal') %>
        <script>
            $('#modal-expired').modal({show: true, keyboard: false, backdrop: 'static'})
            $('#modal-expired').on('hidden.bs.modal', function () {
                window.location = '/'
            })
        </script>
    <% end %>
<% elsif user_signed_in? && user.premium == false && @show.free == false %>
    <%= render('videos/partials/no_plan') %>
    <script>
        $('#modal-no-plan').modal({show: true, keyboard: false, backdrop: 'static'})
        $('#modal-no-plan').on('hidden.bs.modal', function () {
            window.location = '/'
        })
    </script>
<% else %>
    <%= render('videos/partials/sign_in_modal_show') %>
    <script>
        $('#modal-login').modal({show: true, keyboard: false, backdrop: 'static'})
        $('#modal-login').on('hidden.bs.modal', function () {
            window.location = '/'
        })
    </script>
<% end %>



<script>
$('#episode_<%= @episode.id %>').addClass('active')
<% if @episode.rtmp_url.present? %>
jwplayer("video_wrapper").setup({
    sources: [
        {file: "<%= @episode.rtmp_url %>"},
        <% if @channel.stream_url.include?('/playlist.m3u8') %>
        {file: "<%= @episode.stream_url %>"}
        <% else %>
        {file: "<%= @episode.stream_url %>/playlist.m3u8"}
        <% end %>
    ],
    image: "<%= @show.image_url %>",
    title:"<%= @episode.title %>",
    width: '100%',
    height: 400,
    primary: 'flash'
});
<% else %>
jwplayer("video_wrapper").setup({
    sources: [
        <% if @episode.stream_url.include?('/playlist.m3u8') %>
        {file: "<%= @episode.stream_url %>"}
        <% else %>
        {file: "<%= @episode.stream_url %>/playlist.m3u8"}
        <% end %>
    ],
    image: "<%= @show.image_url %>",
    title:"<%= @episode.title %>",
    width: '100%',
    height: 400,
    primary: 'flash'
});
<% end %>
</script>
