<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-3">
                <div class="panel panel-custom">
                    <div class="panel-heading">
                        <h3 class="fz14"><%= @movie.name %></h3>
                    </div>
                    <div class="panel-body b0">
                        <%= image_tag @movie.image_url, class: 'img-responsive' %>
                    </div>
                </div>
                <div class="socials">
                    <a href="#"><span class="fb"></span></a>
                    <a href="#"><span class="tw"></span></a>
                    <a href="#"><span class="rss"></span></a>
                </div>
            </div>
            <div class="col-sm-8 col-md-9">
                   <div class="box-white">
                    <div class="data-bb clearfix">
                        <div class="pull-left">
                            <span class="star-wrap">
                                <span class="glyphicon glyphicon-star yellow"></span>
                                <span class="glyphicon glyphicon-star yellow"></span>
                                <span class="glyphicon glyphicon-star yellow"></span>
                                <span class="glyphicon glyphicon-star yellow"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </span>
                            <div class="fz12-5">2013</div>
                        </div>
                        <div class="pull-right">
                            <br>
                            <div class="fz12-5">4 Episodes</div>
                        </div>
                    </div>
                    <div class='video_wrapper' id='video_wrapper'>

                    </div>
                    <div class="data-bb">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--content-->
<script>
$('#episode_<%= @movie.id %>').addClass('active')
jwplayer("video_wrapper").setup({
    file: "<%= @movie.stream_url %>",
    image: "<%= @movie.image_url %>",
    title:"<%= @movie.name %>",
    width: '100%',
    height: 400
});
</script>
