<div class="splash mb30">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="media">
                    <div class="pull-left mr30"><%= image_tag @show.image_url(:preview), class: "media-object", style: 'height: 50px' %></div>
                    <div class="media-body">
                        <h3 class="name"><%= @show.name %></h3>
                        Episode <%= @episode.episode_number %><% if @episode.final? %> - FINAL<% end %> - <%= @episode.release_date.strftime('%B %-d, %Y') %>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="channel-meta mt10">
                    <% if @show.grid_id.present? %>
                        <%= link_to 'Full List', full_grid_path(category_id: @show.grid_id), class: 'btn btn-primary btn-bold btn-w180' %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div><!--splash-->
<div class="container-fluid">
    <div class="w960">
        <div class="video-container" id='video_wrapper'>

        </div>
    </div>
    <div class="w960 text-right">
        <% if user_signed_in? && BrokenLink.already_submitted?(@show.id, 'Channel', current_user.id, @episode.episode_number) == false %>
            <%= link_to 'Broken Video?', submit_broken_link_path(video_id: @show.id, video_type: 'Show', user_id: current_user.id, episode_number: @episode.episode_number), class: 'btn btn-primary btn-bold btn-w180', remote: true, id: 'report_link', data: {disable_with: 'Submitting...'} %>
        <% else %>
            <%= link_to 'Broken Video?', '#', class: 'btn btn-primary btn-bold btn-w180', remote: true, id: 'report_link', disabled: 'disabled' %>
        <% end %>
    </div>
    <% @item = @channel %>
    <%= render 'videos/partials/similar/shows' %>
</div>


<div class="modal fade" id="report_modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body p0">
                <div class='row row0' id='report_modal_body' style='padding: 15px;'>

                </div>
            </div>
            <div class='modal-footer'>
                <a href='#' class='btn btn-primary btn-block' data-dismiss="modal">OK</a>
            </div>
        </div>
    </div>
</div><!--modal-->

<%= render('videos/partials/sign_in_modal_show') %>
<%= render('videos/partials/no_plan_modal') %>

<script>
$(document).ready(function(){
    var userAgent = navigator.userAgent || navigator.vendor || window.opera;
    if( userAgent.match( /Android/i ) || userAgent.match( /iPhone/i ) || userAgent.match( /iPad/i ) || userAgent.match( /iPod/i ) ){
        $('#video_wrapper').html('<div id="mobile_player" class="mobile_player"><%= image_tag @show.image_url, id: "mobile_bg_img", class: "mobile_bg_img" %><%= link_to image_tag("hover-play.png"), "#{@episode.hls_stream}", class: "play_icon_lg", id: "play_icon_lg" %></div>')
        $(window).load(function(){
            centerIcon();
            $(window).resize(function(){
                centerIcon();
            })
        })
    }
    else {
        jwplayer("video_wrapper").setup({
            sources: [
                {file: "<%= @episode.hls_stream %>"},
                {file: "<%= @episode.rtmp_stream %>"}
            ],
            image: "<%= @show.image_url %>",
            title:"<%= @episode.title %>",
            width: '100%',
            height: 550,
            androidhls: true,
            flashplayer: '<%=asset_path('jwplayer/jwplayer.flash.swf')%>',
            primary: 'flash'
        });
    }

    <% if (user_signed_in? && current_user.web_premium?) || admin_signed_in? || @show.free?  %>
        <% if @episode_update.present? && params[:resume] != 'false' && user_signed_in? %>
            jwplayer().onSeek(function(){
                jwplayer().play(true);
            });
                jwplayer().seek(<%= @episode_update.time %>)

        <% else %>
            jwplayer().play()
        <% end %>
        <% unless @episode.last_episode? %>
            jwplayer().onComplete(function(){
                $.ajax({
                    url: '/mark_episode_complete?show_id=<%= @show.id %>&episode_id=<%= @episode.id %>&episode_number=<%= @episode.episode_number %>'
                }).complete(function(){
                    window.location = '<%= watch_episode_path(show_slug: @show.slug, episode_number: @episode.next_episode, resume: false) %>'
                })
            })
        <% else %>
            jwplayer().onComplete(function(){
                $.ajax({
                    url: '/mark_show_complete?show_id=<%= @show.id %>'
                }).complete(function(){
                    window.location = '<%= browse_episodes_path(show_slug: @show.slug) %>'
                })
            })
        <% end %>
        jwplayer().onTime(function(){
            if (Math.round(jwplayer().getPosition() * 10) % 50 == 0){
                $.ajax({
                    url: '/update_show_time?show_id=<%= @show.id %>&episode_id=<%= @episode.id %>&episode_number=<%= @episode.episode_number %>&time='+jwplayer().getPosition()
                })
            }
        })
    <% elsif user_signed_in? && current_user.web_premium? == false && @show.free == false %>
        $('#modal-no-plan').modal({show: true, keyboard: false, backdrop: 'static'})
        $('#modal-no-plan').on('hidden.bs.modal', function () {
            window.location = '/'
        })

    <% elsif user_signed_in? %>
    <% else %>
        $('#modal-login').modal({show: true, keyboard: false, backdrop: 'static'})
        $('#modal-login').on('hidden.bs.modal', function () {
            window.location = '/'
        })
    <% end %>
});
</script>