<div class="splash mb30">
	<div class="container">
    	<div class="row">
        	<div class="col-sm-6">
            	<div class="media">
                	<div class="pull-left mr30"><%= image_tag @channel.image_url(:preview), class: "media-object", style: 'height: 50px' %></div>
                    <div class="media-body">
                    	<h3 class="name"><%= @channel.name %></h3>
                    </div>
                </div>
            </div>
        	<div class="col-sm-6">
            	<div class="channel-meta mt10">
                    <% if @channel.grid_id.present? %>
                        <%= link_to 'Full List', full_grid_path(category_id: @channel.grid_id), class: 'btn btn-primary btn-bold btn-w180' %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div><!--splash-->
<div class="content">
	<div class="container">
    	<div class="w960">
        	<div class="video-container" id='video_wrapper'>

            </div>
        </div>
		<div class="w960 text-right">
			<% if user_signed_in? && BrokenLink.already_submitted?(@channel.id, 'Channel', current_user.id, nil) == false %>
				<%= link_to 'Broken Video?', submit_broken_link_path(video_id: @channel.id, video_type: 'Channel', user_id: current_user.id), class: 'btn btn-primary btn-bold btn-w180', remote: true, id: 'report_link', data: {disable_with: 'Submitting...'} %>
			<% else %>
				<%= link_to 'Broken Video?', '#', class: 'btn btn-primary btn-bold btn-w180', remote: true, id: 'report_link', disabled: 'disabled' %>
			<% end %>
		</div>
		<% @item = @channel %>
        <%= render 'videos/partials/similar_links' %>
    </div>
</div><!--content-->


<div class="modal fade" id="report_modal">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-body p0">
				<div class='row row0' id='report_modal_body' style='padding: 15px;'>

				</div>
			</div>
			<div class='modal-footer'>
				<a href='#' class='btn btn-primary btn-block' data-dismiss="modal">OK</a>
			</div>
		</div>
	</div>
</div><!--modal-->


<script>

var userAgent = navigator.userAgent || navigator.vendor || window.opera;

if( userAgent.match( /Android/i ) || userAgent.match( /iPhone/i ) || userAgent.match( /iPad/i ) || userAgent.match( /iPod/i  ) ){
	$('#video_wrapper').html('<div id="mobile_player" class="mobile_player"><%= image_tag @channel.image_url, id: "mobile_bg_img", class: "mobile_bg_img" %><%= link_to image_tag("hover-play.png"), "#{@channel.hls_stream}?token=#{@token}", class: "play_icon_lg", id: "play_icon_lg" %></div>')
	$(window).load(function(){
		centerIcon();
		$(window).resize(function(){
			centerIcon();
		})
	})
}
else {
    jwplayer("video_wrapper").setup({
		sources: [
			{file: "<%= @channel.hls_stream %>?token=<%= @token %>"},
			{file: "<%= @channel.rtmp_stream %>?token=<%= @token %>"}
		],
		image: "<%= @channel.image_url %>",
		title:"<%= @channel.name %>",
		width: '100%',
		androidhls: true,
		height: 550
	});
}

function centerIcon(){
	$('#play_icon_lg').css("position","absolute");
    $('#play_icon_lg').css("top", Math.max(0, (($('#mobile_player').height() - $('#play_icon_lg').outerHeight()) / 2)))
    $('#play_icon_lg').css("left", Math.max(0, (($('#mobile_player').width() - $('#play_icon_lg').outerWidth()) / 2)))
	$('#mobile_bg_img').css("position","absolute");
    $('#mobile_bg_img').css("top", 0)
    $('#mobile_bg_img').css("left", ($('#mobile_player').width() - $('#mobile_bg_img').width()) / 2)
}

</script>
<% if (user_signed_in? && current_user.web_premium?) || admin_signed_in?  %>
	<script>
		jwplayer().play()
	</script>
<% elsif user_signed_in? && current_user.web_premium? == false && @channel.free == false %>
	<%= render('videos/partials/no_plan') %>
	<script>
		$('#modal-no-plan').modal({show: true, keyboard: false, backdrop: 'static'})
		$('#modal-no-plan').on('hidden.bs.modal', function () {
			window.location = '/'
		})
	</script>

<% elsif user_signed_in? %>
<% else %>
	<%= render('videos/partials/sign_in_modal_channel') %>
	<script>
		$('#modal-login').modal({show: true, keyboard: false, backdrop: 'static'})
		$('#modal-login').on('hidden.bs.modal', function () {
			window.location = '/'
		})
	</script>
<% end %>
<script>
	centerIcon();
</script>