<div class="splash mb30">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="media">
                    <div class="pull-left mr30"><%= image_tag @movie.image_url(:preview), class: "media-object", style: 'height: 50px' %></div>
                    <div class="media-body">
                        <h3 class="name"><%= @movie.name %></h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="channel-meta mt10">
                    <% if @movie.grid_id.present? %>
                        <%= link_to 'Full List', full_grid_path(category_id: @movie.grid_id), class: 'btn btn-primary btn-bold btn-w180' %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div><!--splash-->
<div class="content">
    <div class="container">
        <div class="w960">
            <div class="video-container" id='video_wrapper'>

            </div>
        </div>

        <%= render 'videos/partials/similar_links' %>
    </div>
</div><!--content-->
<script>
<% if @movie.rtmp_url.present? %>
jwplayer("video_wrapper").setup({
    sources: [
        {file: "<%= @movie.rtmp_url %>"},
        <% if @movie.stream_url.include?('/playlist.m3u8') %>
        {file: "<%= @movie.stream_url %>"}
        <% else %>
        {file: "<%= @movie.stream_url %>/playlist.m3u8"}
        <% end %>
    ],
    image: "<%= @movie.image_url %>",
    title:"<%= @movie.name %>",
    width: '100%',
    height: 550,
    primary: 'flash'
});
<% else %>
jwplayer("video_wrapper").setup({
    sources: [
        <% if @movie.stream_url.include?('/playlist.m3u8') %>
        {file: "<%= @movie.stream_url %>"}
        <% else %>
        {file: "<%= @movie.stream_url %>/playlist.m3u8"}
        <% end %>
    ],
    image: "<%= @movie.image_url %>",
    title:"<%= @movie.name %>",
    width: '100%',
    height: 550,
    primary: 'flash'
});
<% end %>
</script>
