<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-3">
                <div class="panel panel-custom">
                    <div class="panel-heading">
                        <h3 class="fz14"><%= @show.name %></h3>
                    </div>
                    <div class="panel-body b0" style='text-align:center'>
                        <%= image_tag @show.image_url, class: 'img-responsive' %>
                    </div>
                </div>
                <div class="socials">
                    <div class='episode_list_title'>
                        Episode List
                    </div>
                    <div class='episode_list'>
                        <% @episodes.each do |episode| %>
                            <div class='episode' id='episode_<%= episode.id %>' onclick='window.location="/watch/shows/<%= @show.id %>/<%= episode.episode_number %>"'>
                                <div class='title'>
                                    <%= episode.title %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-md-9">
                <div class="box-white">
                    <div class="data-bb clearfix">
                        <div class="pull-left">
                            <strong><%= @episode.title %></strong>
                            <div class="fz12-5"><%= @episode.release_date.strftime('%B %-d, %Y') %></div>
                        </div>
                        <div class="pull-right">
                            <div class="fz12-5"><%= pluralize(@episodes.count, 'Episode') %></div>
                        </div>
                    </div>
                    <div class="data-bb">
                        <%= simple_format(@episode.synopsis) %>
                    </div>
                    <div class='video_wrapper' id='video_wrapper'>

                    </div>
                </div>
                <%= render 'videos/partials/similar_links' %>
            </div>
        </div>
    </div>
</div><!--content-->
<script>
$('#episode_<%= @episode.id %>').addClass('active')
<% if @episode.rtmp_url.present? %>
jwplayer("video_wrapper").setup({
    sources: [
        {file: "<%= @episode.rtmp_url %>"},
        {file: "<%= @episode.stream_url %>"}
    ],
    image: "<%= @show.image_url %>",
    title:"<%= @episode.title %>",
    width: '100%',
    height: 400,
    primary: 'flash'
});
<% else %>
jwplayer("video_wrapper").setup({
    sources: [
        {file: "<%= @episode.stream_url %>"}
    ],
    image: "<%= @show.image_url %>",
    title:"<%= @episode.title %>",
    width: '100%',
    height: 400,
    primary: 'flash'
});
<% end %>
</script>
