<div class="splash mb30">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="media">
                    <div class="pull-left mr30"><%= image_tag @show.image_url(:preview), class: "media-object", style: 'height: 50px' %></div>
                    <div class="media-body">
                        <h3 class="name"><%= @show.name %></h3>
                        Episode <%= @episode.episode_number %>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="channel-meta mt10">
                    <% if @show.grid_id.present? %>
                        <%= link_to 'Full List', full_grid_path(category_id: @show.grid_id), class: 'btn btn-primary btn-bold btn-w180' %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div><!--splash-->
<div class="content">
    <div class="container">
        <div class="w960">
            <div class="video-container" id='video_wrapper'>

            </div>
        </div>
        <% @item = @channel %>
        <%= render 'videos/partials/similar/shows' %>
    </div>
</div><!--content-->






<script>
$('#episode_<%= @episode.id %>').addClass('active')
<% if @episode.rtmp_url.present? %>
jwplayer("video_wrapper").setup({
    sources: [
        {file: "<%= @episode.rtmp_url %>"},
        <% if @channel.stream_url.include?('/playlist.m3u8') %>
        {file: "<%= @episode.stream_url %>"}
        <% else %>
        {file: "<%= @episode.stream_url %>/playlist.m3u8"}
        <% end %>
    ],
    image: "<%= @show.image_url %>",
    title:"<%= @episode.title %>",
    width: '100%',
    height: 550,
    primary: 'flash'
});
<% else %>
jwplayer("video_wrapper").setup({
    sources: [
        <% if @episode.stream_url.include?('/playlist.m3u8') %>
        {file: "<%= @episode.stream_url %>"}
        <% else %>
        {file: "<%= @episode.stream_url %>/playlist.m3u8"}
        <% end %>
    ],
    image: "<%= @show.image_url %>",
    title:"<%= @episode.title %>",
    width: '100%',
    height: 550,
    primary: 'flash'
});
<% end %>
</script>
<% if (user_signed_in? && current_user.premium?) || admin_signed_in?  %>
    <script>
        jwplayer().play()
    </script>
<% elsif user_signed_in? && current_user.expired? %>
    <% if @show.free? %>
        <%= render('videos/partials/expired_account_modal') %>
        <script>
            $('#modal-expired').modal({show: true});
            jwplayer().play()
        </script>
    <% else %>
        <%= render('videos/partials/expired_account_modal') %>
        <script>
            $('#modal-expired').modal({show: true, keyboard: false, backdrop: 'static'})
            $('#modal-expired').on('hidden.bs.modal', function () {
                window.location = '/'
            })
        </script>
    <% end %>
<% elsif user_signed_in? && user.premium == false && @show.free == false %>
    <%= render('videos/partials/no_plan') %>
    <script>
        $('#modal-no-plan').modal({show: true, keyboard: false, backdrop: 'static'})
        $('#modal-no-plan').on('hidden.bs.modal', function () {
            window.location = '/'
        })
    </script>
<% else %>
    <%= render('videos/partials/sign_in_modal_show') %>
    <script>
        $('#modal-login').modal({show: true, keyboard: false, backdrop: 'static'})
        $('#modal-login').on('hidden.bs.modal', function () {
            window.location = '/'
        })
    </script>
<% end %>
</script>
