<div class="navbar-fixed-top">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to image_tag('admin_logo.png'), '/admins', class: 'navbar-brand' %>
            </div>
            <% if admin_signed_in? %>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to 'Dashboard', '/admins' %></li>
                    <li><%= link_to 'Clients', search_users_path %></li>
                    <li><%= link_to 'Orders', orders_path %></li>
                    <li><%= link_to 'Support', admin_support_path %></li>
                    <li><%= link_to 'Sales Reps', search_reps_main_path %></li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Utilities</a>
                        <ul class="dropdown-menu w265">
                            <li class="bb0"><span><i class="fa fa-gears"></i> Utilities</span></li>
                            <li><%= link_to 'Adminstrator Management', manage_admins_path %></li>
                            <li><%= link_to 'General Settings', general_settings_path %></li>
                            <li><%= link_to 'Mail Settings', mail_settings_path %></li>
                            <li><%= link_to 'Financial Settings', financial_settings_path %></li>
                            <li><%= link_to 'Permissions Settings', admin_roles_path %></li>
                            <li><%= link_to 'CRON Status', bg_tasks_path %></li>
                            <li><%= link_to 'System Log', sys_log_path %></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Videos</a>
                        <ul class="dropdown-menu w265">
                            <li class="bb0"><span><i class="fa fa-video-camera"></i> Video CMS</span></li>
                            <li><%= link_to 'Live Channels', live_channels_path %></li>
                            <li><%= link_to 'OnDemand Shows', tv_shows_path %></li>
                            <li><%= link_to 'OnDemand Movies', movies_path %></li>
                            <li><%= link_to 'Grid Management', admin_home_grid_path %></li>
                        </ul>
                    </li>
                    <li class="menu-icon dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ticket"></i><span class="count"><%= current_admin.missed_ticket_notifications %></span></a>
                        <ul class="dropdown-menu w265">
                            <li class="bb0"><span><span class="icon-ticket"></span> Recent Support Tickets</span></li>
                            <li>
                                <table class="table fz12-5">
                                    <tbody>
                                    <% current_admin.ticket_notifications.each do |notif| %>
                                    <tr>
                                        <td onclick='window.location = "<%= admin_view_notification_path(id: notif.id) %>"' style='cursor: pointer'><%= notif.message %></td>
                                    </tr>
                                    <% end %>
                                    </tbody>
                                </table>
                            </li>
                            <li class="dropdown-footer"><a href="/admins/support">Support Dashboard</a></li>
                        </ul>
                    </li>
                    <li class="menu-icon dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i><span class="count"><%= current_admin.missed_system_notifications %></span></a>
                        <ul class="dropdown-menu w265">
                            <li class="bb0"><span><i class="fa fa-bell"></i> Notifications</span></li>
                            <li>
                                <table class="table fz12-5">
                                    <tbody>
                                    <% current_admin.system_notifications.each do |notif| %>
                                    <tr>
                                        <td onclick='window.location = "<%= admin_view_notification_path(id: notif.id) %>"' style='cursor: pointer'><%= notif.message %></td>
                                    </tr>
                                    <% end %>
                                    </tbody>
                                </table>
                            </li>
                            <li class="dropdown-footer"><a href="/clear_notifs">Clear Notifications</a></li>
                        </ul>
                    </li>
                    <li><div class="sep"></div></li>
                    <li class="text-semi dropdown">
                    	<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_admin.name %> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                        	<li><span><%= current_admin.name %></span></li>
                        	<li><%= link_to raw('<span class="icon-user-circle"></span> Admin Profile'), view_admin_path(id: current_admin.id) %></li>
                            <% if current_admin.email == 'jtate@variationmedia.com' || current_admin == 'ewhyte@variationmedia.com' %>
                                <li><%= link_to 'Site Status', site_status_path %></li>
                            <% end %>
                        	<li class="dropdown-footer"><%= link_to raw('<span class="glyphicon glyphicon-lock"></span> Sign Out'), destroy_admin_session_path, method: :delete %></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <% end %>
        </div>
    </nav>
    <% if admin_signed_in? %>
    <div class="subnav">
    	<div class="container-fluid">
        	<div class="clearfix">
                <div class="subnav-left">
                    <button type="button" class="sidebar-toggle" data-toggle="sidebar" id='sidebar-toggle'>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="subnav-right">
                	<ol class="breadcrumb">
                    	<li><a href="/admins"><span class="icon-home"></a></li>
                        <li class="active"><span><%= yield(:top_level) %></span></li>
                        <% YAML.load(yield(:low_levels)).each do |level| %>
                            <li class='active'><span><%= level %></span></li>
                        <% end %>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <% end %>
</div>
