<div class="sidebar">
	<ul class="nav">
    	<% if params[:action] == 'general_settings' || params[:action] == 'edit_timezone' ||
			params[:action] == 'edit_device_limit' || params[:action] == 'edit_free_trial' || params[:action] == 'edit_wd_limits' %>
			<%= render 'admins/nav/sidenavs/general_settings' %>

		<% elsif params[:action] == 'mail_settings' || params[:action] == 'mail_markup' || params[:action] == 'mail_template' %>
			<%= render 'admins/nav/sidenavs/mail' %>

		<% elsif params[:action] == 'roles' || params[:action] == 'new_admin_role' || params[:action] == 'role' %>
			<%= render 'admins/nav/sidenavs/roles' %>

		<% elsif params[:action] == 'manage_admins' || params[:action] == 'new_admin' || params[:action] == 'view_admin' %>
			<%= render 'admins/nav/sidenavs/admins' %>

		<% elsif params[:action] == 'sales_reps' || params[:action] == 'view_rep' || params[:action] == 'new_sales_rep' %>
			<%= render 'admins/nav/sidenavs/sales_reps' %>

		<% elsif params[:action] == 'users' || params[:action] == 'view_user' || params[:action] == 'new_user' %>
			<%= render 'admins/nav/sidenavs/users' %>

		<% elsif params[:controller] == 'transactions' %>
			<%= render 'admins/nav/sidenavs/transactions' %>
		<% end %>
    </ul>
    <div class="sign-out">
    	<a href="#" class="btn btn-inverse btn-sm btn-block"><span class="glyphicon glyphicon-lock"></span> Sign Out</a>
    </div>
</div><!--sidebar-->
