<div class="sidebar">
	<ul class="nav">
    	<% if params[:action] == 'general_settings' || params[:action] == 'edit_timezone' ||
			params[:action] == 'edit_device_limit' || params[:action] == 'edit_free_trial' ||
			params[:action] == 'edit_wd_limits' || params[:action] == 'edit_payouts' ||
			params[:action] == 'edit_contact_email' || params[:action] == 'edit_footer_content' ||
			params[:action] == 'edit_languages' %>
			<%= render 'admins/nav/sidenavs/general_settings' %>

		<% elsif params[:action] == 'mail_settings' || params[:action] == 'mail_markup' || params[:action] == 'mail_template' %>
			<%= render 'admins/nav/sidenavs/mail' %>

		<% elsif params[:action] == 'roles' || params[:action] == 'new_admin_role' || params[:action] == 'role' %>
			<%= render 'admins/nav/sidenavs/roles' %>

		<% elsif params[:action] == 'manage_admins' || params[:action] == 'new_admin' || params[:action] == 'view_admin' %>
			<%= render 'admins/nav/sidenavs/admins' %>

		<% elsif params[:action] == 'sales_reps' || params[:action] == 'view_rep' || params[:action] == 'new_sales_rep' ||
		 		 params[:action] == 'payment_requests' || params[:action] == 'view_request' %>
			<%= render 'admins/nav/sidenavs/sales_reps' %>

		<% elsif params[:action] == 'view_user' || params[:action] == 'view_user_transactions' || params[:action] == 'view_user_devices' ||
		params[:action] == 'view_user_notes' || params[:action] == 'view_user_subscription' || params[:action] == 'view_user_balance' %>
			<%= render 'admins/nav/sidenavs/users_individual' %>


		<% elsif params[:action] == 'support' || params[:action] == 'new_tickets' || params[:action] == 'new_ticket' || params[:action] == 'admin_view_ticket'||
		params[:action] == 'open_tickets' || params[:action] == 'closed_tickets' || params[:action] == 'archived_tickets' ||
		params[:action] == 'priority_tickets' %>
			<%= render 'admins/nav/sidenavs/support' %>

		<% elsif params[:controller] == 'transactions' || params[:action] == 'orders' || params[:action] == 'new_transaction' ||
		params[:action] == 'pending_transactions' || params[:action] == 'paid_transactions' || params[:action] == 'cancelled_transactions' ||
		params[:action] == 'refunded_transactions' %>
			<%= render 'admins/nav/sidenavs/transactions' %>

		<% elsif params[:controller] == 'admins' && params[:action] == 'index' %>
			<%= render 'admins/nav/sidenavs/index' %>

		<% elsif params[:action] == 'live_channels' || params[:action] == 'movies' || params[:action] == 'shows' ||
		params[:action] == 'home_grid' || params[:action] == 'all_grids' || params[:action] == 'view_grid' ||
		params[:action] == 'new_grid' %>
			<%= render 'admins/nav/sidenavs/video' %>

		<% elsif params[:action] == 'new_vod_upload' || params[:action] == 'vod_uploads' || params[:action] == 'view_vod_upload' ||
		params[:action] == 'new_client_upload' || params[:action] == 'client_uploads' || params[:action] == 'view_client_upload' %>
			<%= render 'admins/nav/sidenavs/migrations' %>
		<% end %>
    </ul>
    <div class="sign-out">
		<%= link_to raw('<span class="glyphicon glyphicon-lock"></span> Sign Out'), destroy_admin_session_path, method: :delete, class: 'btn btn-inverse btn-sm btn-block' %>
    </div>
</div><!--sidebar-->
