<div class='panel panel-default'>
	<div class='panel-heading'>
		<h3 class='panel-title'>Plan Update</h3>
	</div>
	<div class='panel-body'>
		<% admin = Admin.find(@update.admin_id) %>
		<% old_plan_details = @update_data[:old_plan_details] %>
		<% new_plan_details = @update_data[:new_plan_details] %>
		<div class='row'>
			<div class='col-xs-12'>
				<div class='panel panel-default'>
					<div class='panel-heading'>
						<h3 class='panel-title'>Update Details</h3>
					</div>
					<div class='panel-body'>
						<div class='row'>
							<div class='col-md-4 col-sm-6'>
								<p><strong>Performed by:</strong><br/><%= admin.name %><br><%= link_to admin.email, 'mailto:'+admin.email %></p>
							</div>
							<div class='col-md-4 col-sm-6'>
								<p><strong>Time of update:</strong><br/><%= @update.created_at.strftime('%B %-d, %Y at %l:%M %p') %><br/><span style='font-weight: lighter'><em><%= distance_of_time_in_words(DateTime.now, @update.created_at) %> ago</em></span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='col-md-6'>
				<div class='panel panel-danger'>
					<div class='panel-heading'>
						<h3 class='panel-title'>Old Plan</h3>
					</div>
					<div class='panel-body'>
						<p><strong>Name:</strong><br/><%= old_plan_details[:name] %></p>
						<p><strong>Duration:</strong><br/><%= pluralize(old_plan_details[:months], 'month') %></p>
						<p><strong>Price:</strong><br/>$<%= number_with_precision(old_plan_details[:price], precision: 2) %></p>
						<p><strong>Features:</strong><br/><ul>
							<% unless old_plan_details[:features].nil? %>
								<% old_plan_details[:features].each do |feature| %>
									<li><%= feature %></li>
								<% end %>
							<% end %>
						</ul></p>
					</div>
				</div>
			</div>
			<div class='col-md-6'>
				<div class='panel panel-success'>
					<div class='panel-heading'>
						<h3 class='panel-title'>New Plan</h3>
					</div>
					<div class='panel-body'>
						<p><strong>Name:</strong><br/><%= new_plan_details[:name] %></p>
						<p><strong>Duration:</strong><br/><%= pluralize(new_plan_details[:months], 'month') %></p>
						<p><strong>Price:</strong><br/>$<%= number_with_precision(new_plan_details[:price], precision: 2) %></p>
						<p><strong>Features:</strong><br/><ul>
							<% unless new_plan_details[:features].nil? %>
								<% new_plan_details[:features].each do |feature| %>
									<li><%= feature %></li>
								<% end %>
							<% end %>
						</ul></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>