<div class='panel panel-default'>
    <div class='panel-heading'>
        <h3 class='panel-title'>Default Timezone Updated</h3>
    </div>
    <div class='panel-body'>
        <% admin = Admin.find(@update.admin_id) %>
        <div class='row'>
            <div class='col-xs-12'>
                <div class='panel panel-default'>
                    <div class='panel-heading'>
                        <h3 class='panel-title'>Update Details</h3>
                    </div>
                    <div class='panel-body'>
                        <div class='row'>
                            <div class='col-md-4 col-sm-6'>
                                <p><strong>Performed by:</strong><br/><%= admin.name %><br><%= link_to admin.email, 'mailto:'+admin.email %></p>
                            </div>
                            <div class='col-md-4 col-sm-6'>
                                <p><strong>Time of update:</strong><br/><%= @update.created_at.strftime('%B %-d, %Y at %l:%M %p') %><br/><span style='font-weight: lighter'><em><%= distance_of_time_in_words(DateTime.now, @update.created_at) %> ago</em></span></p>
                            </div>
                            <div class='col-md-6'>
                                <div class='panel panel-default'>
                                    <div class='panel-heading'>
                                        <h3 class='panel-title'>Timezone Details</h3>
                                    </div>
                                    <div class='panel-body'>
                                        <p><strong>Previous Timezone:</strong><br/><%= @update_data[:old_zone] %></p>
                                        <p><strong>New Timezone:</strong><br/><%= @update_data[:new_zone] %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
