<%
@parent_grid = @grid.clone
@child_grids = Grid.where(grid_id: @parent_grid.id).order(weight: :desc)
if @parent_grid.class_type == 'Show'
    if @parent_grid.sort == 'Alphabetical'
        items = Show.where(grid_id: @parent_grid.id).order(name: :asc)
    elsif @parent_grid.sort == 'Random'
        items = Show.where(grid_id: @parent_grid.id).shuffle
    else
        unsorted_items = Show.where(grid_id: @parent_grid.id)
        sort_hash = Hash.new
        unsorted_items.each do |item|
            sort_hash[item.id] = item.newest_episode
        end
        sort_hash.sort_by {|_key, value| value}

        items = Array.new
        sort_hash.each do |k,v|
            items.push(Show.find(k))
        end

    end
elsif @parent_grid.class_type == 'Channel'
    if @parent_grid.sort == 'Alphabetical'
        items = Channel.where(grid_id: @parent_grid.id).order(name: :asc)
    elsif @parent_grid.sort == 'Random'
        items = Channel.where(grid_id: @parent_grid.id).shuffle
    elsif @parent_grid.sort == 'New Arrivals/Episodes'
        items = Channel.where(grid_id: @parent_grid.id).order(created_at: :desc)
    end
elsif @parent_grid.class_type == 'Movie'
    if @parent_grid.sort == 'Alphabetical'
        items = Movie.where(grid_id: @parent_grid.id).order(name: :asc)
    elsif @parent_grid.sort == 'Random'
        items = Movie.where(grid_id: @parent_grid.id).shuffle
    elsif @parent_grid.sort == 'New Arrivals/Episodes'
        items = Movie.where(grid_id: @parent_grid.id).order(created_at: :desc)
    end
end
%>

<div class='col-xs-12' id='grid_<%= @parent_grid.id %>'>
    <div class='panel panel-default'>
        <div class='panel-heading' style='position:relative'>
            <h3 class='panel-title'><%= @parent_grid.weight %> | <%= @parent_grid.name %> <% if @parent_grid.home_page? %>(On Front Page)<% end %></h3>
            <div class='upload_image_heading'>
                <%= link_to 'Delete Grid', delete_grid_path(id: @parent_grid.id, redirect: false), class: 'btn btn-danger btn-sm', data: {confirm: 'Are you sure you want to delete this grid?', disable_with: 'Deleting...'}, remote: true %>
                <%= link_to 'Edit Grid', admin_view_grid_path(id: @parent_grid.id), class: 'btn btn-primary btn-sm' %>
            </div>
        </div>
        <div class='panel-body grid_body'>
            <div class='row'>
            <% @child_grids.each do |grid| %>
                <div class=' col-lg-2 col-sm-3 col-xs-6'>
                    <div class='movie_wrapper'>
                        <div class='image_wrapper'>
                            <%= image_tag grid.image_url %>
                        </div>
                        <div class='title_wrapper'>
                            <%= grid.name %>
                        </div>
                    </div>
                </div>
            <% end %>
            <% if items.any? %>
                <% items.each do |item| %>
                    <div class=' col-lg-2 col-sm-3 col-xs-6'>
                        <div class='movie_wrapper'>
                            <div class='image_wrapper'>
                                <%= image_tag item.image_url %>
                            </div>
                            <div class='title_wrapper'>
                                <%= item.name %>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% end %>
            </div>
        </div>
    </div>
</div>
