<%
@parent_grid = @grid.clone
@child_grids = Grid.where(grid_id: @parent_grid.id).order(weight: :asc)
if @parent_grid.class_type == 'Show'
    grid_items = Array.new
    if @parent_grid.sort == "Custom"
        @parent_grid.grid_items.where.not(weight: 0).order(weight: :asc).each do |item|
            unless item.video.nil?
                grid_items.push(item.video)
            end
        end
        @parent_grid.grid_items.where(weight: [0,nil]).each do |item|
            unless item.video.nil?
                grid_items.push(item.video)
            end
        end
    else
        @parent_grid.grid_items.each do |item|
            unless item.video.nil?
                grid_items.push(item.video)
            end
        end
    end
    items = []
    if grid_items.any?
        if @parent_grid.sort == 'Alphabetical'
            items = grid_items.sort_by{|a| a.name}
        elsif @parent_grid.sort == 'Random'
            items = grid_items.shuffle!
        elsif @parent_grid.sort == 'Custom'
            items = grid_items
        else
            sort_hash = Hash.new
            grid_items.each do |item|
                sort_hash[item.id] = item.newest_episode
            end
            sort_hash.sort_by {|_key, value| value}

            items = Array.new
            sort_hash.each do |k,v|
                items.push(Show.find(k))
            end

        end
    end
elsif @parent_grid.class_type == 'Channel'
    grid_items = Array.new
    if @parent_grid.sort == "Custom"
        @parent_grid.grid_items.where.not(weight: 0).order(weight: :asc).each do |item|
            unless item.video.nil?
                grid_items.push(item.video)
            end
        end
        @parent_grid.grid_items.where(weight: [0,nil]).each do |item|
            unless item.video.nil?
                grid_items.push(item.video)
            end
        end
    else
        @parent_grid.grid_items.each do |item|
            unless item.video.nil?
                grid_items.push(item.video)
            end
        end
    end
    items = []
    if grid_items.any?
        if @parent_grid.sort == 'Alphabetical'
            items = grid_items.sort_by{|a| a.name}
        elsif @parent_grid.sort == 'Random'
            items = grid_items.shuffle!
        elsif @parent_grid.sort == "Custom"
            items = grid_items
        elsif @parent_grid.sort == 'New Arrivals/Episodes'
            items = (grid_items.sort_by{|a| a.created_at}).reverse
        end
    end
elsif @parent_grid.class_type == 'Movie'
    grid_items = Array.new
    if @parent_grid.sort == "Custom"
        @parent_grid.grid_items.where.not(weight: 0).order(weight: :asc).each do |item|
            unless item.video.nil?
                grid_items.push(item.video)
            end
        end
        @parent_grid.grid_items.where(weight: [0,nil]).each do |item|
            unless item.video.nil?
                grid_items.push(item.video)
            end
        end
    else
        @parent_grid.grid_items.each do |item|
            unless item.video.nil?
                grid_items.push(item.video)
            end
        end
    end
    items = []
    if grid_items.any?
        if @parent_grid.sort == 'Alphabetical'
            items = grid_items.sort_by{|a| a.name}
        elsif @parent_grid.sort == 'Random'
            items = grid_items.shuffle!
        elsif @parent_grid.sort == 'Custom'
            items = grid_items
        elsif @parent_grid.sort == 'New Arrivals/Episodes'
            items = (grid_items.sort_by{|a| a.created_at}).reverse
        end
    end
end
%>


<div class='col-xs-12' id='grid_<%= @parent_grid.id %>'>
    <div class='panel panel-default'>
        <div class='panel-heading' style='position:relative'>
            <h3 class='panel-title'><%= @parent_grid.weight %> | <%= @parent_grid.name %> <% if @parent_grid.home_page? %>(On Front Page)<% end %></h3>
            <div class='upload_image_heading'>
                <%= link_to 'Delete Grid', delete_grid_path(id: @parent_grid.id, redirect: false), class: 'btn btn-danger btn-sm', data: {confirm: 'Are you sure you want to delete this grid?', disable_with: 'Deleting...'}, remote: true %>
                <%= link_to 'Edit Grid', admin_view_grid_path(id: @parent_grid.id), class: 'btn btn-primary btn-sm' %>
            </div>
        </div>
        <div class='panel-body grid_body'>
            <div class='row'>
            <% @child_grids.each do |grid| %>
                <div class=' col-lg-2 col-sm-3 col-xs-6'>
                    <div class='movie_wrapper'>
                        <div class='image_wrapper'>
                            <%= image_tag grid.image_url %>
                        </div>
                        <div class='title_wrapper'>
                            <%= link_to grid.name, admin_view_grid_path(id: grid) %>
                        </div>
                    </div>
                </div>
            <% end %>
            <% if items.any? %>
                <% items.each do |item| %>
                    <div class=' col-lg-2 col-sm-3 col-xs-6'>
                        <div class='movie_wrapper'>
                            <div class='image_wrapper'>
                                <%= image_tag item.image_url %>
                            </div>
                            <div class='title_wrapper'>
                                <% if item.is_a? Channel %>
                                    <%= link_to item.name, live_channels_path(id: item.id) %>
                                <% elsif item.is_a? Show %>
                                    <%= link_to item.name, tv_shows_path(id: item.id) %>
                                <% elsif item.is_a? Movie %>
                                    <%= link_to item.name, movies_path(id: item.id) %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% end %>
            </div>
        </div>
    </div>
</div>