<%= form_tag update_note_path, remote: true do %>
    <%= hidden_field_tag :user_id, @note.user_id %>
    <%= hidden_field_tag :note_id, @note.id %>
    <% if @note.note_colour.nil? %>
        <div class="form-editor expand bgcolor-1" id='note_form-<%= @note.id %>' style='margin-bottom: 10px'>
    <% else %>
        <div class="form-editor expand <%= @note.note_colour %>" id='note_form-<%= @note.id %>' style='margin-bottom: 10px'>
    <% end %>
        <div class='delete_note'><%= link_to raw("<i class='fa fa-times'></i>"), delete_note_path(id: @note.id), class: 'btn btn-icon', remote: true %></div>
        <%= text_field_tag :note_title, @note.title, class: 'form-control input-md input-title', placeholder: 'Title' %>
        <%= text_area_tag :note, @note.note, class: 'form-control', placeholder: 'Add a note...' %>
        <% lists = YAML.load(@note.checklist) %>
        <div class='' id='note-reglist' style='margin-bottom: 3px'>
            <% lists[:reglist].each do |list_item| %>
                <% @list_item = list_item %>
                <%= render 'users/partials/reglist_item_filled' %>
            <% end %>
        </div>
        <div class='' id='note-checklist' style='margin-bottom: 3px'>
            <% lists[:checklist].each do |list_item| %>
                <% @list_item = list_item %>
                <%= render 'users/partials/checklist_item_filled' %>
            <% end %>
        </div>
        <div class="icon-editor">
            <div class="row">
                <%= hidden_field_tag :color, @note.note_colour %>
                <div class="col-sm-6">
                    <div class="btn-group">
                        <button type="button" class="btn-icon" data-toggle="dropdown"><span class="fa fa-square-o"></span></button>
                        <div class="dropdown-menu dropdown-border" role="menu" id='color-picker-<%= @note.id %>'>
                            <a id='bgcolor-1 ' class="sqcolor-1"><%= hidden_field_tag :color_pick, 'bgcolor-1' %><span class="fa fa-check"></span></a>
                            <a id='bgcolor-2' class="sqcolor-2"><%= hidden_field_tag :color_pick, 'bgcolor-2' %><span class="fa fa-check"></span></a>
                            <a id='bgcolor-3' class="sqcolor-3"><%= hidden_field_tag :color_pick, 'bgcolor-3' %><span class="fa fa-check"></span></a>
                            <a id='bgcolor-4' class="sqcolor-4"><%= hidden_field_tag :color_pick, 'bgcolor-4' %><span class="fa fa-check"></span></a>
                            <a id='bgcolor-5' class="sqcolor-5"><%= hidden_field_tag :color_pick, 'bgcolor-5' %><span class="fa fa-check"></span></a>
                            <a id='bgcolor-6' class="sqcolor-6"><%= hidden_field_tag :color_pick, 'bgcolor-6' %><span class="fa fa-check"></span></a>
                            <a id='bgcolor-7' class="sqcolor-7"><%= hidden_field_tag :color_pick, 'bgcolor-7' %><span class="fa fa-check"></span></a>
                            <a id='bgcolor-8' class="sqcolor-8"><%= hidden_field_tag :color_pick, 'bgcolor-8' %><span class="fa fa-check"></span></a>
                          </div>
                    </div>
                    <button type="button" id='add_check-<%= @note.id %>' class='btn btn-icon'><i class='fa fa-check-square-o'></i></button>
                    <button type="button" id='add_reg-<%= @note.id %>' class='btn btn-icon'><i class='fa fa-list'></i></button>
                </div>
                <div class="col-sm-6 text-right save">
                    <div class="fz12-5" id='save_btn'><%= submit_tag 'Save Note', class: 'btn btn-icon', data: {disable_with: 'Saving...'} %></div>
                </div>
            </div>
        </div>
    </div>
<% end %>
<script>
    $('#color-picker-<%= @note.id %> a').click(function(){
        $('#color-picker-<%= @note.id %> a').removeClass('selected');
        $(this).addClass('selected');
        $('#note_form-<%= @note.id %>').removeClass('bgcolor-8 bgcolor-7 bgcolor-6 bgcolor-5 bgcolor-4 bgcolor-3 bgcolor-2 bgcolor-1');
        $('#note_form-<%= @note.id %>').addClass($(this).attr('id'));
        $('#note_form-<%= @note.id %>').children('.icon-editor').children('.row').children('#color').val($(this).attr('id'));
    });
    <% if @note.note_colour.present? %>
        $('#color-picker-<%= @note.id %> a#<%= @note.note_colour %>').addClass('selected')
    <% else %>
        $('#color-picker-<%= @note.id %> a#bgcolor-1').addClass('selected')
    <% end %>

    $('#add_check-<%= @note.id %>').click(function(){
        $('#note_form-<%= @note.id %>').children('#note-checklist').show()
        $('#note_form-<%= @note.id %>').children('#note-checklist').show().append('<%= escape_javascript(render("users/partials/checklist_item")) %>')
    })
    $('#add_reg-<%= @note.id %>').click(function(){
        $('#note_form-<%= @note.id %>').children('#note-reglist').show()
        $('#note_form-<%= @note.id %>').children('#note-reglist').show().append('<%= escape_javascript(render("users/partials/reglist_item")) %>')
    })
</script>
