<% if resource.is_a? User %>
<div class="splash">
	<div class="container">
    	<h3 class="name">Sign Into Your Account</h3>
    </div>
</div><!--splash-->
<% status = Setting.where(name: 'Active Registration').first.data %>
<% unless status == 'true' %>
	<% flash[:notice] = 'Registration and sign in is not active' %>
	<script>window.location = '/'</script>
<% end %>
<div class="content">
	<div class="container">
		<div class='col-md-3 col-sm-2 col-xs-1'></div>
		<div class='col-md-6 col-sm-8 col-xs-10'>
	        <div class="mlr90">
	            <div class="box-white">

				<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				  	<div class='form-group'>
				  		<%= f.email_field :email, autofocus: true, placeholder: 'Email Address', class: 'form-control' %>
				  	</div>

				  	<div class='form-group'>
				    	<%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'form-control' %>
				    </div>

				  	<div class='form-group'>
				  		<%= f.submit "Sign in", class: 'btn btn-primary form-control' %>
				  	</div>
				  	<%= render "devise/shared/links" %>
				<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<% elsif resource.is_a? Admin %>
    <div class="login-left" style="margin: auto; float: none">
    	<div class="text-center">
    		<h3>Sign in to Malimar</h3><br>
        	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
        </div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			<div class='form-group'>
				<div class="input-group">
					<div class="input-group-addon"><span class="icon-circle-user"></span></div>
					<%= f.email_field :email, autofocus: true, placeholder: 'Email Address', class: 'form-control' %>
				</div>
			</div>

			<div class='form-group'>
	      		<div class="input-group">
					<div class="input-group-addon"><span class="icon-circle-key"></span></div>
					<%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'form-control' %>
				</div>
			</div>
			<div class="form-group">
          		<p><span class="glyphicon glyphicon-question-sign"></span> &nbsp;forgot your <a href="/admins/password/new" class="blue">password?</a></p>
          	</div>
          	<div class="text-center">
				<%= f.submit "Sign in", class: ' btn btn-lblue mw-170' %>
          	</div>
		<% end %>
    </div>
<% elsif resource.is_a? SalesRepresentative %>
	<div class="login-left">
    	<div class="text-center">
    		<h3>Sales Representatives</h3><br>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
            <br><br>
            <p><a href="#" class="btn btn-blue btn-w170">Request a Position</a></p>
            <br><br><br>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
        </div>
    </div>
    <div class="login-right">
    	<div class="text-center">
    		<h3>Sign in to Malimar</h3><br>
        	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
        </div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			<div class='form-group'>
				<div class="input-group">
					<div class="input-group-addon"><span class="icon-circle-user"></span></div>
					<%= f.email_field :email, autofocus: true, placeholder: 'Email Address', class: 'form-control' %>
				</div>
			</div>

			<div class='form-group'>
	      		<div class="input-group">
					<div class="input-group-addon"><span class="icon-circle-key"></span></div>
					<%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'form-control' %>
				</div>
			</div>
			<div class="form-group">
          		<p><span class="glyphicon glyphicon-question-sign"></span> &nbsp;forgot your <a href="/admins/password/new" class="blue">password?</a></p>
          	</div>
          	<div class="text-center">
				<%= f.submit "Sign in", class: ' btn btn-lblue mw-170' %>
          	</div>
		<% end %>
    </div>
<% end %>
