<li id='timezone_side'><%= link_to 'Time Zone', edit_timezone_path %></li>
<li id='device_limit'><%= link_to 'Device Limit', edit_device_limit_path %></li>
<li id='free_trial'><%= link_to 'Free Trial', edit_free_trial_path %></li>
<li id='withdrawal_limits'><%= link_to 'Withdrawal Limits', edit_wd_limits_path %></li>
<li id='payouts'><%= link_to 'Payout Methods', edit_payouts_path %></li>
<li id='contact'><%= link_to 'Contact Email', edit_contact_email_path %></li>
<li id='footer'><%= link_to 'Footer Content', edit_footer_content_path %></li>
<li id='languages'><%= link_to 'User Languages', edit_languages_path %></li>
