<li><%= link_to 'New Client', new_user_path %></li>
<li><%= link_to 'New Sales Rep', new_rep_path %></li>
<li><%= link_to 'Support', admin_support_path %></li>
<li><%= link_to 'Orders', orders_path %></li>
<li><%= link_to 'VOD Migrations', vod_uploads_path %></li>
<li><%= link_to 'Client Migrations', client_uploads_path %></li>
