<li id='channels_nav'><%= link_to 'Live Channels', live_channels_path %></li>
<li id='shows_nav'><%= link_to 'TV Shows', tv_shows_path %></li>
<li id='movies_nav'><%= link_to 'Movies', movies_path %></li>
<li id='home_grid'><%= link_to 'Homepage Grids', admin_home_grid_path %></li>
<li id='all_grid'><%= link_to 'All Grids', admin_all_grids_path %></li>
<li id='new_grid'><%= link_to 'New Grid', admin_new_grid_path %></li>
<li id='broken_links'><%= link_to 'Broken Links', admin_broken_links_path %></li>
