<div class="col-lg-4 col-md-6" onclick='viewDevice(<%= @device.id %>)' id='device_<%= @device.id %>' style='height: 250px'>
    <div class="form-group">
        <label for="">&nbsp;</label>
        <div class="device-preview">
            <%= image_tag @device.type.downcase+'_large.png' %>
        </div>
    </div>
    <div class="fz12-5">
        <div class="text-semi text-dark">
            <% if @device.name.blank? %>
                <%= @device.humanized_type %>
            <% else %>
                <%= @device.nickname(true) %>
            <% end %>
        </div>
        <div class="text-grey text-light">
            <% if @device.type == 'Roku' %>
                <strong>Serial:</strong> <%= @device.serial %>
            <% else %>
                <strong>Serial:</strong> N/A
            <% end %>
        </div>
        <div class="text-grey text-light">
            <% if @device.type == 'Roku' %>
                <strong><%= @device.status %></strong>
            <% else %>
                <% user = User.find(@device.user_id) %>
                <% if user.premium? %>
                    Active
                <% else %>
                    Inactive
                <% end %>
            <% end %>
        </div>
        <% if @device.is_active.nil? || @device.is_active == true %>
            <% unless @device.premium? && @device.type == 'Roku' %>
                <div><span class="fa fa-check text-success"></span> <span class="text-grey text-light">Status</span> <span class="text-success">Available</span></div>
            <% else %>
                <% if @device.type = 'Roku' %>
                    <div><span class="fa fa-minus text-error"></span> <span class="text-grey text-light">Status</span> <span class="text-error">Expired</span></div>
                <% else %>
                    <% if @device.expiry.nil? || @device.expiry < Date.today %>
                        <div><span class="fa fa-minus text-error"></span> <span class="text-grey text-light">Status</span> <span class="text-error">Expired Token</span></div>
                    <% else %>
                        <div><span class="fa fa-check text-success"></span> <span class="text-grey text-light">Status</span> <span class="text-success">Available</span></div>
                    <% end %>
                <% end %>
            <% end %>
        <% else %>
            <div><span class="fa fa-minus text-error"></span> <span class="text-grey text-light">Status</span> <span class="text-error">Disabled</span></div>
        <% end %>
    </div>
</div>
