<h2 class='page-header'>
    My Profile
</h2>
<div class='row'>
    <div class='col-sm-6'>
        <%= form_tag update_admin_path, remote: true do %>
        <%= hidden_field_tag :id, @admin.id %>
        <div class='panel panel-default'>
            <div class='panel-heading' style='position:relative'>
                <h3 class='panel-title'>My Account Info</h3>
                <div class='upload_image_heading'>
                    <%= submit_tag 'Update Account', class: 'btn btn-primary btn-sm', data: {disable_with: 'Updating...'} %>
                </div>
            </div>
            <div class='panel-body'>
                <div class='row'>
                    <div class='col-md-6 form-group'>
                        <label>First Name</label>
                        <%= text_field_tag :first_name, @admin.first_name, class: 'form-control' %>
                    </div>
                    <div class='col-md-6 form-group'>
                        <label>Last Name</label>
                        <%= text_field_tag :last_name, @admin.last_name, class: 'form-control' %>
                    </div>
                    <div class='col-xs-12 form-group'>
                        <label>Email Address</label>
                        <%= text_field_tag :email, @admin.email, class: 'form-control' %>
                    </div>
                    <div class='col-xs-12 form-group'>
                        <label>Role</label>
                        <% if current_admin.authorized_to?('manage_admin') %>
                            <% @roles_array.push(['Root',0]) %>
                            <%= select_tag :role_id, options_for_select(@roles_array, @admin.role_id), class: 'form-control' %>
                        <% else %>
                            <%= select_tag :role_id, options_for_select([[AdminRole.find(@admin.role_id).name, @admin.role_id]], @admin.role_id), class: 'form-control' %>
                        <% end %>
                    </div>
                    <div class='col-xs-12 form-group'>
                        <label>Time Zone</label>
                        <% map = ActiveSupport::TimeZone.all %>
                        <% array = Array.new %>
                        <% map.each do |tz| %>
                            <% array.push(tz.to_s) %>
                        <% end %>

                        <% tz_options = [['Select A Timezone',nil]] %>

                        <% array.each do |tz_s| %>
                            <% tz_s.slice!(0..11) %>
                            <% tz_options.push(tz_s) unless tz_s.nil? %>
                        <% end %>
                        <%= select_tag :timezone, options_for_select(tz_options, @admin.timezone), class: 'form-control' %>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
        <div class='panel panel-default'>
            <div class='panel-heading' style='position:relative'>
                <h3 class='panel-title'>Password Reset</h3>
            </div>
            <div class='panel-body'>
                <%= link_to 'Send Reset Email', reset_admin_password_path(id: @admin.id), class: 'btn btn-primary', remote: true, data: {disable_with: 'Sending...'} %>
            </div>
        </div>
    </div>
    <div class='col-sm-6'>
        <div class='panel panel-default'>
            <div class='panel-heading'>
                <h3 class='panel-title'>My Activity Feed</h3>
            </div>
            <div class='panel-body' style='padding:0' id='feed_wrapper'>
                <div id='user_feed'>

                </div>
                <div class='text-center feed_message' style='' id='user_loading'>
                    <i class='fa fa-refresh fa-spin'></i>
                </div>
            </div>
        </div>
        <div id='admin_permissions' class='panel panel-default'>
            <%= render 'admins/partials/reg_account_permissions' %>
        </div>
    </div>
</div>
<script type="text/javascript">
    $.ajax({
        url: '/load_admin_activity_feed?id=<%= @admin.id %>'
    })
    function load_admin_updates(timestamp){
        $('#loading').html()
        $.ajax({
            url: '/load_admin_activity_feed?before='+timestamp+'&id=<%= @admin.id %>'
        })
    }
</script>
