<li>
    <a id='search_user_<%= @user.id %>' data-container="body" data-toggle="popover" data-placement="left" data-html="true" data-title="
        <div class='text-bold'>
            <%= @user.name %>
        </div>
        <%= @user.area %>"

        data-content="Client: #25477931AE<br>
            <% if @user.expiry.nil? || @user.expiry < Date.today %>
                Free Member
            <% else %>
                Premium: <%= distance_of_time_in_words_to_now(@user.expiry) %>
            <% end %><br>
            <% if @user.last_seen.nil? || @user.last_seen < 5.minutes.ago %>
                <span class='online'></span> Active
            <% end %>
            <a href='#' class='popover-footer'>Manage Client</a>">
        <span class="icon-circle-user"></span> <%= @user.name %>
    </a>

</li>
<script>
    $('#search_user_<%= @user.id %>').popover();
</script>
