<%= form_tag admin_add_subscription_path(user_id: @user.id), remote: true do %>
<div class='row'>
    <div class='col-xs-6'>
        <div class='panel panel-default'>
            <div class='panel-heading'>
                <h3 class='panel-title'>Add Subscription</h3>
            </div>
            <div class='panel-body'>
                <% rokus = Roku.where(user_id: @user.id) %>
                <%
                    options = [['Web/Tablet/Mobile',0]]
                    rokus.each do |roku|
                        if roku.name.present?
                            options.push(["#{roku.nickname(false)} - #{roku.serial}", roku.id])
                        else
                            options.push(["Roku - #{roku.serial}", roku.id])
                        end
                    end
                %>

                <div class='form-group' id='tx_serial_wrapper'>
                    <label>Choose a Roku <span class="text-danger">*</span></label>
                    <%= select_tag :tx_serial, options_for_select(options), class: 'form-control' %>
                </div>
                <div class="form-group">
                    <label for="">Plan <span class="text-danger">*</span></label>
                    <%
                    plans = Array.new
                    @plans = Plan.all.order(price: :asc)
                    @plans.each do |plan|
                        plans.push(["#{plan.name} - #{pluralize(plan.months, 'month')} (#{number_with_precision(plan.price, precision: 2)})", plan.id])
                    end
                    %>
                    <%= select_tag :plan_id, options_for_select(plans), class: 'form-control input-md' %>
                </div>
                <div class="form-group">
                    <label for="">Payment Method <span class="text-danger">*</span></label>
                    <%= select_tag :payment_type, options_for_select([['Choose Method',nil],'Credit Card','Bank Transfer','Money Order','Cheque']), class: 'form-control input-md' %>
                </div>
                <div id='credit_form' style='display:none'>
                    <div class="form-group">
                        <label for="">Card Holder’s Name <span class="text-danger">*</span></label>
                        <%= text_field_tag :card_name, @user.name, class: 'form-control input-md' %>
                    </div>
                    <div class="form-group">
                        <label for="">Credit Card Number <span class="text-danger">*</span></label>
                        <%= text_field_tag :card_number, '', class: 'form-control input-md' %>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="">Month<span class="text-danger">*</span></label>
                                <%= select_tag :card_month, options_for_select([['Expiry Month', nil],
                                                                                ['Jan (01)',1],
                                                                                ['Feb (02)',2],
                                                                                ['Mar (03)',3],
                                                                                ['Apr (04)',4],
                                                                                ['May (05)',5],
                                                                                ['Jun (06)',6],
                                                                                ['Jul (07)',7],
                                                                                ['Aug (08)',8],
                                                                                ['Sep (09)',9],
                                                                                ['Oct (10)',10],
                                                                                ['Nov (11)',11],
                                                                                ['Dec (12)',12]]), class: 'form-control' %>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="">Year<span class="text-danger">*</span></label>
                                <% years = [['Expiry Year', nil]] %>
                                <% this_year = (Date.today.strftime('%Y')).to_i %>
                                <% end_year = ((Date.today+15.years).strftime('%Y')).to_i %>
                                <% for i in this_year..end_year %>
                                   <% years.push(i) %>
                                <% end %>
                                <%= select_tag :card_year, options_for_select(years), class: 'form-control' %>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="">CVV <span class="text-danger">*</span></label>
                                <%= text_field_tag :ccv, '', class: 'form-control input-md' %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='col-xs-6'>
        <div class='panel panel-default'>
            <div class='panel-heading'>
                <h3 class='panel-title'>Transaction Details</h3>
            </div>
            <div class='panel-body' id='tx_details'>
                <% @plan = @plans.first %>
                <% @total = @plan.price - @user.balance %>
                <% @device = Device.new %>
                <% @device.expiry = @user.expiry %>
                <%= render 'admins/partials/transaction_details' %>
            </div>
            <div class='panel-footer'>
                <%= submit_tag 'Process Transaction', class: 'btn btn-primary', style: 'width: 100%', data: {disable_with: 'Processing...'} %>
            </div>
        </div>
    </div>
</div>
<% end %>
<script>
    $('#payment_type').change(function(){
        if ($('#payment_type').val() == 'Credit Card'){
            $('#credit_form').show()
        }
        else {
            $('#credit_form').hide()
        }
    })
    $('#plan_id').change(function(){
        $('#tx_details').html("<div class='stat-number'><div class='number'><i class='fa fa-refresh fa-spin'></i></div>Loading Details</div>")

        $.ajax({
            url: '/admin_choose_plan?plan_id='+$(this).val()+'&roku_id='+$('#tx_serial').val()+'&user_id=<%= @user.id %>'
        })
    })
    $('#tx_serial').change(function(){
        $('#tx_details').html("<div class='stat-number'><div class='number'><i class='fa fa-refresh fa-spin'></i></div>Loading Details</div>")

        $.ajax({
            url: '/admin_choose_plan?plan_id='+$('#plan_id').val()+'&roku_id='+$(this).val()+'&user_id=<%= @user.id %>'
        })
    })
</script>
