<tr style='cursor:pointer' onclick='window.location = "<%= view_user_path(id: @user.id) %>"'>
    <td><%= @user.id %></td>
    <td><%= @user.last_name %></td>
    <td><%= @user.first_name %></td>
    <td><%= @user.email %></td>
    <td><%= @user.city %></td>
    <td><%= @user.state %></td>
    <td><%= @user.country %></td>
    <td><%= @user.zip %></td>
    <td><%= @user.phone_1 %></td>
    <td><%= @user.phone_2 %></td>
    <td><%= @user.phone_3 %></td>
    <td><%= @user.mobile_phone %></td>
</tr>
