<%= form_tag admin_update_device_serial_path, remote: true, id: 'update_serial_form' do %>
<div class="modal fade" id="device_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="device-modal-title">My Device</h4>
            </div>
            <div class="modal-body">
                <div class='row'>
                    <div class='col-sm-6 hidden-xs text-center'>
                        <%= image_tag 'roku_large.png', style: 'max-width:100%; max-height: 250px', id: 'device_image' %>
                    </div>
                    <div class='col-sm-6 hidden-xs'>
                        <div class='row'>
                            <div class='col-sm-6'>
                                <p><strong>Device Type:</strong></br><span id='device_type'></span></p>
                            </div>
                            <div class='col-sm-6'>
                                <p><strong>Date Linked:</strong></br><span id='device_linked'></span></p>
                            </div>
                            <div class='col-xs-12'>
                                <p><strong>Membership:</strong></br><span id='device_status'></span></p>
                            </div>
                        </div>
                        <div class='form-group' id='serial_wrapper'>
                            <label>Device Serial</label>
                            <%= text_field_tag :device_serial, '', id: 'device_serial', class: 'form-control' %>
                            <%= hidden_field_tag :id, '', id: 'device_id' %>
                        </div>
                        <div class='form-group'>
                            <label>Nickname</label>
                            <%= text_field_tag :device_name, '', id: 'device_name', class: 'form-control' %>
                        </div>
                        <div class='form-group'>
                            <label>Adult Content</label>
                            <%= select_tag :device_adult, options_for_select([['Disabled',false],['Enabled',true]]), id: 'device_adult', class: 'form-control' %>
                        </div>
                        <div class='form-group'>
                            <label>Device Active</label>
                            <%= select_tag :device_active, options_for_select([['Enabled',true],['Disabled',false]]), id: 'device_active', class: 'form-control' %>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class='pull-left' id='unlink_btn'>

                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <%= submit_tag 'Save Changes', class: 'btn btn-primary', data: {disable_with: 'Saving...'} %>
            </div>
        </div>
    </div>
</div>
<% end %>
