$('#plan-error-<%= @plan.id %>').remove();
<% if @plan.errors.any? %>
	addNotification('error', 'The plan could not be updated', 'Error', 'exclamation-circle')
	$('#plan_<%=@plan.id %>').children('.panel').children('.panel-body').prepend('<div class="alert alert-danger" id="plan-error-<%= @plan.id %>"><%= @plan.errors.full_messages.join(". ") %>.</div>')
<% else %>
	addNotification('success', '<%= @plan.name %> has been updated', 'Success', 'check-circle')
<% end %>
