<% if @message.errors.any? %>
	var notification = new NotificationFx({
		message : '<p>You must enter text to send a message</p>',
		layout : 'growl',
		effect : 'jelly',
		type : 'danger', // notice, warning, error or success
		num: <%= (100 + rand(10000)).to_s %>
	});
<% else %>
	<% count = SupportMessage.where(support_case_id: @message.support_case_id).count %>
	var message = Autolinker.link('<%= @message.message.squish %>')
	$('#ticket_messages').prepend('<div class="message"><div class="row mb10"><div class="col-sm-6"><div class="fz12-5"><span class="nmb"><%= count %></span> <%= @message.user_name %>:</div></div><div class="col-sm-6"><div class="fz11-5 text-right"><%= @message.created_at.strftime('%B %-d, %Y at %H:%M') %></div></div></div><p>'+message+'</div>')
	$('#message').val('')
<% end %>
$('.timeago').timeago()
notification.show()
