<% if @attachment.errors.any? %>
	var notification = new NotificationFx({
		message : '<p>Error uploading file</p>',
		layout : 'growl',
		effect : 'jelly',
		type : 'danger', // notice, warning, error or success
		num: <%= (100 + rand(10000)).to_s %>
	});
<% else %>
	$('#ticket_attachments').prepend('<div class="col-md-3 col-sm-4 col-xs-6 support_image_wrapper"><%= link_to image_tag(@attachment.file_url), @attachment.file_url, target: "new" %></div>')
	$('#ticket_messages').prepend("<div class='message animated fadeIn'><div class='sent_message'><p class='title'>You said:</p><p class='timestamp'><em title='<%= (@message.created_at) %>' class='timeago'></em></p><p><%= @message.message %></p></div></div>")
	$('#message').val('')

	var notification = new NotificationFx({
		message : '<p>Your file has been uploaded</p>',
		layout : 'growl',
		effect : 'jelly',
		type : 'success', // notice, warning, error or success
		num: <%= (100 + rand(10000)).to_s %>
	});
<% end %>
$('.timeago').timeago()
notification.show()
