<% if @attachment.errors.any? %>
	addNotification('success', 'Error uploading file', 'Success', 'check-circle')
<% else %>
	<% count = SupportMessage.where(support_case_id: @message.support_case_id).count %>
	$('#ticket_attachments').prepend('<div class="col-xs-6"><div class="support_image_wrapper"><%= link_to image_tag(@attachment.file_url), @attachment.file_url, target: "new" %></div></div>')
	$('#ticket_messages').prepend('<div class="message"><div class="row mb10"><div class="col-sm-6"><div class="fz12-5"><span class="nmb"><%= count %></span> <%= @message.user_name %>:</div></div><div class="col-sm-6"><div class="fz11-5 text-right"><%= @message.created_at.strftime('%B %-d, %Y at %H:%M') %></div></div></div><p><%= @message.message %></p></div>')
	$('#message').val('')
	addNotification('success', 'Your file has been uploaded', 'Success', 'check-circle')
<% end %>
$('.timeago').timeago()
