$('#case_id').val(<%= @case.id %>)
$('#file_case_id').val(<%= @case.id %>)
<% if @case.admin_id.nil? %>
	$('#ticket_name').html('<strong>Administrator Name:</strong><br>N/A')
<% else %>
	<% admin = Admin.find(@case.admin_id) %>
	$('#ticket_name').html('<strong>Administrator Name:</strong><br><%= admin.name %>')
<% end %>

$('#ticket_email').html('')
<% priorities = ['Low', 'Medium', 'High'] %>
$('#ticket_priority').html('<strong>Priority:</strong><br><%= priorities[@case.priority] %>')
$('#support_modal').modal('show')

$('#ticket_category').html('<strong>Category:</strong><br><%= @case.category %>')

$('#ticket_issue').html('<%= simple_format(@case.issue_description) %>')

$('#ticket_messages').html('')
<% if @case.admin_id.nil? %>
	<% admin = nil %>
<% else %>
	<% @admin = Admin.find(@case.admin_id) %>
<% end %>
<% @messages.each do |message| %>
	var message = Autolinker.link('<%= message.message.squish %>')
	<% if message.user_id.nil? %>
		//Received Message
		<% admin = Admin.where(id: message.admin_id).first %>
		<% if admin.nil? %>
			$('#ticket_messages').append("<div class='message animated fadeIn'><div class='recv_message'><p class='title'>Admin said:</p><p class='timestamp'><em title='<%= (message.created_at) %>' class='timeago'></em></p><p>"+message+"</p></div></div>")
		<% else %>
			$('#ticket_messages').append("<div class='message animated fadeIn'><div class='recv_message'><p class='title'><%= admin.first_name %> said:</p><p class='timestamp'><em title='<%= (message.created_at) %>' class='timeago'></em></p><p>"+message+"</p></div></div>")
		<% end %>
	<% else %>
		// Sent message
		<% user = User.where(id: message.user_id).first %>
		<% if user.nil? %>
			$('#ticket_messages').append("<div class='message animated fadeIn'><div class='sent_message'><p class='title'>User said:</p><p class='timestamp'><em title='<%= (message.created_at) %>' class='timeago'></em></p><p>"+message+"</p></div></div>")
		<% else %>
			<% if user.id = current_user.id %>
				$('#ticket_messages').append("<div class='message animated fadeIn'><div class='sent_message'><p class='title'>You said:</p><p class='timestamp'><em title='<%= (message.created_at) %>' class='timeago'></em></p><p>"+message+"</p></div></div>")
			<% else %>
				$('#ticket_messages').append("<div class='message animated fadeIn'><div class='sent_message'><p class='title'><%= user.name %> said:</p><p class='timestamp'><em title='<%= (message.created_at) %>' class='timeago'></em></p><p>"+message+"</p></div></div>")
			<% end %>
		<% end %>
	<% end %>
<% end %>

$('#ticket_attachments').html('')
<% @attachments.each do |attachment| %>
	$('#ticket_attachments').append('<div class="col-md-3 col-sm-4 col-xs-6 support_image_wrapper"><%= image_tag attachment.file_url %></div>')
<% end %>
