<!DOCTYPE html>
<html>
<head>
  <title>Malimar TV</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:600,400,300,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
	<% unless user_signed_in? %>
		<%= render 'layouts/nav/navbar' %>
	<% else %>
		<%= render 'layouts/nav/navbar_logged_in' %>
	<% end %>
	<%= yield %>
	<%= render 'layouts/nav/footer' %>
<% flash.each do |name, msg| -%>
    <script>alert('<%= msg %>')</script>
<% end %>  
</body>
</html>
