<!DOCTYPE html>
<html>
<head>
	<title>Malimar TV</title>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<% if params[:controller] == 'admins' || params[:controller] == 'sales_reps' || params[:controller] == 'feed' ||
		request.original_url.end_with?('admins/sign_in', 'admins/password/new', 'admins/password', 'sales_representatives/sign_in', 'sales_representatives/password/new', 'sales_representatives/password', 'sales_representatives/password/edit') ||
		request.original_url.include?('admins/password/edit') || request.original_url.include?('sales_representatives/password/edit') ||
		params[:controller] == 'transactions' || params[:controller] == 'support' || params[:controller] == 'vod_migrations' %>
		<%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'admin_rep', 'data-turbolinks-track' => true %>
	<% else %>
		<%= stylesheet_link_tag    'main', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'main', 'data-turbolinks-track' => true %>
	<% end %>

	<link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.0/jquery.timeago.min.js'></script>

    <script src='/jwplayer/jwplayer.js'></script>
    <script type='text/javascript'>jwplayer.key = 'SkTelUdJ7DU2z068gn4mt6/EhKvLHRJnoBeHqf2IqNg='</script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600,400,300,700' rel='stylesheet' type='text/css'>
	<%= csrf_meta_tags %>
</head>
<% if params[:controller] == 'admins' || params[:controller] == 'feed' || request.original_url.end_with?('admins/sign_in', 'admins/password/new', 'admins/password') || request.original_url.include?('admins/password/edit') ||
	params[:controller] == 'transactions' || (params[:controller] == 'support' && params[:action].include?('admin')) || params[:controller] == 'vod_migrations' %>
<body>
	<% if admin_signed_in? %><%= render 'admins/nav/navbar' %><% end %>

	<% unless request.original_url.end_with?('admins/sign_in', 'admins/password/new', 'admins/password', 'admins/password/edit') %>
		<div class='main'>
			<div class='container-fluid'>
				<% if admin_signed_in? %><%= render 'admins/nav/sidenav' %><% end %>
				<div class='content'>
					<% if params[:action] == 'index' && params[:controller] == 'admins' %>
						<%= render 'admins/nav/client_side_search' %>
					<% end %>
					<%= yield %>
				</div>
			</div>
			<div class="footer">
	        	<div class="row">
	            	<div class="col-sm-6">Malimar TV Administration 1.0</div>
	                <div class="col-sm-6 text-right">Powered by <%= link_to image_tag("vm.png"), 'http://variationmedia.com' %></div>
	            </div>
	        </div>
		</div>
	<% else %>
		<div class='container-fluid'>
			<%= yield %>
		</div>
	<% end %>
	<script>
        var num = 0;

        <% flash.each do |name, msg| -%>
			<% icons = {error: 'exclamation-circle', success: 'check-circle', alert: 'info-circle', notice: 'info-circle'} %>

			$.growl({
				message: '<div class="notif-left"><i class="fa fa-<%= icons[name.to_sym] %> fa-fw"></i></div><div class="notif-right"><div class="fz16"><%= name.capitalize %></div><div class="fz12-5"><%= msg %></div></div>'
			},{
				type: "notif",
				placement: {
					from: "bottom",
					align: "right"
				},
				template: '<div data-growl="container" class="alert" role="alert">' +
					'<button type="button" class="close" data-growl="dismiss">' +
						'<span aria-hidden="true">×</span>' +
						'<span class="sr-only">Close</span>' +
					'</button>' +
					'<div data-growl="message" class="notif-wrapper"></div>' +
				'</div>'
			});
        <% end %>
			setHeight();
            $(function(){
				$(window).on('resize', function() {
					setHeight();
				});
				$('[data-toggle="sidebar"]').click(function(){
					if( $('.sidebar').is(':visible') ) {
						$('.sidebar').animate({ 'left': '-220px' }, 'slow', function(){
							$('.sidebar').hide();
						});
						$('.content').animate({ 'left': '0px' }, 'slow');
					}
					else {
						$('.sidebar').show();
						$('.sidebar').animate({ 'left': '15px' }, 'slow');
						$('.content').animate({ 'left': '220px' }, 'slow');
					}
				});
				$('[data-toggle="popover"]').popover();
				/*$.growl({
					message: '<div class="notif-left"><img src="img/img-circle-user.png"></div><div class="notif-right"><div class="fz16">Zoe Moulder </div><div class="fz12-5">registered to the site</div></div>'
				},{
					type: "notif",
					placement: {
						from: "bottom",
						align: "right"
					},
					template: '<div data-growl="container" class="alert" role="alert">' +
						'<button type="button" class="close" data-growl="dismiss">' +
							'<span aria-hidden="true">×</span>' +
							'<span class="sr-only">Close</span>' +
						'</button>' +
						'<div data-growl="message"></div>' +
					'</div>'
				});*/
            });

			function setHeight(){
				$('#left-scroll').css('height', $('.content').height())
				$('#right-scroll').css('height', $('.content').height() - 190)
				$(".nano").nanoScroller();
			}
			$('body').on('click', function (e) {
			    $('[data-toggle="popover"]').each(function () {
			        //the 'is' for buttons that trigger popups
			        //the 'has' for icons within a button that triggers a popup
			        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
			            $(this).popover('hide');
			        }
			    });
			});
        </script>
</body>
<% elsif params[:controller] == 'sales_reps' || request.original_url.end_with?('sales_representatives/sign_in', 'sales_representatives/password/new', 'sales_representatives/password') || request.original_url.include?('sales_representatives/password/edit') || (params[:controller] == 'support' && params[:action].include?('sales_rep')) %>
<body>
	<% if sales_representative_signed_in? %><%= render 'sales_reps/nav/navbar' %><% end %>

	<% unless request.original_url.end_with?('sales_representatives/sign_in', 'sales_representatives/password/new', 'sales_representatives/password') || request.original_url.include?('sales_representatives/password/edit') %>
		<div class='main'>
			<div class='container-fluid'>
				<% if sales_representative_signed_in? %><%= render 'sales_reps/nav/sidenav' %><% end %>
				<div class='content'>
					<%= yield %>
				</div>
			</div>
			<div class="footer">
				<div class="row">
					<div class="col-sm-6">Malimar TV Sales Portal 1.0</div>
					<div class="col-sm-6 text-right">Powered by <%= link_to image_tag("vm.png"), 'http://variationmedia.com' %></div>
				</div>
			</div>
		</div>
	<% else %>
		<div class='container-fluid'>
			<%= yield %>
		</div>
	<% end %>
	<script>
		<% flash.each do |name, msg| -%>
			<% icons = {error: 'exclamation-circle', success: 'check-circle', alert: 'info-circle', notice: 'info-circle'} %>

			$.growl({
				message: '<div class="notif-left"><i class="fa fa-<%= icons[name.to_sym] %> fa-fw"></i></div><div class="notif-right"><div class="fz16"><%= name.capitalize %></div><div class="fz12-5"><%= msg %></div></div>'
			},{
				type: "notif",
				placement: {
					from: "bottom",
					align: "right"
				},
				template: '<div data-growl="container" class="alert" role="alert">' +
					'<button type="button" class="close" data-growl="dismiss">' +
						'<span aria-hidden="true">×</span>' +
						'<span class="sr-only">Close</span>' +
					'</button>' +
					'<div data-growl="message" class="notif-wrapper"></div>' +
				'</div>'
			});
		<% end %>
		setHeight();
		$(function(){
			$(window).on('resize', function() {
				setHeight();
			});
			$('[data-toggle="sidebar"]').click(function(){
				if( $('.sidebar').is(':visible') ) {
					$('.sidebar').animate({ 'left': '-220px' }, 'slow', function(){
						$('.sidebar').hide();
					});
					$('.content').animate({ 'left': '0px' }, 'slow');
				}
				else {
					$('.sidebar').show();
					$('.sidebar').animate({ 'left': '15px' }, 'slow');
					$('.content').animate({ 'left': '220px' }, 'slow');
				}
			});
			$('[data-toggle="popover"]').popover();
			/*$.growl({
				message: '<div class="notif-left"><img src="img/img-circle-user.png"></div><div class="notif-right"><div class="fz16">Zoe Moulder </div><div class="fz12-5">registered to the site</div></div>'
			},{
				type: "notif",
				placement: {
					from: "bottom",
					align: "right"
				},
				template: '<div data-growl="container" class="alert" role="alert">' +
					'<button type="button" class="close" data-growl="dismiss">' +
						'<span aria-hidden="true">×</span>' +
						'<span class="sr-only">Close</span>' +
					'</button>' +
					'<div data-growl="message"></div>' +
				'</div>'
			});*/
		});

		function setHeight(){
			$('#left-scroll').css('height', $('.content').height())
			$('#right-scroll').css('height', $('.content').height() - 190)
			$(".nano").nanoScroller();
		}
		$('body').on('click', function (e) {
			$('[data-toggle="popover"]').each(function () {
				//the 'is' for buttons that trigger popups
				//the 'has' for icons within a button that triggers a popup
				if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
					$(this).popover('hide');
				}
			});
		});
	</script>
</body>
<% else %>
<body>
    <div class='notification-section' id='notifications'></div>
	<% unless user_signed_in? %>
		<%= render 'layouts/nav/navbar' %>
	<% else %>
		<%= render 'layouts/nav/navbar_logged_in' %>
	<% end %>
	<%= yield %>
	<%= render 'layouts/nav/footer' %>
	<script>
        var num = 0;

        <% flash.each do |name, msg| -%>

            var notification = new NotificationFx({
				message : '<p><%= msg %></p>',
				layout : 'growl',
				effect : 'jelly',
                <% if name == 'error' %>
				    type : 'danger', // notice, warning, error or success
                <% elsif name == 'alert' %>
                    type: 'warning',
                <% else %>
                    type : '<%= name %>', // notice, warning, error or success
                <% end %>
                num: num
			});

            notification.show()
            num++;

	    <% end %>
    </script>
</body>
<% end %>

<script id='template-upload'>
    <div class="progress" id='upload-progress'>
      	<div class="progress-bar progress-bar-info" style="width: 0%" id='upload-progress-bar'></div>
    </div>
</script>
</html>
