<!DOCTYPE html>
<html>
<head>
  	<title>Malimar TV</title>
  	<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  	<% if params[:controller] == 'admins' || params[:controller] == 'sales_reps' || params[:controller] == 'feed' %>
  		<%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  	<% else %>
  		<%= stylesheet_link_tag    'main', media: 'all', 'data-turbolinks-track' => true %>
  	<% end %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.0/jquery.timeago.min.js'></script>

    <script src='/jwplayer/jwplayer.js'></script>
    <script type='text/javascript'>jwplayer.key = 'SkTelUdJ7DU2z068gn4mt6/EhKvLHRJnoBeHqf2IqNg='</script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600,400,300,700' rel='stylesheet' type='text/css'>
  	<%= csrf_meta_tags %>
</head>
<% if params[:controller] == 'admins' || params[:controller] == 'feed' %>
<body>
	<%= render 'admins/nav/navbar' %>
	<%= yield %>
	<% flash.each do |name, msg| -%>
	    <script>alert('<%= msg %>')</script>
	<% end %>
</body>
<% elsif params[:controller] == 'sales_reps' %>
<body>
	<%= render 'sales_reps/nav/navbar' %>
	<%= yield %>
	<% flash.each do |name, msg| -%>
	    <script>alert('<%= msg %>')</script>
	<% end %>
</body>
<% else %>
<body>
	<% unless user_signed_in? %>
		<%= render 'layouts/nav/navbar' %>
	<% else %>
		<%= render 'layouts/nav/navbar_logged_in' %>
	<% end %>
	<%= yield %>
	<%= render 'layouts/nav/footer' %>
	<% flash.each do |name, msg| -%>
	    <script>alert('<%= msg %>')</script>
	<% end %>
</body>
<% end %>

<script id='template-upload'>
    <div class="progress" id='upload-progress'>
      	<div class="progress-bar progress-bar-info" style="width: 0%" id='upload-progress-bar'></div>
    </div>
</script>
</html>
